<form nz-form nzLayout="vertical" [formGroup]="validateForm">
  <div nz-row nzGutter="16" nzAlign="middle">
    <div nz-col nzSpan="18">
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired nzFor="plate">Placa</nz-form-label>
        <nz-form-control
          [nzSpan]="null"
          nzErrorTip="Preencha a placa"
        >
          <input id="plate" type="text" nz-input formControlName="plate"/>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="6">
      <button
        nz-button
        nzType="primary"
        (click)="filterVehicleByPlate()"
      >Buscar
      </button>
    </div>
  </div>

  <nz-form-item *ngIf="!authService.customerId">
    <nz-form-label [nzSpan]="null" nzRequired nzFor="customers">Clientes associados a este veiculo</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="Empresa inválida!">
      <nz-select
        id="customers"
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Selecione uma empresa"
        formControlName="customers"
        nzMode="multiple"
        nzServerSearch
        (nzOnSearch)="selectableCustomerService.searchByName($event)"
        (nzScrollToBottom)="selectableCustomerService.loadMoreCustomers()"
        [nzDropdownRender]="selectLoading"
      >
        <nz-option
          *ngFor="let customer of selectableCustomerService.customers"
          [nzLabel]="customer.tradingName"
          [nzValue]="customer.id"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <div nz-row nzGutter="12" nzAlign="middle">
    <div nz-col nzSpan="12">
      <nz-form-item *ngIf="!authService.customerId">
        <nz-form-label>Cliente Frota Mensal</nz-form-label>
        <nz-form-control nzErrorTip="Preencha o campo">
          <nz-select formControlName="customerMonthlyTruck" nzAllowClear nzServerSearch nzShowSearch
            nzPlaceHolder="Selecione um cliente" (nzOnSearch)="selectableCustomerService.searchByName($event)"
            (nzScrollToBottom)="selectableCustomerService.loadMoreCustomers()" [nzDropdownRender]="selectLoading">
            <nz-option *ngFor="let customer of selectableCustomerService.customers" [nzLabel]="customer.tradingName"
              [nzValue]="customer.id"></nz-option>
            <nz-option *ngIf="resource.customerMonthlyTruck" [nzLabel]="resource.customerMonthlyTruck?.tradingName"
              [nzValue]="resource.customerMonthlyTruck?.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired nzFor="workingSituation">Situação funcional</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Opção inválida!">
          <nz-select
            id="workingSituation"
            nzPlaceHolder="Selecione uma opção"
            formControlName="workingSituation">
              <nz-option
                *ngFor="let workingSituation of workingSituations"
                [nzLabel]="workingSituation.label"
                [nzValue]="workingSituation.value"
              ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="manufacturer">Montadora</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="Montadora inválida!">
      <nz-select
        (ngModelChange)="loadModels()"
        id="manufacturer"
        nzAllowClear
        nzShowSearch
        nzServerSearch
        nzPlaceHolder="Selecione uma montadora"
        formControlName="manufacturer"
        (nzScrollToBottom)="selectableVehicleManufacturersService.loadMoreManufacturers()"
        [nzDropdownRender]="selectLoading"
        (nzOnSearch)="selectableVehicleManufacturersService.searchByName($event)"
      >
        <nz-option *ngFor="let manufacturer of selectableVehicleManufacturersService.manufacturers"
                   [nzLabel]="manufacturer.name" [nzValue]="manufacturer.id"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <div nz-row nzGutter="24">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired nzFor="vehicleModel">Modelo</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Modelo inválido!">
          <nz-select
            nzServerSearch
            (nzScrollToBottom)="selectableVehicleModelService.loadMoreModels()"
            [nzDropdownRender]="selectLoading"
            (nzOnSearch)="selectableVehicleModelService.searchByName($event)"
            [nzDisabled]="selectableVehicleModelService.models.length === 0"
            (ngModelChange)="selectType()"
            id="vehicleModel"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Selecione um modelo"
            formControlName="vehicleModel"
          >
            <nz-option
              *ngFor="let vehicleModel of selectableVehicleModelService.models"
              [nzLabel]="vehicleModel.name"
              [nzValue]="vehicleModel.id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired nzFor="vehicleModelType">Tipo</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Tipo inválido!">
          <nz-select
            nzDisabled
            id="vehicleModelType"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Selecione um tipo"
            formControlName="vehicleModelType"
          >
            <nz-option *ngFor="let vehicleModelType of vehicleModelTypes" [nzLabel]="vehicleModelType.name"
                       [nzValue]="vehicleModelType.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="24">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired nzFor="state">Estado</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o estado. Apenas UF. (MG, SP, etc)">
          <input id="state" type="text" nz-input formControlName="state"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired nzFor="city">Cidade</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Preencha a cidade">
          <input id="city" type="text" nz-input formControlName="city"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="24">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired nzFor="color">Cor</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Preencha a cor">
          <input id="color" type="text" nz-input formControlName="color"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired nzFor="modelYear">Ano modelo</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o ano modelo">
          <input id="year" type="text" nz-input formControlName="modelYear"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="24">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired nzFor="chassis">Chassi</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o chassi">
          <input id="chassis" type="text" nz-input formControlName="chassis"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired nzFor="renavam">Renavam</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o renavam">
          <input id="renavam" type="text" nz-input formControlName="renavam"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="24">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired nzFor="numberOfAxles">Eixos</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o campo">
          <nz-form-control [nzSpan]="null">
            <input id="numberOfAxles" type="number" nz-input formControlName="numberOfAxles"/>
          </nz-form-control>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired nzFor="cubage">Cubagem</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o campo">
          <nz-form-control [nzSpan]="null">
            <input id="cubage" type="number" nz-input formControlName="cubage"/>
          </nz-form-control>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="24">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label></nz-form-label>
        <nz-form-control [nzSpan]="null" [nzOffset]="null">
          <label
            nz-checkbox
            formControlName="hasFatigueCamera"
          >Possui camera de fadiga?</label>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12" *ngIf="validateForm.value.hasFatigueCamera">
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzFor="cameraSerialNumber">Número Serial da Câmera</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o campo">
          <nz-form-control [nzSpan]="null">
            <input id="cameraSerialNumber" nz-input formControlName="cameraSerialNumber"/>
          </nz-form-control>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzFor="description">Descrição</nz-form-label>
    <nz-form-control [nzSpan]="null">
      <textarea rows="4" id="description" type="text" nz-input formControlName="description"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-divider></nz-divider>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button type="button" (click)="saveWithErrorHandling()" nz-button nzType="primary">
        <i nz-icon nzType="save"></i>Salvar Cavalo
      </button>
      <button type="button" (click)="backToCustomerList()" nz-button>
        <div  *ngIf="!authService.customerId">
          <i class="fas fa-arrow-left"></i> Voltar ao Cadastro
        </div>

        <div  *ngIf="authService.customerId">
          <i nz-icon nzType="unordered-list"></i> Listar Cavalos
        </div>
      </button>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #selectLoading>
  <nz-spin
    *ngIf="selectableVehicleManufacturersService.isLoadingMoreData || selectableCustomerService.isLoadingMoreData"></nz-spin>
</ng-template>
