<form nz-form nzLayout="vertical">
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="note">Placa</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="inválido!">
      <input id="cnpj" type="text" nz-input value="{{ truck.plate }}" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="note">Marca</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="inválido!">
      <input id="brandName" type="text" value="{{ truck.brand }}" nz-input />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="note">Modelo</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="inválido!">
      <input id="companyName" type="text" value="{{ truck.model }}" nz-input />
    </nz-form-control>
  </nz-form-item>
  <nz-divider></nz-divider>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button type="button" (click)="save()" nz-button nzType="primary">
        <i nz-icon nzType="save"></i>Salvar Cavalo
      </button>
      <button type="button" (click)="listTrucks()" nz-button>
        <i nz-icon nzType="unordered-list"></i>Listar Cavalos
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
