<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <nz-card>

    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a><i nz-icon nzType="idcard"></i><span>Dispositivos</span></a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="personalMonitoring?.id">
        Editar dispositivo ({{personalMonitoring?.id}})
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-divider></nz-divider>

    <form nz-form nzLayout="vertical" [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzFor="id">Token dispositivo</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="">
          <input id="id" type="text" nz-input formControlName="id" readonly disabled/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzFor="pkId">ID dispositivo</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="">
          <input id="pkId" type="text" nz-input formControlName="pkId" readonly disabled/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzFor="user">Usuários</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o campo">
          <nz-select
            id="user"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Selecione um usuário"
            formControlName="user"
            nzServerSearch
            (nzOnSearch)="selectableUsersService.searchByName($event)"
            (nzScrollToBottom)="selectableUsersService.loadMoreUsers()"
          >
            <nz-option
              *ngFor="let user of selectableUsersService.users"
              [nzLabel]="user.name"
              [nzValue]="user.id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-divider></nz-divider>

      <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <button type="button" (click)="save()" nz-button nzType="primary">
            <i nz-icon nzType="save"></i>Salvar Dispositivo
          </button>
          <button type="button" (click)="listPersonalMonitoring()" nz-button>
            <i nz-icon nzType="unordered-list"></i>Listar Dispositivos
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</nz-spin>

