<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <!--
    <nz-breadcrumb>
    <nz-breadcrumb-item>
      <i nz-icon nzType="dashboard"></i>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a><i nz-icon nzType="idcard"></i><span>Dispositivos</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item *ngIf="personalMonitoring?.id">
      Editar dispositivo ({{personalMonitoring?.id}})
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  -->
  <div class="pages-header">
    <div class="row m-b-10">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="d-md-flex">
          <div class="m-r-20">
            <h2>Editar dispositivo - {{personalMonitoring?.id}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nz-card> 
  
  <form nz-form nzLayout="vertical" [formGroup]="validateForm">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <nz-form-item>
          <nz-form-label [nzSpan]="null" nzFor="id">Token dispositivo</nz-form-label>
          <nz-form-control [nzSpan]="null" nzErrorTip="">
            <input id="id" type="text" nz-input formControlName="id" readonly disabled/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <nz-form-item>
          <nz-form-label [nzSpan]="null" nzFor="pkId">ID dispositivo</nz-form-label>
          <nz-form-control [nzSpan]="null" nzErrorTip="">
            <input id="pkId" type="text" nz-input formControlName="pkId" readonly disabled/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <nz-form-item>
          <nz-form-label [nzSpan]="null" nzFor="user">Usuários</nz-form-label>
          <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o campo">
            <nz-select
              id="user"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Selecione um usuário"
              formControlName="user"
              nzServerSearch
              (nzOnSearch)="selectableUsersService.searchByName($event)"
              (nzScrollToBottom)="selectableUsersService.loadMoreUsers()"
            >
              <nz-option
                *ngFor="let user of selectableUsersService.users"
                [nzLabel]="user.name"
                [nzValue]="user.id"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div class="page-buttons">
      <nz-form-item>
        <nz-form-control>
          <button type="button" (click)="listPersonalMonitoring()" nz-button>
            <i nz-icon nzType="unordered-list"></i>Listar Dispositivos
          </button>
          <button type="button" (click)="save()" nz-button nzType="primary">
            <i nz-icon nzType="save"></i>Salvar Dispositivo
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
</nz-card>
</nz-spin>
