<nz-table
  #table
  [nzData]="monitoringRequests?.results"
  [nzTotal]="monitoringRequests?.count"
  [nzPageSize]="monitoringRequests?.limit"
  [nzPageIndex]="page"
  [nzFrontPagination]="false"
  (nzQueryParams)="handleQueryParamsChange.emit($event)"
  nzSize="small"
  nzTableLayout="fixed"
  [nzScroll]="{ y: '768px', x: '768px' }"
  [nzLoading]="isLoading"
>
  <thead>
  <tr>
    <th
      *ngFor="let column of monitoringRequestsColumns"
      [nzSortFn]="column.compare"
      nzWidth="110px"
    >{{ column.title }}</th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let item of table.data; let i=index"
    [style]="{
      'background-color': rowColor,
      color: rowColor.includes('fff') ? '#000' : '#fff'
    }"
  >
    <td nz-tooltip [nzTooltipTitle]="item.id">{{item.id | id}}</td>
    <td>{{getOcrNumber(item)}}</td>
    <td>{{item.customer?.tradingName ?? '-'}}</td>
    <td>{{item.shipper?.tradingName || item.transporter?.tradingName || '-'}}</td>
    <td>{{item.driver?.name ?? '-'}}</td>
    <td>{{item.truck?.vehicle.plate}}</td>
    <td>{{getWagons(item)}}</td>
    <td>{{getUpdateDiff(item)}}</td>
    <td>{{getDepartureTime(item)}}</td>
    <td>{{getArrivalTime(item)}}</td>
    <td>{{item.lastPosition?.pointReference}}</td>
    <td>{{item.lastPosition?.positionDate | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td>
      <img
        *ngIf="item.lastPosition?.trackerTechnologyName"
        [src]="'assets/images/brand/200x200/' + item.lastPosition?.trackerTechnologyName?.toLowerCase() + '.png'"
        alt="logo"
        width="25px"
        height="25px"
      />
    </td>
    <td>
      <div class="d-flex">
        <a
          *ngIf="!['draft'].includes(item.status)"
          (click)="view.emit(item)"
          class="m-r-5"
          nz-button
          nzType="default"
          nzShape="circle"
          nz-tooltip
          nzTooltipTitle="Visualizar"
        >
          <i nz-icon nzType="eye" nzTheme="outline"></i>
        </a>
        <a
          *ngIf="['draft', 'reproved'].includes(item.status)"
          (click)="edit.emit(item)"
          class="m-r-5"
          nz-button
          nzType="default"
          nzShape="circle"
          nz-tooltip
          nzTooltipTitle="Editar"
        >
          <i nz-icon nzType="edit" theme="outline"></i>
        </a>

        <div *ngIf="item.status === 'draft'">
          <a
            (click)="delete.emit(item)"
            class="m-r-5"
            nz-button
            nzType="default"
            nzShape="circle"
            nz-tooltip
          >
            <i
              nz-icon
              nzType="delete"
              theme="outline"
            ></i>
          </a>
        </div>

        <div
          *ngIf="authService.user.isGertranStaff && !['draft', 'under_review'].includes(item.status)"
        >
          <a
            *ngFor="let status of possibleStatus[item.status]; let i=index"
            (click)="moveMonitoringRequestToStatus(item, status)"
            class="m-r-5"
            nz-button
            nzType="default"
            nzShape="circle"
            nz-tooltip
            [nzTooltipTitle]="status.label"
          >
            <i nz-icon [nzType]="statusIcons[status.value]" theme="outline"></i>
          </a>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</nz-table>
