td,
th {
  font-size: 14px;
  line-height: 1;
}

td {
  padding: 4px !important;
}

table:hover,
tr:hover,
thead:hover {
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: none !important;
}
