<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <nz-card>

    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a><i nz-icon nzType="star"></i><span>Clientes</span></a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="customer?.id">
        Editar Cliente ({{customer.tradingName}})
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="!customer?.id">
        Adicionar Cliente
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-divider></nz-divider>

    <nz-tabset>
      <nz-tab nzTitle="Dados da Matriz">
        <ng-template nz-tab>
          <app-customers-form
            *ngIf="customer"
            [customer]="customer"
            (save)="onSubmit($event)"
            (update)="onChangeCustomer($event)"
          ></app-customers-form>
        </ng-template>
      </nz-tab>

      <nz-tab nzTitle="Endereço">
        <ng-template nz-tab>
          <app-addresses-form
            *ngIf="customer"
            [customer]="customer"
            (onSave)="onSubmit()"
            (onChange)="onChangeCustomer($event)"
          ></app-addresses-form>
        </ng-template>
      </nz-tab>

      <nz-tab nzTitle="Filiais" [nzDisabled]="!customer?.id">
        <ng-template nz-tab>
          <app-branch-office-tab *ngIf="customer?.id" [customer]="customer"></app-branch-office-tab>
        </ng-template>
      </nz-tab>

      <nz-tab nzTitle="Contatos" [nzDisabled]="!customer?.id">
        <ng-template nz-tab>
          <app-contacts-tab *ngIf="customer?.id" [customer]="customer"></app-contacts-tab>
        </ng-template>
      </nz-tab>

      <nz-tab nzTitle="Operações compartilhadas" [nzDisabled]="!customer?.id">
        <ng-template nz-tab>
          <app-shared-operations-tab *ngIf="customer?.id" [customer]="customer"></app-shared-operations-tab>
        </ng-template>
      </nz-tab>

      <nz-tab nzTitle="Documentos" [nzDisabled]="!customer?.id">
        <ng-template nz-tab>
          <app-documents-tab
            *ngIf="customer?.id"
            resource="customers"
            [resourceId]="customer?.id"
          ></app-documents-tab>
        </ng-template>
      </nz-tab>

      <nz-tab nzTitle="Permissões" [nzDisabled]="!customer?.id">
        <ng-template nz-tab>
          <app-permissions-tab
            *ngIf="customer?.id"
            [targetKeys]="numbersToStrings(customer?.permissions)"
            (save)="savePermission($event)"
          ></app-permissions-tab>
        </ng-template>
      </nz-tab>

      <nz-tab nzTitle="Jornada de trabalho" [nzDisabled]="!customer?.id">
        <ng-template nz-tab>
          <app-workday-tab
            *ngIf="customer?.id"
            [customer]="customer"
          ></app-workday-tab>
        </ng-template>
      </nz-tab>

      <nz-tab nzTitle="Ações por macro" [nzDisabled]="!customer?.id">
        <ng-template nz-tab>
          <app-workday-automations-tab
            *ngIf="customer?.id"
            [customer]="customer"
          ></app-workday-automations-tab>
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</nz-spin>
