<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <nz-card>

    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a><i nz-icon nzType="star"></i><span>Clientes</span></a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="customer?.id">
        Editar Cliente ({{customer.tradingName}})
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="!customer?.id">
        Adicionar Cliente
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-divider></nz-divider>

    <nz-tabset>
      <nz-tab nzTitle="Dados da Matriz">
        <app-customers-form
          *ngIf="customer"
          [customer]="customer"
          (onSave)="onSubmit($event)"
        ></app-customers-form>
      </nz-tab>

      <nz-tab nzTitle="Endereço" [nzDisabled]="!customer?.id">
        <app-addresses-form
          *ngIf="customer"
          [customer]="customer"
          (onSave)="onSubmit($event)"
        ></app-addresses-form>
      </nz-tab>

      <nz-tab nzTitle="Filiais" [nzDisabled]="!customer?.id">
        <app-branch-office-tab *ngIf="customer?.id" [customer]="customer"></app-branch-office-tab>
      </nz-tab>

      <nz-tab nzTitle="Contatos" [nzDisabled]="!customer?.id">
        <app-contacts-tab *ngIf="customer?.id" [customer]="customer"></app-contacts-tab>
      </nz-tab>

      <nz-tab nzTitle="Documentos" [nzDisabled]="!customer?.id">
        <app-documents-tab *ngIf="customer?.id" [customer]="customer"></app-documents-tab>
      </nz-tab>

      <nz-tab nzTitle="Permissões" [nzDisabled]="!customer?.id">
      </nz-tab>

    </nz-tabset>
  </nz-card>
</nz-spin>
