<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <nz-card>

    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a><i nz-icon nzType="idcard"></i><span>Checklist</span></a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Solicitar checklist
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-divider></nz-divider>

    <form nz-form nzLayout="vertical" [formGroup]="validateForm">
      <nz-form-item *ngFor="let form of formVehiclesCount">
        <nz-form-label>Veiculo {{ form }}</nz-form-label>
        <nz-form-control nzErrorTip="Preencha o campo">
          <nz-select
            [formControlName]="'plate' + form"
            nzAllowClear
            [nzDisabled]="selectableTrucksService.trucks.length === 0"
            (nzScrollToBottom)="selectableTrucksService.loadMoreTrucks()"
            [nzDropdownRender]="selectLoading"
            nzShowSearch
            nzServerSearch
            (nzOnSearch)="selectableTrucksService.searchByPlate({ plate: $event, customerId: '' })"
            (ngModelChange)="handleModelChange()"
          >
            <nz-option
              *ngFor="let vehicle of selectableTrucksService.trucks"
              [nzLabel]="vehicle.vehicle.plate"
              [nzValue]="vehicle.vehicle.id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-divider></nz-divider>

      <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <button type="button" (click)="save()" nz-button nzType="primary">
            <i nz-icon nzType="save"></i>Enviar solicitação
          </button>
          <button type="button" (click)="list()" nz-button>
            <i nz-icon nzType="unordered-list"></i>Listar Checklists
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</nz-spin>

<ng-template #selectLoading>
  <nz-spin *ngIf="selectableTrucksService.isLoadingMoreData"></nz-spin>
</ng-template>
