<nz-list class="demo-loadmore-list" [nzLoading]="isLoading">
  <nz-list-item *ngFor="let item of list">
    <ng-container *ngIf="!item.loading">
      <nz-list-item-meta [nzDescription]="item.date | date: 'dd/MM/yyyy HH:mm'">
        <nz-list-item-meta-title>
          {{ item.content }}
        </nz-list-item-meta-title>
      </nz-list-item-meta>

      <ul nz-list-item-actions>
        <nz-list-item-action>
          <a (click)="markAsRead(item)">
            {{ urgent ? 'Resolver' : 'Marcar como lido' }}
          </a>
        </nz-list-item-action>
      </ul>
    </ng-container>

    <nz-skeleton
      *ngIf="item.loading"
      [nzActive]="true"
      [nzTitle]="false"
      [nzLoading]="true"
    ></nz-skeleton>
  </nz-list-item>
</nz-list>

<nz-modal
  [(nzVisible)]="isUrgentModalOpen"
  nzOkText="Salvar"
  nzCancelDisabled
  nzTitle="Atenção"
  (nzOnOk)="resolveUrgency()"
>
  <ng-container *nzModalContent>
    <input placeholder="Considerações" nz-input [(ngModel)]="urgentMessage" />
  </ng-container>
</nz-modal>
