<nz-table
  #automationsListTable
  nzSize="small"
  [nzData]="alerts?.results"
  [nzTotal]="alerts?.count"
  [nzPageSize]="alerts?.limit"
  [nzPageIndex]="page"
  [nzFrontPagination]="false"
  (nzQueryParams)="handleQueryParamsChange($event)"
  [nzLoading]="isLoading"
>
  <thead>
  <tr>
    <th class="text-center">Data/hora</th>
    <th class="text-center">Placa</th>
    <th class="text-center">Cliente</th>
    <th class="text-center">Mensagem</th>
    <th class="text-center">Ação</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of automationsListTable.data;  let i=index">
    <td class="text-center">{{(item.receivedAt || item.createdAt) | date: 'dd/MM/yyyy HH:mm'}}</td>
    <td class="text-center">{{item.vehicle.plate}}</td>
    <td class="text-center">
      {{item.customer?.tradingName}}
    </td>
    <td>
      <div class="d-flex align-items-center">
        <h6 class="m-b-0">{{item.message}}</h6>
      </div>
    </td>
    <td class="text-center">
      <button
        (click)="openCommandsModal(item.position)"
        nz-button
        nzType="default"
        nzSize="small"
        nzShape="round"
        class="m-r-10"
      >
        <span nz-icon nzType="send"></span>
        Enviar comando
      </button>

      <button
        (click)="openMessagesModal(item.position)"
        nz-button
        nzType="default"
        nzSize="small"
        nzShape="round"
        class="m-r-10"
      >
        <span nz-icon nzType="send"></span>
        Enviar mensagem
      </button>

      <a
        (click)="markAsSolved(item)"
        nz-button
        nzType="primary"
        nzShape="circle"
        nz-tooltip
        [disabled]="item.solvedAt"
        [nzTooltipTitle]="isUrgent ? 'Resolver' : 'Marcar como lida'"
      >
        <i nz-icon [nzType]="isUrgent ? 'check' : 'check-circle'"></i>
      </a>
    </td>
  </tr>
  </tbody>
</nz-table>

<nz-modal
  [(nzVisible)]="isUrgentModalOpen"
  nzOkText="Salvar"
  nzCancelDisabled
  nzTitle="Atenção"
  (nzOnOk)="resolveAlert()"
>
  <ng-container *nzModalContent>
    <input placeholder="Considerações" nz-input [(ngModel)]="urgentMessage" />
  </ng-container>
</nz-modal>
