.dash-header {
  display: flex;
  align-items: center;
  background: #ededed;
  border-bottom: 1px solid #72849a;
  margin: -25px -15px 10px -15px;
  padding: 10px 10px 10px 130px;
}

.dash-header-title {
  background: #72849a;
  border-radius: 3px;
  padding: 8px 40px 3px;
  font-size: 17px;
  color: #fff;
  margin: 0 10px;
  height: 40px;
}

.dash-header .anticon {
  font-size: 24px;
  margin-right: 10px;
}

.dash-header .anticon + .dash-header-title {
  margin-left: 0px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content h3 {
  margin: 0;
  text-align: left;
}

.dash-select {
  width: 400px;
  height: 40px;
}

.dash-title {
  font-size: 30px;
}

.dash-list {
  list-style: none;
}

li {
  padding: 10px;
  margin: 0 -15px;
  font-size: 20px;
  border-bottom: 1px solid #cecece;

  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  grid-gap: 5px;
}

.justify-self-end {
  justify-self: end;
}

.danger {
  background: #eb5a5a;
}

.warning {
  background: yellow;
}

.dash-header .logo {
  background-color: #fff;
  width: auto;
  height: 70px;
  margin-left: 20px;
  border: 1px solid #72849a;
  border-top: 0px;
  border-radius: 0pxx;
  padding: 5px;
  box-shadow: 0px 0px 5px #72849a;
  position: absolute;
  top: 0px;
  left: -3px;
}

.dash-header .logo img {
  height: 60px !important;
  width: auto !important;
}


.table-header {
  color: #2a2a2a;
  font-size: 0.75rem;
  font-weight: bold;
  background: #ededed;
  border: 1px solid #2a2a2a;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  border: 1px solid black;
}

th, td {
  font-weight: bold;
  font-size: 16px;
}

.max-width-cell {
  max-width: 200px; /* Set your desired maximum width */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.square {
  height: 16px;
  width: 16px;
  display: inline-block;
  border: 1px solid black;
}

.square:not(:first-of-type) {
  margin-left: 10px;
}

.bg-alert {
  background: yellow;
}

.bg-default {
  background: white;
}

.bg-danger {
  background: #eb5a5a;
}