<div class="row m-b-30">
  <div class="col-lg-12 text-right">
    <button
      (click)="this.isCreatingTracker = true"
      nz-button
      nzType="primary"
    >
      <i nz-icon nzType="plus" theme="outline"></i>
      <span>Adicionar Rastreador</span>
    </button>
  </div>
</div>

<app-trackers-table
  [vehicleId]="vehicleId"
  [refreshTrackers]="refreshTrackers"
  (openForm)="setTrackerAndOpenForm($event)"
></app-trackers-table>

<app-trackers-form
  *ngIf="this.isCreatingTracker"
  [vehicleId]="vehicleId"
  [visible]="this.isCreatingTracker"
  [trackerId]="tracker?.id"
  (cancel)="closeForm()"
  (success)="closeFormAndRefreshList()"
></app-trackers-form>
