<nz-table
  #workdayAutomationsListTable
  [nzData]="resources?.results"
  [nzTotal]="resources?.count"
  [nzPageSize]="resources?.limit"
  [nzPageIndex]="page"
  [nzFrontPagination]="false"
  (nzQueryParams)="handleQueryParamsChange($event)"
>
  <thead>
  <tr>
    <th *ngFor="let column of workflowAutomationColumns">{{ column.title }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of workdayAutomationsListTable.data;  let i=index">
    <td>{{item.id | id}}</td>
    <td class="text-md-center">{{item.eventDescription}}</td>
    <td class="text-md-center">{{item.workdayStatus}}</td>
    <td class="text-md-center">{{item.monitoringRequestStatus}}</td>
    <td>
      <a
        (click)="delete(item)"
        class="m-r-5"
        nz-button
        nzType="default"
        nzShape="circle"
        nz-tooltip
        nzTooltipTitle="Deletar"
      >
        <i nz-icon nzType="delete" theme="outline"></i>
      </a>

      <a
        (click)="edit(item)"
        nz-button
        nzType="default"
        nzShape="circle"
        nz-tooltip
        nzTooltipTitle="Editar"
      >
        <i nz-icon nzType="edit" theme="outline"></i>
      </a>
    </td>
  </tr>
  </tbody>
</nz-table>
