<nz-spin [nzSpinning]="isLoading" nzTip="Aguarde...">
  <h2>Cliente</h2>
  <table class="custom-bordered-table">
    <tr>
      <th class="first-column">Embarcador</th>
      <td>{{monitoringRequest?.data?.customer?.tradingName ?? '-' }}</td>
      <th class="first-column">Transportador</th>
      <td>{{monitoringRequest?.data?.customer?.tradingName ?? '-' }}</td>
      <th class="first-column" *ngIf="adHocMonitoringRequest == monitoringRequest?.data?.customer?.id">Nome
        Transportadora</th>
      <td *ngIf="adHocMonitoringRequest == monitoringRequest?.data?.customer?.id">
        {{monitoringRequest?.data?.adHocMonitoringRequest ?? '-' }}</td>
    </tr>
  </table>
  <br>
  <h2>Motoristas</h2>
  <table class="custom-bordered-table">
    <tr>
      <th class="first-column">Nome</th>
      <td colspan="3">{{monitoringRequest?.data?.driver?.name}}</td>
    </tr>
    <tr>
      <th class="first-column">CPF</th>
      <td>{{monitoringRequest?.data?.driver?.cpf}}</td>
      <th class="first-column">CNH</th>
      <td>{{monitoringRequest?.data?.driver?.cnhNumber}}</td>
    </tr>
    <tr>
      <th class="first-column">Telefone</th>
      <td colspan="3">{{monitoringRequest?.data?.driver?.phoneNumber || 'N/a'}}</td>
    </tr>
    <tr>
      <th class="first-column">Tipo Motorista</th>
      <td colspan="3">{{monitoringRequest?.driverWorkingSituation}}</td>
    </tr>
  </table>


  <table class="custom-bordered-table" *ngIf="monitoringRequest?.data?.auxiliaryDriver">
    <tr>
      <th class="first-column">Nome motorista auxiliar</th>
      <td colspan="3">{{monitoringRequest?.data?.auxiliaryDriver?.name}}</td>
    </tr>
    <tr>
      <th class="first-column">CPF motorista auxiliar</th>
      <td>{{monitoringRequest?.data?.auxiliaryDriver?.cpf}}</td>
      <th class="first-column">CNH motorista auxiliar</th>
      <td>{{monitoringRequest?.data?.auxiliaryDriver?.cnhNumber}}</td>
    </tr>
    <tr>
      <th class="first-column">Telefone motorista auxiliar</th>
      <td colspan="3">{{monitoringRequest?.data?.auxiliaryDriver?.phoneNumber || 'N/a'}}</td>
    </tr>
    <tr>
      <th class="first-column">Tipo Motorista</th>
      <td colspan="3">{{monitoringRequest?.driverWorkingSituation}}</td>
    </tr>
  </table>
  <br>
  <h2>Veículo</h2>
  <table class="custom-bordered-table">
    <tr>
      <th class="first-column">Placa</th>
      <td>{{monitoringRequest?.data?.truck?.vehicle?.plate}}</td>
      <th class="first-column">Marca</th>
      <td>{{monitoringRequest?.data?.truck?.vehicle?.manufacturer?.name}}</td>
    </tr>
    <tr>
      <th class="first-column">Modelo</th>
      <td>{{monitoringRequest?.data?.truck?.vehicle?.vehicleModel?.name}}</td>
      <th class="first-column">Tipo</th>
      <td>{{monitoringRequest?.data?.truck?.vehicle?.vehicleModelType?.name}}</td>
    </tr>
    <tr>
      <th class="first-column">Cor</th>
      <td>{{monitoringRequest?.data?.truck?.vehicle?.color}}</td>
      <th class="first-column">Ano Fab./Modelo</th>
      <td>{{monitoringRequest?.data?.truck?.vehicle?.modelYear}}</td>
    </tr>
    <tr>
      <th class="first-column">Carretas</th>
      <td colspan="3">{{monitoringRequest?.wagonPlates}}</td>
    </tr>
  </table>
  <br>
  <h2>Rastreadores</h2>


  <table class="custom-bordered-table">
    <tr>
      <th class="first-column">Tecnologia</th>
      <th class="first-column">Num de serie</th>
    </tr>
    <tr *ngFor="let tracker of monitoringRequest?.data.truck.vehicle.trackers ?? []">
      <td>{{tracker.trackerModel.trackerTechnology.name}}</td>
      <td>{{tracker.trackerId}}</td>
    </tr>

  </table>

  <br>
  <h2>Viagem</h2>
  <table class="custom-bordered-table">
    <tr>
      <th>Operação</th>
      <td>{{monitoringRequest?.data?.operation?.name}}</td>
      <th>Operação Compartilhada</th>
      <td>{{monitoringRequest?.data?.sharedOperation?.name}} - {{monitoringRequest?.data?.sharedOperation?.email}}</td>
    </tr>
    <tr>
      <th>Ordem de carregamento / OCR</th>
      <td>{{monitoringRequest?.ocrNumber}}</td>
      <th>Pesquisa Cadastral Realizada por</th>
      <td>
        {{ monitoringRequest?.data?.surveyConductedBy === 'others'
        ? '(Outros) ' + monitoringRequest?.data?.surveyConductedByOthers
        : monitoringRequest?.data?.surveyConductedBy }}
      </td>
    </tr>
    <tr>
      <th>Produto</th>
      <td>{{monitoringRequest?.data?.loadDescription}}</td>
      <th>Tipo de Carga</th>
      <td>{{monitoringRequest?.loadType}}</td>
    </tr>
    <tr>
      <th>Preço da Carga</th>
      <td>{{monitoringRequest?.data?.loadValue | currency: 'R$ '}}</td>
      <th>Tipo de operação</th>
      <td>{{ translateOperationType(monitoringRequest?.data?.operationType) }}</td>
    </tr>
    <tr>
      <th>Observações</th>
      <td colspan="3">{{monitoringRequest?.data?.observations}}</td>
    </tr>
  </table>
  <table class="custom-bordered-table">
    <tr>
      <th>Origem</th>
      <td>{{monitoringRequest?.firstTravelStep?.address || 'N/a' }}</td>
      <th>Data previsão inicio</th>
      <td>{{monitoringRequest?.firstTravelStepDate | date: 'dd/MM/yyyy HH:mm'}}</td>
    </tr>
    <tr>
      <th>Destino</th>
      <td>{{monitoringRequest?.lastTravelStep?.address || 'N/a' }}</td>
      <th>Data previsão chegada</th>
      <td>{{monitoringRequest?.lastTravelStepDate | date: 'dd/MM/yyyy HH:mm'}}</td>
    </tr>
  </table>



  <small style="color: #a3a3a3" class="text-bold">* Escolta e isca irão aparecer caso a SM tenha configurado</small>



  <div *ngIf="monitoringRequest?.data?.armedGuards.length > 0">

    <br>
    <h2>Escolta</h2>
    <table class="custom-bordered-table">
      <tr>
        <th>
          Tecnologia
        </th>
        <th>N Serie</th>
        <th>Placa</th>
        <th>Contato</th>
        <th>Agente 1</th>
        <th>Agente 2</th>
      </tr>
      <tr *ngFor="let armedGuard of monitoringRequest?.data?.armedGuards ?? []">
        <td>{{armedGuard.technology}}</td>
        <td>{{armedGuard.serialNumber}}</td>
        <td>{{armedGuard.plate}}</td>
        <td>{{armedGuard.contact}}</td>
        <td>{{armedGuard.firstAgent}}</td>
        <td>{{armedGuard.secondAgent}}</td>
      </tr>

    </table>
  </div>

  <div *ngIf="monitoringRequest?.data?.baits.length > 0">

    <br>
    <h2>Iscas</h2>
    <table class="custom-bordered-table">
      <tr>
        <th>N Serie</th>
        <th>Local de instalação</th>
        <th>Tecnologia</th>
      </tr>
      <tr *ngFor="let bait of monitoringRequest?.data?.baits ?? []">
        <td> {{bait.serialNumber}}</td>
        <td>{{getLocalInstalaition(bait.installationLocation)}}</td>
        <td>{{bait.technology?.name}}</td>
      </tr>

    </table>

  </div>

  <br>
  <h2>Pontos</h2>
  <table class="custom-bordered-table">
    <tr>
      <th>
        Endereço
      </th>
      <th>
        Cidade
      </th>
      <th>
        Estado
      </th>
      <th>Data/Hora</th>
    </tr>
    <tr *ngFor="let column of monitoringRequest?.data.travelSteps ?? []">
      <td>{{column.address}}</td>
      <td>{{column.city}}</td>
      <td>{{column.state}}</td>
      <td>{{ column.date + 'T' + column.time | date: 'dd/MM/yyyy HH:mm' }}</td>
    </tr>
  </table>


  <form nz-form [formGroup]="checklistForm" nzLayout="vertical">
    <br>
    <h2>Sensores/Atuadores</h2>

    <div nz-row>
      <div nz-col nzSpan="18">
        <div nz-row>
          <div nz-col [nzSpan]="6" *ngFor="let item of checklistItems">
            <nz-form-item>
              <nz-form-label></nz-form-label>
              <nz-form-control [nzSpan]="null" [nzOffset]="null">
                <label nz-checkbox [nzDisabled]="readOnly" [formControlName]="item.value" class="text-bold">{{
                  item.label }}</label>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>

      <div nz-col nzSpan="6" class="approval-container">
        <nz-form-item>
          <nz-form-label></nz-form-label>
          <nz-radio-group formControlName="status" [nzDisabled]="readOnly">
            <label nz-radio nzValue="approved" class="text-bold">Aprovado</label>
            <label nz-radio nzValue="reproved" class="text-bold">Não autorizado</label>
          </nz-radio-group>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label class="text-bold">Motivo</nz-form-label>
          <nz-form-control [nzSpan]="null" [nzOffset]="null">
            <textarea nz-input formControlName="justification" [disabled]="readOnly"
              style="resize: vertical; min-height: 120px;"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row class="m-t-15 m-b-15">
      <div nz-col [nzSpan]="18">
        <nz-form-item>
          <nz-form-control [nzSpan]="null" [nzOffset]="null">
            <label nz-checkbox formControlName="hasMacro" [nzDisabled]="readOnly" class="text-bold">Macro</label>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzSpan]="null" [nzOffset]="null">
            <label nz-checkbox formControlName="hasEmbeddedIntelligence" [nzDisabled]="readOnly"
              class="text-bold">Inteligência
              Embarcada</label>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-control [nzSpan]="null" [nzOffset]="null">
            <label class="text-bold">Checklist feito em: {{monitoringRequest?.data?.checklist.reviewedAt | date:
              'dd/MM/yyyy'}}</label>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzSpan]="null" [nzOffset]="null">
            <label class="text-bold">Checklist expira em: {{monitoringRequest?.data?.checklist.expirationDate | date:
              'dd/MM/yyyy'}}</label>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-form-item>
      <nz-form-label></nz-form-label>
      <nz-radio-group formControlName="allowedTravel" [nzDisabled]="readOnly">
        <label nz-radio [nzValue]="true" class="text-bold">Viagem Autorizada</label>
        <label nz-radio [nzValue]="false" class="text-bold">Viagem não autorizada</label>
      </nz-radio-group>
    </nz-form-item>
  </form>


  <br>
  <h2 *ngIf="monitoringRequest?.data?.customer?.id != undefined">
    Liberações das ultimas 72 horas
  </h2>

  <div *ngIf="lastReleasedMonitoringRequests.length === 0; else tableContent">
    <p class="text-bold">Não possui liberação</p>
  </div>


  <ng-template #tableContent>
    <table style="border: 1px solid #000; ">
      <thead>
        <th style="border: 1px solid #000; "> ID </th>
        <th style="border: 1px solid #000; "> Placa </th>
        <th style="border: 1px solid #000; "> carretas</th>
        <th style="border: 1px solid #000; "> saida</th>
        <th style="border: 1px solid #000; "> chegada </th>
        <th style="border: 1px solid #000; ">operação </th>
        <th style="border: 1px solid #000; ">Observação</th>
        <th style="border: 1px solid #000; ">status </th>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of lastReleasedMonitoringRequests;">
          <tr style="border: 1px solid #000;">
            <td style="border: 1px solid #000; ">{{ item.id }}</td>
            <td style="border: 1px solid #000; ">{{ item.truck.vehicle.plate }}</td>
            <td style="border: 1px solid #000; ">
              <ng-container *ngFor="let item of item.wagons;">
                {{item.vehicle.plate}}
              </ng-container>
            </td>
            <td style="border: 1px solid #000; "> {{item.travelSteps[0]?.address}} </td>
            <td style="border: 1px solid #000; "> {{item.travelSteps[item.travelSteps?.length - 1]?.address}} </td>
            <td style="border: 1px solid #000; "> {{item.operation.name}} </td>
            <td style="border: 1px solid #000; "> {{item.observations}} </td>
            <td style="border: 1px solid #000; "> {{item.status}} </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

  </ng-template>
  <br>

  <form nz-form [formGroup]="checklistBaitForm" nzLayout="vertical" *ngIf="monitoringRequest?.data?.baits.length > 0">
    <div nz-col nzSpan="24" class="ant-descriptions-title m-t-15 m-b-30">
      <h2>Checklist Iscas</h2>
    </div>

    <div nz-row>
      <div nz-col nzSpan="18">
        <div nz-row>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-control [nzSpan]="null" [nzOffset]="null">
                <label nz-checkbox formControlName="positionChecked" [nzDisabled]="readOnly"
                  class="text-bold">Posição</label>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-control [nzSpan]="null" [nzOffset]="null">
                <label nz-checkbox formControlName="decouplingChecked" [nzDisabled]="readOnly"
                  class="text-bold">Desacoplamento</label>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-control [nzSpan]="null" [nzOffset]="null">
                <label nz-checkbox formControlName="positionFrequencyChecked" [nzDisabled]="readOnly"
                  class="text-bold">Freq. de
                  posição</label>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-control [nzSpan]="6" [nzOffset]="null">
                <label nz-checkbox formControlName="batteriesChecked" [nzDisabled]="readOnly"
                  class="text-bold">Bateria</label>
              </nz-form-control>
              <nz-form-control [nzSpan]="6" [nzOffset]="null">
                <input nz-input formControlName="batteryLevel" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-control [nzSpan]="6" [nzOffset]="null">
                <label nz-checkbox formControlName="timerChecked" [nzDisabled]="readOnly"
                  class="text-bold">Temporizador</label>
              </nz-form-control>
              <nz-form-control [nzSpan]="6" [nzOffset]="null">
                <input nz-input formControlName="timerIntervalInMinutes" [disabled]="readOnly" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-control [nzSpan]="null" [nzOffset]="null">
                <label nz-checkbox formControlName="jammingChecked" [nzDisabled]="readOnly" class="text-bold">Operação
                  Jamming</label>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>

      <div nz-col nzSpan="6" class="approval-container">
        <nz-form-item>
          <nz-form-label></nz-form-label>
          <nz-radio-group formControlName="approved" [nzDisabled]="readOnly">
            <label nz-radio [nzValue]="true" class="text-bold">Aprovado</label>
            <label nz-radio [nzValue]="false" class="text-bold">Não autorizado</label>
          </nz-radio-group>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label class="text-bold">Motivo</nz-form-label>
          <nz-form-control [nzSpan]="null" [nzOffset]="null">
            <input nz-input formControlName="justification" [disabled]="readOnly" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>


  <div nz-col nzSpan="24" class="ant-descriptions-title m-t-15 m-b-15" *ngIf="monitoringRequest?.data?.observations"
    class="text-bold">
    Motivo do cancelamento: {{monitoringRequest?.data?.observations}}
  </div>

  <form nz-form [formGroup]="validateForm" nzLayout="vertical" *ngIf="showFooter">
    <div nz-row nzGutter="12" nzAlign="middle">
      <div nz-col nzSpan="4" *ngIf="authSevice.user.isGertranStaff">
        <nz-form-label class="text-bold">Terminal</nz-form-label>
        <nz-form-item>
          <nz-select formControlName="terminal">
            <nz-option *ngFor="let terminal of terminals" [nzLabel]="terminal.name" [nzValue]="terminal.id"></nz-option>
          </nz-select>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="20">
        <nz-button-group>
          <button *ngFor="let status of possibleStatus" class="m-r-15" nz-button (click)="save(status.value)"
            nzType="primary">
            {{ status.label }}
          </button>
        </nz-button-group>
      </div>

      <nz-button-group *ngIf="monitoringRequest?.data?.status != 'under_review' ">
        <button nz-button [print]="['printable', printConfig]" nzType="primary" class="m-r-15"
          *ngIf="monitoringRequest">
          <i nz-icon nzType="printer" nzTheme="outline"></i>
          Imprimir
        </button>
        <button nz-button [print]="['checklist-print', printConfig]" nzType="primary" class="m-r-15"
          *ngIf="monitoringRequest">
          <i nz-icon nzType="printer" nzTheme="outline"></i>
          Comprovante de checklist
        </button>
        <button nz-button [print]="['release-print', printConfig]" class="m-r-15" nzType="primary"
          *ngIf="monitoringRequest">
          <i nz-icon nzType="printer" nzTheme="outline"></i>
          Protocolo de liberação de viagem
        </button>

        <button nz-button nzType="primary" (click)="openIncidentsModal()">
          <i nz-icon nzType="alert" class="m-r-15" nzTheme="outline"></i>
          ocorrência
        </button>
      </nz-button-group>
    </div>
  </form>
</nz-spin>

<div id="printable">
  <app-monitoring-requests-check-list-printable
    [monitoringRequest]="monitoringRequest"></app-monitoring-requests-check-list-printable>
</div>

<div id="checklist-print">
  <app-checklist-print [monitoringRequest]="monitoringRequest"></app-checklist-print>
</div>

<div id="release-print">
  <app-release-travel-print [monitoringRequest]="monitoringRequest"></app-release-travel-print>
</div>