<nz-spin [nzSpinning]="isLoading" nzTip="Aguarde...">
  <nz-descriptions nzTitle="Cliente" nzBordered>
    <nz-descriptions-item nzTitle="Embarcador">
      {{monitoringRequest?.customer?.['tradingName']}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Transportador">
      {{monitoringRequest?.transporter?.['tradingName']}}
    </nz-descriptions-item>
  </nz-descriptions>

  <nz-descriptions nzTitle="Motoristas" nzBordered class="m-t-15">
    <nz-descriptions-item nzTitle="Nome">
      {{monitoringRequest?.driver?.['name']}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="CPF">
      {{monitoringRequest?.driver?.['cpf']}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="CNH">
      {{monitoringRequest?.driver?.['cnhNumber']}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Telefone">
      {{monitoringRequest?.driver?.['cellphone'] || 'N/a'}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Tipo Motorista" nzSpan="3">
      {{getWorkingSituation(monitoringRequest?.driver?.['workingSituation'] ?? '')}}
    </nz-descriptions-item>

    <div *ngIf="monitoringRequest?.auxiliaryDriver">
      <nz-descriptions-item nzTitle="Nome motorista auxiliar">
        {{monitoringRequest?.auxiliaryDriver?.['name']}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="CPF motorista auxiliar">
        {{monitoringRequest?.auxiliaryDriver?.['cpf']}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="CNH motorista auxiliar">
        {{monitoringRequest?.auxiliaryDriver?.['cnhNumber']}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Telefone motorista auxiliar">
        {{monitoringRequest?.auxiliaryDriver?.['cellphone'] || 'N/a'}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Tipo Motorista auxiliar" nzSpan="3">
        {{getWorkingSituation(monitoringRequest?.auxiliaryDriver?.['workingSituation'] ?? '')}}
      </nz-descriptions-item>
    </div>
  </nz-descriptions>

  <nz-descriptions nzTitle="Veiculo" nzBordered class="m-t-15">
    <nz-descriptions-item nzTitle="Placa">
      {{monitoringRequest?.truck?.vehicle?.['plate']}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Carretas">
      {{getWagonsPlates()}}
    </nz-descriptions-item>
  </nz-descriptions>

  <nz-descriptions nzTitle="Viagem" nzBordered class="m-t-15">
    <nz-descriptions-item nzTitle="Operação">
      {{monitoringRequest?.operation?.['name']}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Ordem de carregamento / OCR">
      {{monitoringRequest?.ocrNumber}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Pesquisa Cadastral Realizada por">
      {{monitoringRequest?.surveyConductedBy}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Produto">
      {{monitoringRequest?.loadDescription}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Tipo de Carga">
      {{getLoadType()}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Preço da Carga">
      {{monitoringRequest?.loadValue | currency: 'R$ '}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Origem">
      {{firstTravelStep?.address || 'N/a' }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Data previsão inicio" [nzSpan]="6">
      {{firstTravelStepDate | date: 'dd/MM/yyyy HH:mm'}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Destino">
      {{lastTravelStep?.address || 'N/a' }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Data previsão chegada" [nzSpan]="6">
      {{lastTravelStepDate | date: 'dd/MM/yyyy HH:mm'}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Observações" nzSpan="24">
      {{monitoringRequest?.observations}}
    </nz-descriptions-item>
  </nz-descriptions>

  <small style="color: #a3a3a3">* Escolta e isca irão aparecer caso a SM tenha configurado</small>

  <nz-descriptions nzTitle="Escolta" *ngFor="let armedGuard of monitoringRequest?.armedGuards ?? []" class="m-t-15">
    <nz-descriptions-item nzTitle="Tecnologia">
      {{armedGuard.technology}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="N Serie">
      {{armedGuard.serialNumber}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Placa">
      {{armedGuard.plate}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Contato">
      {{armedGuard.contact}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Agente 1">
      {{armedGuard.firstAgent}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Agente 2">
      {{armedGuard.secondAgent}}
    </nz-descriptions-item>
  </nz-descriptions>

  <nz-descriptions nzTitle="Iscas" *ngFor="let bait of monitoringRequest?.baits ?? []" class="m-t-15">
    <nz-descriptions-item nzTitle="N Serie">
      {{bait.serialNumber}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Local de instalação">
      {{bait.installationLocation}}
    </nz-descriptions-item>
  </nz-descriptions>

  <form nz-form [formGroup]="checklistForm" nzLayout="vertical">
    <div nz-col nzSpan="24" class="ant-descriptions-title m-t-15">
      Checklist
    </div>

    <div nz-row>
      <div nz-col nzSpan="18">
        <div nz-row>
          <div nz-col [nzSpan]="6" *ngFor="let item of checklistItems">
            <nz-form-item>
              <nz-form-label></nz-form-label>
              <nz-form-control [nzSpan]="null" [nzOffset]="null">
                <label
                  nz-checkbox
                  [formControlName]="item.value"
                >{{ item.label }}</label>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>

      <div nz-col nzSpan="6" class="approval-container">
        <nz-form-item>
          <nz-form-label></nz-form-label>
          <nz-radio-group formControlName="approved">
            <label nz-radio [nzValue]="true">Aprovado</label>
            <label nz-radio [nzValue]="false">Reprovado</label>
          </nz-radio-group>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Justificativa</nz-form-label>
          <nz-form-control [nzSpan]="null" [nzOffset]="null">
            <input nz-input formControlName="justification" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row class="m-t-15 m-b-15">
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-control [nzSpan]="null" [nzOffset]="null">
            <label
              nz-checkbox
              formControlName="hasMacro"
            >Macro</label>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzSpan]="null" [nzOffset]="null">
            <label
              nz-checkbox
              formControlName="hasEmbeddedIntelligence"
            >Inteligência Embarcada</label>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-form-item>
      <nz-form-label></nz-form-label>
      <nz-radio-group formControlName="allowedTravel">
        <label nz-radio [nzValue]="true">Viagem Autorizada</label>
        <label nz-radio [nzValue]="false">Viagem não autorizada</label>
      </nz-radio-group>
    </nz-form-item>
  </form>

  <form nz-form [formGroup]="checklistBaitForm" nzLayout="vertical">
    <div nz-col nzSpan="24" class="ant-descriptions-title m-t-15 m-b-30">
      Checklist Iscas
    </div>

    <div nz-row>
      <div nz-col nzSpan="18">
        <div nz-row>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-control [nzSpan]="null" [nzOffset]="null">
                <label
                  nz-checkbox
                  formControlName="positionChecked"
                >Posição</label>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-control [nzSpan]="null" [nzOffset]="null">
                <label
                  nz-checkbox
                  formControlName="decouplingChecked"
                >Desacoplamento</label>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-control [nzSpan]="null" [nzOffset]="null">
                <label
                  nz-checkbox
                  formControlName="positionFrequencyChecked"
                >Freq. de posição</label>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-control [nzSpan]="6" [nzOffset]="null">
                <label
                  nz-checkbox
                  formControlName="batteriesChecked"
                >Bateria</label>
              </nz-form-control>
              <nz-form-control [nzSpan]="6" [nzOffset]="null">
                <input nz-input formControlName="batteryLevel" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-control [nzSpan]="6" [nzOffset]="null">
                <label
                  nz-checkbox
                  formControlName="timerChecked"
                >Temporizador</label>
              </nz-form-control>
              <nz-form-control [nzSpan]="6" [nzOffset]="null">
                <input nz-input formControlName="timerIntervalInMinutes" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="8">
            <nz-form-item>
              <nz-form-control [nzSpan]="null" [nzOffset]="null">
                <label
                  nz-checkbox
                  formControlName="jammingChecked"
                >Operação Jamming</label>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>

      <div nz-col nzSpan="6" class="approval-container">
        <nz-form-item>
          <nz-form-label></nz-form-label>
          <nz-radio-group formControlName="approved">
            <label nz-radio [nzValue]="true">Aprovado</label>
            <label nz-radio [nzValue]="false">Reprovado</label>
          </nz-radio-group>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Justificativa</nz-form-label>
          <nz-form-control [nzSpan]="null" [nzOffset]="null">
            <input nz-input formControlName="justification" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <form nz-form [formGroup]="validateForm" nzLayout="vertical">
    <div nz-row nzGutter="12">
      <div nz-col nzSpan="12">
        <nz-form-label>Terminal</nz-form-label>
        <nz-form-item>
          <nz-select formControlName="terminal">
            <nz-option *ngFor="let terminal of terminals" [nzLabel]="terminal.name" [nzValue]="terminal.id"></nz-option>
          </nz-select>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="12">
        <nz-form-label>Mover para status</nz-form-label>
        <nz-form-item>
          <nz-select formControlName="status">
            <nz-option *ngFor="let status of statusList" [nzLabel]="status.label" [nzValue]="status.value"></nz-option>
          </nz-select>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-spin>
