<form [formGroup]="validateForm" nz-form nzLayout="vertical" class="m-t-25">
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="6">
      <nz-form-item class="m-b-0">
        <nz-form-label>Data inicial</nz-form-label>
        <nz-form-control nzErrorTip="Preencha o campo">
          <nz-date-picker
            style="width: 100%;"
            nzFormat="dd/MM/yyyy"
            formControlName="from"
            nzPlaceHolder="Selecione uma data"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="6">
      <nz-form-item class="m-b-0">
        <nz-form-label>Data final</nz-form-label>
        <nz-form-control nzErrorTip="Preencha o campo">
          <nz-date-picker
            style="width: 100%;"
            nzFormat="dd/MM/yyyy"
            formControlName="to"
            nzPlaceHolder="Selecione uma data"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="6">
      <nz-form-item class="m-b-0">
        <button nz-button nzType="primary" (click)="search()" class="m-t-25">Pesquisar</button>
      </nz-form-item>
    </div>
  </div>
</form>
