<div class="header">
  <div class="nav-wrap">
    <ul class="nav-left">
      <li class="desktop-toggle">
        <a (click)="toggleFold()">
          <i
            nz-icon
            [nzType]="isFolded ? 'menu-unfold' : 'menu-fold'"
            theme="outline"
            style="color: #fff"
          ></i>

          <span class="font-size-13 text-white">
            Menu
          </span>
        </a>
      </li>
      <li class="mobile-toggle">
        <a (click)="toggleExpand()">
          <i nz-icon [nzType]="isExpand? 'menu-fold': 'menu-unfold'" theme="outline"></i>
        </a>
      </li>

      <li *ngIf="showSelect" class="m-l-10">
        <nz-select
          data-testid="customer-select"
          nzSize="small"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Selecione um cliente"
          nzServerSearch
          class="customer-select"
          [(ngModel)]="selectedCustomer"
          (ngModelChange)="onCustomerChange($event)"
          (nzOnSearch)="selectableCustomerService.searchByName($event)"
          (nzScrollToBottom)="selectableCustomerService.loadMoreCustomers()"
          [nzDropdownRender]="selectLoading"
        >
          <nz-option
            *ngFor="let customer of customers"
            [nzLabel]="customer.tradingName"
            [nzValue]="customer.id"
          ></nz-option>
        </nz-select>
      </li>
    </ul>
    <ul class="nav-right">
      <li class="m-r-25">{{ user?.name || 'Usuário' }}</li>

      <li>
        <a (click)="quickViewToggle()">
          <i
            nz-icon
            nzType="appstore"
            theme="outline"
            style="color: #fff"
          ></i>
        </a>
        <nz-drawer [nzWidth]="280" nzTitle="Menu" [nzClosable]="false" [nzVisible]="quickViewVisible"
                   nzPlacement="right" (nzOnClose)="quickViewToggle()">
          <ng-container *nzDrawerContent>
            <app-quick-view></app-quick-view>
          </ng-container>
        </nz-drawer>
      </li>
    </ul>
  </div>

  <div class="logo logo-dark">
    <a href="">
      <img src="assets/images/logo/logogertran.png" alt="Logo">
      <img class="logo-fold" src="assets/images/logo/logogertran.png" alt="Logo">
    </a>
  </div>
</div>

<ng-template #selectLoading>
  <nz-spin *ngIf="selectableCustomerService.isLoadingMoreData"></nz-spin>
</ng-template>
