<nz-table
  #rowSelectionTable
  nzShowSizeChanger
  [nzData]="routes"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
  <thead>
  <tr>
    <th></th>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Pontos</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of rowSelectionTable.data">
    <td
      [nzChecked]="checkedId === data.id"
      (nzCheckedChange)="onItemChecked(data.id, $event)"
    ></td>
    <td>{{ data.name }}</td>
    <td>{{ data.description }}</td>
    <td>{{ data.points.length }}</td>
  </tr>
  </tbody>
</nz-table>
