<nz-form-item class="m-b-15" *ngIf="!authService.customerId">
  <nz-form-label nzRequired>Cliente</nz-form-label>
  <nz-form-control nzErrorTip="Preencha o campo">
    <nz-select
      nzAllowClear
      nzPlaceHolder="Selecione um cliente"
      nzServerSearch
      nzShowSearch
      (nzOnSearch)="selectableCustomerService.searchByName($event)"
      (nzScrollToBottom)="selectableCustomerService.loadMoreCustomers()"
      [nzDropdownRender]="selectLoading"
      [(ngModel)]="customer"
      (ngModelChange)="loadRoutes()"
    >
      <nz-option *ngFor="let customer of selectableCustomerService.customers" [nzLabel]="customer.tradingName"
                 [nzValue]="customer.id"></nz-option>
    </nz-select>
  </nz-form-control>
</nz-form-item>

<button nz-button nzSize="small" (click)="descriptionFilterVisible = true">Filtrar descrição</button>

<nz-table
  #rowSelectionTable
  nzShowSizeChanger
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
  [nzData]="routes?.results"
  [nzTotal]="routes?.count"
  [nzPageSize]="routes?.limit"
  [nzPageIndex]="page"
  [nzFrontPagination]="false"
  (nzQueryParams)="handleRoutesQueryParamsChange($event)"
  [nzLoading]="isLoading"
  nzSize="small"
>
  <thead>
  <tr>
    <th></th>
    <th>Nome</th>
    <th nzCustomFilter>
      Descrição

      <nz-filter-trigger [(nzVisible)]="descriptionFilterVisible" [nzActive]="searchDescriptionValue.length > 0"
                         [nzDropdownMenu]="menu">
        <span nz-icon nzType="search" style="color: #5E99F6"></span>
      </nz-filter-trigger>
    </th>
    <th>Pontos</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of rowSelectionTable.data">
    <td
      [nzChecked]="routeId === data.id"
      (nzCheckedChange)="onItemChecked(data.id, $event)"
    ></td>
    <td>{{ data.name }}</td>
    <td>{{ data.description }}</td>
    <td>{{ data.points.length }}</td>
  </tr>
  </tbody>
</nz-table>

<ng-template #selectLoading>
  <nz-spin *ngIf="selectableCustomerService.isLoadingMoreData"></nz-spin>
</ng-template>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box p-15">
      <input type="text" nz-input placeholder="Descrição" class="m-b-5" [(ngModel)]="searchDescriptionValue"/>
      <button nz-button nzSize="small" nzType="primary" class="m-r-10" (click)="search()" class="search-button">Buscar
      </button>
      <button nz-button nzSize="small" (click)="reset()">Resetar</button>
    </div>
  </div>
</nz-dropdown-menu>
