.bg-alert {
  background: yellow;
  font-weight: bold;
}

.bg-waiting_for_start {
  background: green;
}

.bg-danger {
  background: red;
  color: #fff;
  font-weight: bold;
}

th.table-header {
  background: #187bff;
  color: #fff;
  font-weight: bold;
}
.max-width-cell {
  max-width: 200px; /* Set your desired maximum width */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}