<nz-table #table [nzData]="monitoringRequests" [nzFrontPagination]="true" [nzPageSize]="pageSize"
  [nzShowPagination]="false" [(nzPageIndex)]="currentPage" nzSize="small" nzTableLayout="fixed" class="custom-table">

  <thead>
    <tr>
      <th class="text-center table-header" style="width: 10%;">Data</th>
      <th class="text-center table-header" style="width: 10%;">Placa</th>
      <th class="text-center table-header" style="width: 12%;"><span style="white-space: nowrap;">Tecnologia</span></th>
      <th class="text-center table-header">Cliente</th>
      <th class="text-center table-header" style="width: 12%;">Situação</th>
      <th class="text-center table-header" style="width: 18%;">Status</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let data of table.data | slice:0:pageSize; index as i" [class]="getRowName(data)">

      <td class="text-center max-width-cell">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <strong>{{ data.createdAt | date: 'dd/MM' }}</strong>
          <strong style="font-size: 0.9em; margin-top: 2px;">{{ data.createdAt | date: 'HH:mm' }}</strong>
        </div>
      </td>

      <td class="text-center max-width-cell">
        <strong>{{ data.truck.vehicle.plate }}</strong>
      </td>

      <td class="text-center max-width-cell" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
        <strong>{{ data.trackerTechnology?.name ?? '-' }}</strong>
      </td>

      <td class="text-center max-width-cell customer-cell">
        <strong>{{ data.customer.tradingName }}</strong>
      </td>

      <td class="text-center max-width-cell">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <strong *ngIf="finishedStatuses.includes(data.status)">FINALIZADO</strong>
          <strong *ngIf="!finishedStatuses.includes(data.status)">EM ANDAMENTO</strong>
        </div>
      </td>

      <td class="text-center max-width-cell">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <strong>{{ getStatusLabel(data.status) | uppercase }}</strong>

          <span style="font-size: 0.9em; margin-top: 2px; color: #555;">
            {{ getReleasedTime(data).main }}
          </span>
        </div>
      </td>

    </tr>
  </tbody>
</nz-table>