<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">

  <nz-card>

    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Rotas
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-divider></nz-divider>

    <div class="row m-b-30">
      <div class="col-lg-8">
        <div class="d-md-flex">
          <div class="m-b-10 m-r-20">
            <nz-input-group [nzPrefix]="prefixTemplate">
              <input type="text" nz-input placeholder="Buscar rota" [(ngModel)]="searchInput">
            </nz-input-group>
            <ng-template #prefixTemplate>
              <i nz-icon nzType="search" class="opacity-05"></i>
            </ng-template>
          </div>
        </div>
      </div>

      <div class="col-lg-4 text-right">
        <button
          (click)="create()"
          nz-button
          nzType="primary"
        >
          <i nz-icon nzType="plus" theme="outline"></i>
          <span>Adicionar Rota</span>
        </button>
      </div>
    </div>

    <nz-table
      #routesListTable
      [nzData]="resources?.results"
      [nzTotal]="resources?.count"
      [nzPageSize]="resources?.limit"
      [nzPageIndex]="page"
      [nzFrontPagination]="false"
      (nzQueryParams)="handleQueryParamsChange($event)"
    >
      <thead>
      <tr>
        <th *ngFor="let column of routesColumns" [nzSortFn]="column.compare">{{ column.title }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of routesListTable.data; let i=index">
        <td>{{item.id | id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.code}}</td>
        <td>{{item.description}}</td>
        <td>{{item.lead}}</td>
        <td class="text-md-center">
          <a
            (click)="edit(item)"
            class="m-r-5"
            nz-button
            nzType="default"
            nzShape="circle"
            nz-tooltip
            nzTooltipTitle="Editar"
          >
            <i nz-icon nzType="edit" theme="outline"></i>
          </a>
          <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Excluir">
            <i nz-icon nzType="delete" theme="outline"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>

</nz-spin>
