<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">

    <!--
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Rotas
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  -->
  <div class="pages-header">  
    <div class="row m-b-10">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="d-md-flex">
          <div class="m-r-20">
            <h2>Rotas</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 pages-header-button" *ngIf="authService.user.hasPermission('settings.add_point')">
        <button
          (click)="create()"
          nz-button
          nzType="primary"
        >
          <i nz-icon nzType="plus" theme="outline"></i>
          <span>Adicionar Rota</span>
        </button>
      </div>
    </div>
  </div>
  <nz-card>

    <div class="row m-b-20">
      <div class="col-lg-12">
        <div class="d-md-flex">
          <!-- <div class="m-b-10 m-r-20"> -->
          <!--   <nz-input-group [nzPrefix]="prefixTemplate"> -->
          <!--     <input type="text" nz-input placeholder="Buscar rota" [(ngModel)]="searchInput"> -->
          <!--   </nz-input-group> -->
          <!--   <ng-template #prefixTemplate> -->
          <!--     <i nz-icon nzType="search" class="opacity-05"></i> -->
          <!--   </ng-template> -->
          <!-- </div> -->
        </div>
      </div>
    </div>

    <nz-table
      #routesListTable
      [nzData]="resources?.results"
      [nzTotal]="resources?.count"
      [nzPageSize]="resources?.limit"
      [nzPageIndex]="page"
      [nzFrontPagination]="false"
      (nzQueryParams)="handleQueryParamsChange($event)"
      nzSize="small"
    >
      <thead>
      <tr>
        <th *ngFor="let column of routesColumns" [nzSortFn]="column.compare">{{ column.title }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of routesListTable.data; let i=index">
        <td>{{item.id | id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.code}}</td>
        <td>{{item.description}}</td>
        <td>{{item.distance}}</td>
        <td>{{item.averageSpeed}}</td>
        <td>{{item.durationInMinutes}}</td>
        <td class="d-flex" style="white-space: nowrap;">
          <button
            (click)="edit(item)"
            class="m-r-5"
            nz-button
            nzType="default"
            >
            <i nz-icon nzType="edit" theme="outline"></i> Editar
          </button>
          <button
            nz-button
            nzType="default"
            nzDanger
            (click)="delete(item)"
            *ngIf="authService.user.hasPermission('route.delete_route')"
          >
            <i nz-icon nzType="delete" theme="outline"></i> Excluir
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>

</nz-spin>
