<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">

  <nz-card>

    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Operações
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-divider></nz-divider>

    <div class="row m-b-30">
      <div class="col-lg-8">
        <div class="d-md-flex">
          <div class="m-b-10 m-r-20 w-100">
            <nz-input-group [nzPrefix]="prefixTemplate">
              <input
                type="text"
                nz-input
                placeholder="Placa"
                [(ngModel)]="searchInput"
                (ngModelChange)="searchByName(searchInput)"
              >
            </nz-input-group>
            <ng-template #prefixTemplate>
              <i nz-icon nzType="search" class="opacity-05"></i>
            </ng-template>
          </div>

          <div class="m-b-10 m-r-20 w-100" *ngIf="!authService.customerId">
            <nz-select
              class="w-100"
              id="transporter"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Selecione uma empresa"
              nzServerSearch
              (nzOnSearch)="selectableCustomerService.searchByName($event)"
              (nzScrollToBottom)="selectableCustomerService.loadMoreCustomers()"
              [nzDropdownRender]="selectLoading"
              (ngModelChange)="searchByField('customer', selectedCustomer)"
              [(ngModel)]="selectedCustomer"
            >
              <nz-option *ngFor="let customer of selectableCustomerService.customers" [nzLabel]="customer.tradingName" [nzValue]="customer.id"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>

      <div class="col-lg-4 text-right">
        <button
          (click)="create()"
          nz-button
          nzType="primary"
        >
          <i nz-icon nzType="plus" theme="outline"></i>
          <span>Adicionar Operações</span>
        </button>
      </div>
    </div>
    <nz-table
      #table
      [nzData]="resources?.results"
      [nzTotal]="resources?.count"
      [nzPageSize]="resources?.limit"
      [nzPageIndex]="page"
      [nzFrontPagination]="false"
      (nzQueryParams)="handleQueryParamsChange($event)"
    >
      <thead>
      <tr>
        <th *ngFor="let column of operationsColumns" [nzSortFn]="column.compare">{{ column.title }}</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of table.data; let i=index">
          <td>{{item.id | id}}</td>
          <td>
            <div class="d-flex align-items-center">
              <h6 class="m-l-10 m-b-0">{{item.name}}</h6>
            </div>
          </td>
          <td>{{item.radiusToActivateRouteDeviation}}</td>
          <td>
            <nz-badge *ngIf="item.isMain" nzStatus="success"></nz-badge>
            <nz-badge *ngIf="!item.isMain" nzStatus="error"></nz-badge>
          </td>
          <td class="text-md-center">
            <a
              (click)="edit(item)"
              class="m-r-5"
              nz-button
              nzType="default"
              nzShape="circle"
              nz-tooltip
              nzTooltipTitle="Editar"
            >
              <i nz-icon nzType="edit" theme="outline"></i>
            </a>
            <button
              nz-button
              nzType="default"
              nzShape="circle"
              nz-tooltip
              nzTooltipTitle="Excluir"
              (click)="delete(item)"
            >
              <i nz-icon nzType="delete" theme="outline"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</nz-spin>

<ng-template #selectLoading>
  <nz-spin *ngIf="selectableCustomerService.isLoadingMoreData"></nz-spin>
</ng-template>
