<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">

  <div *ngIf="authService.customerId">
    <!--
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Operações
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    -->
  </div>
  <div class="pages-header" *ngIf="showHeader">  
    <div class="row m-b-10">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="d-md-flex">
          <div class="m-r-20">
            <h2>Operações</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 pages-header-button">
        <button
        (click)="create()"
        nz-button
        nzType="primary"
      >
        <i nz-icon nzType="plus" theme="outline"></i>
        <span>Adicionar Operações</span>
      </button>
      </div>
    </div>
  </div>
  <nz-card>  
    <div class="row m-b-10">
      <div class="col-lg-8">
        <div class="d-md-flex">
          <div class="m-b-10 m-r-20">
            <nz-input-group [nzPrefix]="prefixTemplate">
              <input
                type="text"
                nz-input
                placeholder="Nome da operação"
                [(ngModel)]="searchInput"
                (ngModelChange)="searchByName(searchInput)"
              >
            </nz-input-group>
            <ng-template #prefixTemplate>
              <i nz-icon nzType="search" class="opacity-05"></i>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="col-lg-4 text-right" *ngIf="!showHeader">
        <button
        (click)="create()"
        nz-button
        nzType="primary"
      >
        <i nz-icon nzType="plus" theme="outline"></i>
        <span>Adicionar Operações</span>
      </button>        
      </div>
    </div>

    <nz-table
      #table
      [nzData]="resources?.results"
      [nzTotal]="resources?.count"
      [nzPageSize]="resources?.limit"
      [nzPageIndex]="page"
      [nzFrontPagination]="false"
      (nzQueryParams)="handleQueryParamsChange($event)"
      nzSize="small"
    >
      <thead>
      <tr>
        <th *ngFor="let column of operationsColumns" [nzSortFn]="column.compare">{{ column.title }}</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of table.data; let i=index">
          <td>{{item.id | id}}</td>
          <td>
            <div class="d-flex align-items-center">
              <h6 class="m-l-10 m-b-0">{{item.name}}</h6>
            </div>
          </td>
          <td>{{item.radiusToActivateRouteDeviation}}</td>
          <td>
            <nz-badge *ngIf="item.isMain" nzStatus="success"></nz-badge>
            <nz-badge *ngIf="!item.isMain" nzStatus="error"></nz-badge>
          </td>
          <td class="text-md-center" style="white-space: nowrap;">
            <button
              (click)="edit(item)"
              nz-button
              nzType="default"
            >
              <i nz-icon nzType="edit" theme="outline"></i> Editar
            </button>
            <button
              nz-button
              nzDanger
              nzType="default"
              class="m-l-10"
              (click)="delete(item)"
            >
              <i nz-icon nzType="delete" theme="outline"></i> Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</nz-spin>

<ng-template #selectLoading>
  <nz-spin *ngIf="selectableCustomerService.isLoadingMoreData"></nz-spin>
</ng-template>