.common-layout {

  .page-container {
    min-height: 100vh;
    //padding-left: $side-nav-width;
    @include transition(all 0.2s ease);

    @include screen-laptop-only {
      //padding-left: $side-nav-width-laptop;
    }

    padding-left: 0px;
    @include screen-tablet {
      //padding-left: 0px;
    }

    .main-content {
      padding: $header-height 0 0 0;
      min-height: calc(100vh - #{$footer-height});

      @include screen-mobile {
        padding: $header-height 0 0 0;
      }

      .main-content-header {
        display: none;
        @include screen-mobile-above {
          display: none;
          align-items: center;
        }

        padding-left: 5px;
        margin-bottom: $layout-content-gutter;

        .page-title {
          margin-bottom: 0px;
          margin-right: 20px;
          color: $gray;
          font-size: 17px;
          line-height: 1;

          @include screen-mobile {
            margin-bottom: 20px;
            margin-right: 0px;
          }
        }
      }
    }
  }

  .page-header {
    margin-left: -$layout-content-gutter;
    margin-right: -$layout-content-gutter;
    margin-top: -$layout-content-gutter;
    margin-bottom: $layout-content-gutter;
    background-color: $white;
    border-bottom: 1px solid $border-color;
    padding: 25px 30px;

    &.has-tab {
      border-bottom: 0px;
      margin-bottom: 0px;
      padding-bottom: 1px;
    }

    @include screen-mobile {
      margin-left: -$layout-content-gutter-sm;
      margin-right: -$layout-content-gutter-sm;
      margin-top: -$layout-content-gutter-sm;
      margin-bottom: $layout-content-gutter-sm;
    }
  }

  .page-header-tab {
    margin-left: -$layout-content-gutter;
    margin-right: -$layout-content-gutter;

    @include screen-mobile {
      margin-left: -$layout-content-gutter-sm;
      margin-right: -$layout-content-gutter-sm;
    }

    .ant-tabs-nav {
      background-color: $white;
      padding-left: $layout-content-gutter;
      padding-right: $layout-content-gutter;
      margin-bottom: $layout-content-gutter;

      @include screen-mobile {
        padding-left: $layout-content-gutter-sm;
        padding-right: $layout-content-gutter-sm;
        margin-bottom: $layout-content-gutter-sm;
      }
    }

    .ant-tabs-content {

      .ant-tabs-tabpane {
        padding-left: $layout-content-gutter;
        padding-right: $layout-content-gutter;

        @include screen-mobile {
          padding-left: $layout-content-gutter-sm;
          padding-right: $layout-content-gutter-sm;
        }
      }
    }
  }

  &.is-folded {

    //@include screen-tablet-above {
    //  .page-container {
    //    padding-left: $side-nav-folded;
    //  }
    //}
  }
}

.login-page {
  .ant-card {
    box-shadow: 0px 0px 5px $darkblue !important;
    border: 1px solid $darkblue;
  }
}

.page-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  button {
    div{
      display: flex;
    }
  }

  @include screen-mobile {
    display: flex;
    margin: 0;
    width: 100%;
    flex: 1;
    flex-direction: column-reverse;

    div:not(.ng-star-inserted),
    .ant-form-item {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
    }

    .ant-form-item-control {
      @include screen-mobile {
        display: block;
        margin: 0;
        width: 100%;
      }
    }
  }

  button {
    @include screen-mobile {
      display: block;
      margin: 0;
      width: 100%;
    }
  }

  button + button {
    margin-left: 10px;
    @include screen-mobile {
      margin-bottom: 10px;
      margin-left: 0px !important;
    }
  }  
}

.terminal-card {
  background-color: $gray-lightest;
  border: 1px solid $gray-light;

  .ant-card-head {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    background-color: transparent;
    border: 0px;
  }

  .ant-card-body {
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    color: $gray-dark;

    p {
      font-size: $font-size-base;
    font-weight: $font-weight-base;
    color: $gray-dark;
    }

  }

}

.copyright {
  color: $white;
  display: block !important;
  text-align: center;
}