<form nz-form nzLayout="vertical" [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="tradingName">Nome Fantasia</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o nome fantasia!">
      <input id="tradingName" type="text" nz-input formControlName="tradingName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="corporateName">Razão Social</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="Preencha a razão social!">
      <input id="corporateName" type="text" nz-input formControlName="corporateName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="cnpj">CNPJ</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="CNPJ Inválido! Insira no formato 99.999.999/0001-99">
      <input
        [textMask]="{ mask: cnpjMask, guide: false }"
        id="cnpj"
        type="text"
        nz-input
        formControlName="cnpj"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="domain">Website</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="Website inválido!">
      <input id="domain" type="url" nz-input formControlName="domain" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="domain">Tempo de validade checklist</nz-form-label>
    <nz-radio-group formControlName="checklistExpirationPeriod">
      <label nz-radio nzValue="twenty_four_hours">24h</label>
      <label nz-radio nzValue="seventy_two_hours">72h</label>
      <label nz-radio nzValue="thirty_days">30 dias</label>
    </nz-radio-group>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Embarcadores</nz-form-label>
    <nz-form-control [nzSpan]="null" [nzOffset]="null">
      <label
        nz-checkbox
        formControlName="itambeShipper"
      >Itambé</label>
    </nz-form-control>
    <nz-form-control [nzSpan]="null" [nzOffset]="null">
      <label
        nz-checkbox
        formControlName="lactalisShipper"
      >Lactalis</label>
    </nz-form-control>
  </nz-form-item>

  <nz-divider></nz-divider>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button type="button" (click)="save()" nz-button nzType="primary">
        <i nz-icon nzType="save"></i>Salvar Cliente
      </button>
      <button type="button" (click)="listCustomers()" nz-button>
        <i nz-icon nzType="unordered-list"></i>Listar Clientes
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
