<form nz-form nzLayout="vertical" [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="tradingName">Nome Fantasia</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o nome fantasia!">
      <input id="tradingName" type="text" nz-input formControlName="tradingName"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="corporateName">Razão Social</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="Preencha a razão social!">
      <input id="corporateName" type="text" nz-input formControlName="corporateName"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="cnpj">CNPJ</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="CNPJ Inválido! Insira no formato 99.999.999/0001-99">
      <input
        [textMask]="{ mask: cnpjMask, guide: false }"
        id="cnpj"
        type="text"
        nz-input
        formControlName="cnpj"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzFor="email">Email da empresa</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="Email inválido!">
      <input id="email" type="url" nz-input formControlName="email"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="domain">Tempo de validade checklist</nz-form-label>
    <nz-radio-group formControlName="checklistExpirationPeriod">
      <label nz-radio nzValue="twenty_four_hours">24h</label>
      <label nz-radio nzValue="seventy_two_hours">72h</label>
      <label nz-radio nzValue="fifteen_days">15 dias</label>
      <label nz-radio nzValue="thirty_days">30 dias</label>
    </nz-radio-group>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="domain">Dia de fechamento</nz-form-label>
    <nz-radio-group formControlName="closingDay">
      <label nz-radio [nzValue]="10">10</label>
      <label nz-radio [nzValue]="20">20</label>
      <label nz-radio [nzValue]="30">30</label>
    </nz-radio-group>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzFor="shippers">Embarcadores</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o embarcador">
      <nz-select
        id="shippers"
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Selecione um embarcador"
        formControlName="shippers"
        nzMode="multiple"
      >
        <nz-option
          *ngFor="let customer of shippers"
          [nzLabel]="customer.tradingName"
          [nzValue]="customer.id"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-divider></nz-divider>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button type="button" (click)="saveCustomer()" nz-button nzType="primary">
        <i nz-icon nzType="save"></i>Salvar Cliente
      </button>
      <button type="button" (click)="listCustomers()" nz-button>
        <i nz-icon nzType="unordered-list"></i>Listar Clientes
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
