h1 {
  font-size: 34px;
  background: -webkit-linear-gradient(#0058d0, #27a3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0 1px 0 transparent,
  0 2px 0 transparent,
  0 3px 0 transparent,
  0 4px 0 transparent,
  0 5px 0 transparent,
  0 6px 1px transparent,
  0 0 5px transparent,
  0 1px 3px transparent,
  0 3px 5px transparent,
  0 5px 10px rgba(0, 0, 0, .2),
  0 10px 10px rgba(0, 0, 0, .25),
  0 20px 20px rgba(0, 0, 0, .35);
}

.logo {
  width: 70px;
  height: 80px;
  position: absolute;
  top: 8px;
  right: 25px;
}

.custom-table th,
.custom-table td {
  border: 1px solid black;
}

th, td {
  font-weight: bold;
  font-size: 18px;
}

.moldura {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid #000; /* Espessura da moldura */
  box-sizing: border-box; /* Garante que a largura/altura da moldura inclua a espessura da borda */
  padding: 0; /* Removido o padding para que a moldura alcance as bordas */
  height: 100%; /* Altura igual à altura da página */
  overflow: auto; /* Permite rolagem dentro da moldura quando necessário */
}

