<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <nz-card>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Monitoramento
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-divider></nz-divider>

    <form [formGroup]="validateForm" class="m-b-30">
      <div nz-row nzGutter="12" nzAlign="middle">
        <div nz-col nzSpan="4">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Cliente" formControlName="customer">
            <nz-option *ngFor="let customer of customers" [nzLabel]="customer.tradingName" [nzValue]="customer.id"></nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="4">
          <nz-select nzPlaceHolder="Agrupamento" formControlName="groupBy">
            <nz-option nzLabel="Não agrupar" nzValue="not-group"></nz-option>
            <nz-option nzLabel="Agrupar por alertas" nzValue="alert"></nz-option>
            <nz-option nzLabel="Agrupar por jornadas" nzValue="journey"></nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="4">
          <nz-select nzPlaceHolder="Terminal" formControlName="terminal">
            <nz-option *ngFor="let terminal of terminals" [nzLabel]="terminal.name" [nzValue]="terminal.id"></nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="4">
          <label nz-checkbox nzChecked>Ocultar antigos</label>
          <label nz-checkbox nzChecked>Em viagem</label>
        </div>
      </div>
    </form>

    <div nzSpan="8">
      <button nzSize="small" nz-button nzType="secondary" class="m-r-10">
        (55) Mensagens
      </button>
      <button nzSize="small" nz-button nzType="primary" class="m-r-10">
        (8) Alertas
      </button>
      <button nzSize="small" nz-button nzDanger nzType="primary" class="m-r-10">
        (0) Urgente
      </button>
      <button nzSize="small" nz-button nzType="dashed">
        <span nz-icon nzType="car"></span>
        Placa
      </button>
    </div>

    <div nz-row nzGutter="12" nzAlign="middle" class="m-t-10 m-b-50">
      <nz-col nzSpan="2">
        <button
          nz-button
          nzType="primary"
          nz-dropdown
          class="status-filter border-all"
        >
          Todos
        </button>
      </nz-col>
      <nz-col nzSpan="2">
        <button
          nz-button
          nzType="primary"
          nz-dropdown
          class="status-filter border-ag-start"
        >
          Ag. Inicio
        </button>
      </nz-col>
      <nz-col nzSpan="3">
        <button
          nz-button
          nzType="primary"
          nz-dropdown
          class="status-filter border-contingency"
        >
          Contigência
        </button>
      </nz-col>
      <nz-col nzSpan="3">
        <button
          nz-button
          nzType="primary"
          nz-dropdown
          class="status-filter border-client"
        >
          Cliente
        </button>
      </nz-col>
      <nz-col nzSpan="3">
        <button
          nz-button
          nzType="primary"
          nz-dropdown
          class="status-filter border-travelling"
        >
          Em viagem
        </button>
      </nz-col>
      <nz-col nzSpan="3">
        <button
          nz-button
          nzType="primary"
          nz-dropdown
          class="status-filter border-standby"
        >
          Parado
        </button>
      </nz-col>
      <nz-col nzSpan="3">
        <button
          nz-button
          nzType="primary"
          nz-dropdown
          class="status-filter border-overnight"
        >
          Pernoite
        </button>
      </nz-col>
      <nz-col nzSpan="3">
        <button
          nz-button
          nzType="primary"
          nz-dropdown
          class="status-filter border-out-of-point"
        >
          Fora do ponto
        </button>
      </nz-col>
      <nz-col nzSpan="2">
        <button
          nz-button
          nzType="primary"
          nz-dropdown
          class="status-filter border-none"
        >
          Nenhum
        </button>
      </nz-col>
    </div>

    <button nz-button nzSize="small" class="m-b-5" (click)="isTableFullscreen = true">
      <span nz-icon nzType="fullscreen"></span>
    </button>

    <div *ngIf="isTableFullscreen else monitoringDataTable"></div>
  </nz-card>
</nz-spin>

<nz-dropdown-menu #moreActions="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>Solicitação de monitoramento</li>
    <li nz-menu-item>Histórico de ocorrencia</li>
    <li nz-menu-item>Histórico de temperatura</li>
    <li nz-menu-item>Propriedades gerais</li>
    <li nz-menu-item>Comandos</li>
    <li nz-menu-item>Mensagens</li>
    <li nz-menu-item>Alertas</li>

    <li nz-menu-divider></li>

    <li nz-menu-item>Alterar status</li>
    <li nz-menu-item>Observação</li>

    <li nz-menu-divider></li>

    <li nz-menu-item>Relatório analitico</li>
    <li nz-menu-item>Relatório comandos</li>
    <li nz-menu-item>Relatório posição</li>
    <li nz-menu-item>Relatório alerta</li>
    <li nz-menu-item>Relatório mensagem</li>
    <li nz-menu-item>Relatório de isca</li>
  </ul>
</nz-dropdown-menu>

<nz-modal
  nzTitle="Monitoramento"
  [nzVisible]="isTableFullscreen"
  (nzOnCancel)="isTableFullscreen = false"
  (nzOnOk)="isTableFullscreen = false"
  nzWidth="95%"
  [nzBodyStyle]="{ height: '80vh' }"
  [nzStyle]="{ top: '10px' }"
  nzOkText="Fechar"
  nzCancelText="Cancelar"
>
  <div *nzModalContent>
    <div *ngIf="!isTableFullscreen else monitoringDataTable"></div>
  </div>

</nz-modal>

<ng-template #monitoringDataTable>
  <nz-table
    #table
    [nzData]="monitoringData"
    [nzFrontPagination]="false"
    nzTableLayout="fixed"
    [nzScroll]="{ y: isTableFullscreen ? '75vh' : '800px', x: '1800px' }"
  >
    <thead>
    <tr>
      <th
        *ngFor="let column of monitoringColumns"
        [nzSortFn]="column.compare"
        nzWidth="110px"
        style="text-align: center"
      >{{ column.title }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of table.data; let i=index" [class]="getRowBackgroundColor(item.status)">
      <td style="text-align: center">
        <img
          [src]="'assets/images/brand/' + item.technology.toLowerCase() + '.jpg'"
          alt="logo"
          width="35px"
          height="35px"
        />
      </td>
      <td>{{ item.trackerCode || '-' }}</td>
      <td>{{ item.trip || 'TODO' }}</td>
      <td>{{ item.vehicle?.plate || '-' }}</td>
      <td class="text-md-center">
        <nz-badge *ngIf="item.ignition" nzStatus="success"></nz-badge>
        <nz-badge *ngIf="!item.ignition" nzStatus="error"></nz-badge>
      </td>
      <td class="text-md-center">
        <!--          <nz-badge [nzColor]="getAlertColor(item.alert)"></nz-badge>-->
        TODO
      </td>
      <td>
        <button
          nz-button
          nzType="link"
          nzSize="small"
          (click)="openMap(item)"
        ><span nz-icon nzType="pushpin" nzTheme="fill"></span></button>
      </td>
      <td class="text-md-center">
        <!--          <nz-progress [nzPercent]="item.progress"></nz-progress>-->
        TODO
      </td>
      <td>{{ item.speed }}km</td>
      <td>{{ item.client || 'TODO' }}</td>
      <td>{{ item.positionDate | date: 'dd/MM/yyyy' }}</td>
      <td nzEllipsis nz-tooltip [nzTooltipTitle]="item.street">{{ item.street }}</td>
      <td nzEllipsis nz-tooltip [nzTooltipTitle]="getOrigin(item)">{{ getOrigin(item) }}</td>
      <td nzEllipsis nz-tooltip [nzTooltipTitle]="getDestiny(item)">{{ getDestiny(item) }}</td>
      <td nzEllipsis nz-tooltip [nzTooltipTitle]="item.alerts">{{ item.alerts || 'TODO' }}</td>
      <td nzEllipsis nz-tooltip [nzTooltipTitle]="item.vehicleStatus">{{ item.vehicleStatus }}</td>
      <td>{{ item.observation || 'TODO' }}</td>
      <td>{{ item.monitoringRequest.driverName || '-' }}</td>
      <td>{{ item.wagon || 'TODO' }}</td>
      <td>{{ item.communication || 'TODO' }}</td>
      <td class="text-md-center">
        <!--          <nz-badge *ngIf="item.macro" nzStatus="success"></nz-badge>-->
        <!--          <nz-badge *ngIf="!item.macro" nzStatus="error"></nz-badge>-->
        TODO
      </td>
      <td class="text-md-center">
        <!--          <nz-badge *ngIf="item.embeddedIntelligence" nzStatus="success"></nz-badge>-->
        <!--          <nz-badge *ngIf="!item.embeddedIntelligence" nzStatus="error"></nz-badge>-->
        TODO
      </td>
      <td class="text-md-center">
        <nz-badge *ngIf="item.monitoringRequest.bait" nzStatus="success"></nz-badge>
        <nz-badge *ngIf="!item.monitoringRequest.bait" nzStatus="error"></nz-badge>
      </td>
      <td>{{ item.temperature || 'TODO' }}</td>
      <td>
        <a
          nz-dropdown
          nzTrigger="click"
          nzPlacement="bottomCenter"
          [nzDropdownMenu]="moreActions"
          class="text-dark font-size-20"
        >
          <span nz-icon nzType="more" nzTheme="outline"></span>
        </a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</ng-template>
