<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <nz-card>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Monitoramento
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-divider></nz-divider>

    <form [formGroup]="validateForm" class="m-b-30">
      <div nz-row nzGutter="12" nzAlign="middle">
        <div nz-col nzSpan="8">
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Cliente"
            formControlName="customer"
          >
            <nz-option *ngFor="let customer of customers" [nzLabel]="customer.tradingName" [nzValue]="customer.id"></nz-option>
          </nz-select>
        </div>
<!--        <div nz-col nzSpan="4">-->
<!--          <nz-select nzPlaceHolder="Agrupamento" formControlName="groupBy">-->
<!--            <nz-option nzLabel="Não agrupar" nzValue="not-group"></nz-option>-->
<!--            <nz-option nzLabel="Agrupar por alertas" nzValue="alert"></nz-option>-->
<!--            <nz-option nzLabel="Agrupar por jornadas" nzValue="journey"></nz-option>-->
<!--          </nz-select>-->
<!--        </div>-->
        <div nz-col nzSpan="8">
          <nz-select nzPlaceHolder="Terminal" formControlName="terminal" (ngModelChange)="loadList()">
            <nz-option *ngFor="let terminal of terminals" [nzLabel]="terminal.name" [nzValue]="terminal.id"></nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="4">
          <label nz-checkbox nzChecked>Ocultar antigos</label>
          <label nz-checkbox nzChecked>Em viagem</label>
        </div>
      </div>
    </form>

    <ng-container *ngIf="monitoringData.length > 0">
<!--    <ng-container>-->
      <div nzSpan="8">
        <button nzSize="small" nz-button nzType="secondary" class="m-r-10" (click)="openAlertModal()">
          (0) Mensagens
        </button>
        <button nzSize="small" nz-button nzType="primary" class="m-r-10" (click)="openAlertModal()">
          (0) Alertas
        </button>
        <button nzSize="small" nz-button nzDanger nzType="primary" class="m-r-10" (click)="openAlertModal(true)">
          (0) Urgente
        </button>
        <button nzSize="small" nz-button nzType="dashed">
          <span nz-icon nzType="car"></span>
          Placa
        </button>
      </div>

      <nz-radio-group class="m-t-15 m-b-25" nzButtonStyle="outline" [(ngModel)]="filter">
        <label nz-radio-button nzValue="all" class="border-all">Todos</label>
        <label nz-radio-button nzValue="start" class="border-ag-start">Ag. Inicio</label>
        <label nz-radio-button nzValue="contingency" class="border-contingency">Contigência</label>
        <label nz-radio-button nzValue="client" class="border-client">Cliente</label>
        <label nz-radio-button nzValue="travel" class="border-travelling">Em viagem</label>
        <label nz-radio-button nzValue="idle" class="border-standby">Parado</label>
        <label nz-radio-button nzValue="overnight" class="border-overnight">Pernoite</label>
        <label nz-radio-button nzValue="out" class="border-out-of-point">Fora do ponto</label>
      </nz-radio-group>

      <br/>

      <button nz-button nzSize="small" class="m-b-5" (click)="isTableFullscreen = true">
        <span nz-icon nzType="fullscreen"></span>
      </button>

      <div *ngIf="isTableFullscreen else monitoringDataTable"></div>
    </ng-container>

    <div class="text-center" *ngIf="notFound">
      <i nz-icon nzType="folder-open" nzTheme="outline" style="font-size: 32px" class="text-muted"></i>
      <h3 class="text-muted">Nenhum monitoramento encontrado</h3>
    </div>
  </nz-card>
</nz-spin>

<nz-modal
  nzTitle="Monitoramento"
  [nzVisible]="isTableFullscreen"
  (nzOnCancel)="isTableFullscreen = false"
  (nzOnOk)="isTableFullscreen = false"
  nzWidth="95%"
  [nzBodyStyle]="{ height: '80vh' }"
  [nzStyle]="{ top: '10px' }"
  nzOkText="Fechar"
  nzCancelText="Cancelar"
>
  <div *nzModalContent>
    <div *ngIf="!isTableFullscreen else monitoringDataTable"></div>
  </div>

</nz-modal>

<ng-template #monitoringDataTable>
  <nz-table
    #table
    [nzData]="monitoringData"
    [nzFrontPagination]="false"
    nzTableLayout="fixed"
    [nzScroll]="{ y: isTableFullscreen ? '75vh' : '800px' }"
  >
    <thead>
    <tr>
      <th
        *ngFor="let column of monitoringColumns"
        [nzSortFn]="column.compare"
        [nzLeft]="column.nzLeft"
        nzWidth="110px"
        [style]="'text-align: center; ' + column.style"
      >{{ column.title }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of table.data; let i=index" [class]="getRowBackgroundColor(item.monitoringRequest.status)">
      <td
        style="text-align: center"
        nzLeft
        [class]="getRowBackgroundColor(item.monitoringRequest.status)"
      >
        <img
          [src]="'assets/images/brand/200x200/' + item.trackerTechnologyName.toLowerCase() + '.png'"
          alt="logo"
          width="25px"
          height="25px"
        />
      </td>
      <td nzLeft [class]="getRowBackgroundColor(item.monitoringRequest.status)">{{ item.trackerSerialNumber || '-' }}</td>
      <td
        nzLeft
        nz-tooltip
        [nzTooltipTitle]="item.monitoringRequest.id"
        [class]="getRowBackgroundColor(item.monitoringRequest.status)"
      >{{ item.monitoringRequest.id | id}}</td>
      <td nzLeft [class]="getRowBackgroundColor(item.monitoringRequest.status)">{{ item.vehicle?.plate || '-' }}</td>
      <td class="text-md-center">
        <nz-badge *ngIf="item.ignition" nzStatus="success"></nz-badge>
        <nz-badge *ngIf="!item.ignition" nzStatus="error"></nz-badge>
      </td>
      <td class="text-md-center">
        <span
          nz-tooltip
          [nzTooltipTitle]="item.alert.text"
          nz-icon
          [nzType]="item.alert.icon"
          nzTheme="fill"
          [style]="'font-size: 20px;color: ' + item.alert.color"
        ></span>
      </td>
      <td class="text-md-center" style="cursor: pointer" (click)="openAutomationModal(item.automation)">
        <span
          nz-tooltip
          [nzTooltipTitle]="item.automation.text"
          nz-icon
          [nzType]="item.automation.icon"
          nzTheme="fill"
          [style]="'font-size: 20px;color: ' + item.automation.color"
        ></span>
      </td>
      <td>
        <button
          nz-button
          nzType="link"
          nzSize="small"
          (click)="openMap(item)"
        ><span nz-icon nzType="pushpin" nzTheme="fill"></span></button>
      </td>
      <td class="text-md-center">
        <!--          <nz-progress [nzPercent]="item.progress"></nz-progress>-->
        TODO
      </td>
      <td>{{ item.speed }}km</td>
      <td>{{ item.customer?.name }}</td>
      <td>{{ item.positionDate | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td nzEllipsis nz-tooltip [nzTooltipTitle]="item.street">{{ item.street }}</td>
      <td nzEllipsis nz-tooltip [nzTooltipTitle]="getOrigin(item)">{{ getOrigin(item) }}</td>
      <td nzEllipsis nz-tooltip [nzTooltipTitle]="getDestiny(item)">{{ getDestiny(item) }}</td>
      <td nzEllipsis nz-tooltip [nzTooltipTitle]="getAlerts(item)">{{ getAlerts(item) || '-' }}</td>
      <td nzEllipsis nz-tooltip [nzTooltipTitle]="getStatusTranslation(item.monitoringRequest.status)">
        {{getStatusTranslation(item.monitoringRequest.status)}}
      </td>
      <td>{{ item.observations || '-' }}</td>
      <td>{{ item.monitoringRequest.driverName || '-' }}</td>
      <td>{{ getWagons(item) || '-' }}</td>
      <td>{{ item.communication || 'TODO' }}</td>
      <td class="text-md-center">
        <nz-badge *ngIf="item.monitoringRequest.hasMacro" nzStatus="success"></nz-badge>
        <nz-badge *ngIf="!item.monitoringRequest.hasMacro" nzStatus="error"></nz-badge>
      </td>
      <td class="text-md-center">
        <nz-badge *ngIf="item.monitoringRequest.hasEmbeddedIntelligence" nzStatus="success"></nz-badge>
        <nz-badge *ngIf="!item.monitoringRequest.hasEmbeddedIntelligence" nzStatus="error"></nz-badge>
      </td>
      <td class="text-md-center">
        <nz-badge *ngIf="item.monitoringRequest.bait" nzStatus="success"></nz-badge>
        <nz-badge *ngIf="!item.monitoringRequest.bait" nzStatus="error"></nz-badge>
      </td>
      <td>{{ item.temperature ? item.temperature + '°C' : 'N/a' }}</td>
      <td>
        <a
          nz-dropdown
          nzTrigger="click"
          nzPlacement="bottomCenter"
          [nzDropdownMenu]="moreActions"
          class="text-dark font-size-20"
        >
          <span nz-icon nzType="more" nzTheme="outline"></span>
        </a>
      </td>

      <nz-dropdown-menu #moreActions="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="goToMonitoringRequest(item.monitoringRequest.id)">Solicitação de monitoramento</li>
          <li nz-menu-item>Comandos</li>
          <li nz-menu-item>Mensagens</li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="openUpdateObservationModal(item)">Observação</li>
        </ul>
      </nz-dropdown-menu>
    </tr>
    </tbody>
  </nz-table>
</ng-template>

<ng-template #dataNotFound>
</ng-template>
