<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <nz-card [nzBodyStyle]="{ 'padding-bottom': 0 }">
    <form [formGroup]="validateForm" class="m-b-30">
      <div nz-row nzGutter="12" nzAlign="middle">
        <div nz-col nzSpan="8" *ngIf="authService.customerId">
          <nz-select
            nzPlaceHolder="Cliente"
            formControlName="customer"
          >
            <nz-option
              *ngFor="let customer of authService.user.customer"
              [nzLabel]="customer.tradingName"
              [nzValue]="customer.id"
            ></nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="8" *ngIf="!authService.customerId">
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Cliente"
            formControlName="customer"
            (ngModelChange)="loadPositions()"
            nzServerSearch
            (nzScrollToBottom)="selectableCustomerService.loadMoreCustomers()"
            (nzOnSearch)="selectableCustomerService.searchByName($event)"
            [nzDropdownRender]="selectLoading"
          >
            <nz-option
              *ngFor="let customer of selectableCustomerService.customers"
              [nzLabel]="customer.tradingName"
              [nzValue]="customer.id"
            ></nz-option>
          </nz-select>
        </div>

        <div nz-col nzSpan="8" *ngIf="!authService.customerId">
          <nz-select nzPlaceHolder="Terminal" formControlName="terminal" (ngModelChange)="loadPositions()">
            <nz-option *ngFor="let terminal of terminals" [nzLabel]="terminal.name" [nzValue]="terminal.id"></nz-option>
          </nz-select>
        </div>

        <div nz-col nzSpan="4">
          <label
            nz-checkbox
            formControlName="hideOld"
          >Ocultar antigos</label>
          <label
            nz-checkbox
            formControlName="travelling"
            (ngModelChange)="loadPositions()"
          >Em viagem</label>
        </div>
      </div>
    </form>

    <ng-container *ngIf="monitoringData">
      <div *ngIf="user.isGertranStaff">
        <div nzSpan="8" data-testid="alerts">
          <button nzSize="small" nz-button nzType="secondary" class="m-r-10" (click)="openAlertModal('info')">
            ({{ alertsCount?.info }}) Mensagens
          </button>
          <button nzSize="small" nz-button nzType="primary" class="m-r-10" (click)="openAlertModal('warning')">
            ({{ alertsCount?.warning }}) Alertas
          </button>
          <button nzSize="small" nz-button nzDanger nzType="primary" class="m-r-10" (click)="openAlertModal('danger')">
            ({{ alertsCount?.danger }}) Urgentes
          </button>
          <button nzSize="small" nz-button nzType="dashed">
            <span nz-icon nzType="car"></span>
            {{ plate }} - Placa
          </button>
        </div>

        <nz-radio-group
          class="m-t-15 m-b-15"
          nzButtonStyle="outline"
          nzSize="small"
        >
          <label nz-radio-button nzValue="all" (click)="applyTravelStatusFilter('all')" class="border-all">Todos</label>
          <label nz-radio-button nzValue="waiting_for_start" (click)="applyTravelStatusFilter('waiting_for_start')"
                 class="border-ag-start">Ag. Inicio</label>
          <label nz-radio-button nzValue="contingency" (click)="applyTravelStatusFilter('contingency')"
                 class="border-contingency">Contigência</label>
          <label nz-radio-button nzValue="vehicle_in_customer" (click)="applyTravelStatusFilter('vehicle_in_customer')"
                 class="border-client">Cliente</label>
          <label nz-radio-button nzValue="in_progress" (click)="applyTravelStatusFilter('in_progress')"
                 class="border-travelling">Em viagem</label>
          <label nz-radio-button nzValue="stopped" (click)="applyTravelStatusFilter('stopped')" class="border-standby">Parado</label>
          <label nz-radio-button nzValue="driver_in_overnight" (click)="applyTravelStatusFilter('driver_in_overnight')"
                 class="border-overnight">Pernoite</label>
          <label nz-radio-button nzValue="out_of_point" (click)="applyTravelStatusFilter('out_of_point')"
                 class="border-out-of-point">Fora do ponto</label>
        </nz-radio-group>
      </div>

      <br/>

      <button nz-button nzSize="small" class="m-b-5" (click)="openFullScreenTable()">
        <span nz-icon nzType="fullscreen"></span>
      </button>

      <div *ngIf="isTableFullscreen else monitoringDataTable"></div>
    </ng-container>
  </nz-card>
</nz-spin>

<nz-modal
  nzTitle="Monitoramento"
  [nzVisible]="isTableFullscreen"
  (nzOnCancel)="closeFullScreenTable()"
  (nzOnOk)="closeFullScreenTable()"
  nzWidth="100%"
  [nzBodyStyle]="{ height: '85vh' }"
  [nzStyle]="{ top: '10px' }"
  nzOkText="Fechar"
  nzCancelText="Cancelar"
>
  <div *nzModalContent>
    <nz-radio-group
      class="m-t-15 m-b-15"
      nzButtonStyle="outline"
      nzSize="small"
    >
      <label nz-radio-button nzValue="all" (click)="applyTravelStatusFilter('all')" class="border-all">Todos</label>
      <label nz-radio-button nzValue="waiting_for_start" (click)="applyTravelStatusFilter('waiting_for_start')"
             class="border-ag-start">Ag. Inicio</label>
      <label nz-radio-button nzValue="contingency" (click)="applyTravelStatusFilter('contingency')"
             class="border-contingency">Contigência</label>
      <label nz-radio-button nzValue="vehicle_in_customer" (click)="applyTravelStatusFilter('vehicle_in_customer')"
             class="border-client">Cliente</label>
      <label nz-radio-button nzValue="in_progress" (click)="applyTravelStatusFilter('in_progress')"
             class="border-travelling">Em viagem</label>
      <label nz-radio-button nzValue="stopped" (click)="applyTravelStatusFilter('stopped')" class="border-standby">Parado</label>
      <label nz-radio-button nzValue="driver_in_overnight" (click)="applyTravelStatusFilter('driver_in_overnight')"
             class="border-overnight">Pernoite</label>
      <label nz-radio-button nzValue="out_of_point" (click)="applyTravelStatusFilter('out_of_point')"
             class="border-out-of-point">Fora do ponto</label>
    </nz-radio-group>

    <div *ngIf="!isTableFullscreen else monitoringDataTable"></div>
  </div>
</nz-modal>

<ng-template #monitoringDataTable>
  <nz-table
    #table
    [nzData]="monitoringData"
    [nzFrontPagination]="false"
    nzTableLayout="fixed"
    nzSize="small"
    [nzScroll]="{ y: isTableFullscreen ? '75vh' : 'calc(100vh - 400px)' }"
    [nzLoading]="isLoading"
  >
    <thead>
    <tr>
      <th
        *ngFor="let column of monitoringColumns"
        [nzSortFn]="column.compare"
        [nzLeft]="column.nzLeft"
        [nzWidth]="column.width"
        class="text-center"
        [style]="column.style"
      >{{ column.title }}</th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let item of table.data; let i=index"
      [class]="getRowBackgroundColor(item.monitoringRequest?.travelStatus)"
      (contextmenu)="openDropdown($event, moreActionsRight, item)"
      (click)="setPlate(item?.vehiclePlate)"
    >
      <td nzLeft [class]="getRowBackgroundColor(item.monitoringRequest?.travelStatus)">
        <img
          [src]="'assets/images/brand/200x200/' + item.trackerTechnologyName.toLowerCase() + '.png'"
          alt="logo"
          width="25px"
          height="25px"
        />
      </td>
      <td
        nzLeft
        [class]="getRowBackgroundColor(item.monitoringRequest?.travelStatus)"
      >{{ item.trackerSerialNumber || '-' }}</td>
      <td
        nzLeft
        nz-tooltip
        [nzTooltipTitle]="item.monitoringRequest?.id"
        [class]="getRowBackgroundColor(item.monitoringRequest?.travelStatus)"
      >{{ item.monitoringRequest?.id || '' | id}}</td>
      <td
        nzLeft
        [class]="getRowBackgroundColor(item.monitoringRequest?.travelStatus)"
      >{{ item.vehiclePlate || '-' }}</td>
      <td nzLeft [class]="getRowBackgroundColor(item.monitoringRequest?.travelStatus)">
        <img width="16" src="assets/icons/key-orange.svg" alt="Orange Key" *ngIf="item.ignition">
        <img width="16" src="assets/icons/key-grey.svg" alt="Grey Key" *ngIf="!item.ignition">
      </td>
      <td nzLeft [class]="getRowBackgroundColor(item.monitoringRequest?.travelStatus)" *ngIf="user.isGertranStaff"
          data-testid="td-gertran-only">
        <span
          *ngIf="getLastEvent(item)"
          nz-tooltip
          [nzTooltipTitle]="getLastEvent(item)?.eventDescription"
          nz-icon
          [nzType]="getAlertIcon(item)?.icon"
          nzTheme="twotone"
          [nzTwotoneColor]="getAlertIcon(item)?.color"
          style="font-size: 20px"
        ></span>
      </td>
      <td nzLeft style="cursor: pointer" (click)="openAutomationModal(item)"
          [class]="getRowBackgroundColor(item.monitoringRequest?.travelStatus)">
        <span
          nz-icon
          nzType="info-circle"
          nzTheme="fill"
          [style]="'font-size: 20px; color: ' + (item.positionInfo?.hasAutomations > 0 ? '#1890ff' : '#ccc')"
        ></span>
      </td>
      <td nzLeft [class]="getRowBackgroundColor(item.monitoringRequest?.travelStatus)">
        <button
          nz-button
          nzType="link"
          nzSize="small"
          (click)="openMap(item)"
        >
          <img
            src="assets/images/others/map-icon.svg"
            alt="logo"
            width="25px"
            height="25px"
            style="filter: invert(56%) sepia(97%) saturate(2141%) hue-rotate(155deg) brightness(87%) contrast(101%);"
          />
        </button>
      </td>
      <td nzLeft [nzAlign]="'center'" [class]="getRowBackgroundColor(item.monitoringRequest?.travelStatus)">
        <div class="progress-bar" [style]="'--progress:' + item.positionInfo?.travelProgress + '%'">
        </div>
      </td>
      <td nzLeft [class]="getRowBackgroundColor(item.monitoringRequest?.travelStatus)">{{ item.speed }}km</td>
      <td nzLeft [class]="getRowBackgroundColor(item.monitoringRequest?.travelStatus)">{{ item.customer?.name }}</td>
      <td nzLeft
          [class]="getRowBackgroundColor(item.monitoringRequest?.travelStatus)">{{ item.positionDate | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td nzLeft [class]="getRowBackgroundColor(item.monitoringRequest?.travelStatus)" nzEllipsis nz-tooltip
          [nzTooltipTitle]="item.pointReference || item.street">{{ item.pointReference || item.street || '-' }}</td>
      <td
        nzLeft
        [class]="getRowBackgroundColor(item.monitoringRequest?.travelStatus)"
        nzEllipsis
        nz-tooltip
        [nzTooltipTitle]="getStatusTranslation(item.monitoringRequest?.travelStatus)"
        *ngIf="user.isGertranStaff"
        data-testid="td-gertran-only"
      >
        {{getStatusTranslation(item.monitoringRequest?.travelStatus)}}
      </td>
      <td>{{ getOrigin(item) }}</td>
      <td>{{ getDestiny(item) }}</td>
      <td
        *ngIf="user.isGertranStaff"
        data-testid="td-gertran-only"
        nzEllipsis
        nz-tooltip
        [nzTooltipTitle]="getAlerts(item)"
      >{{ getAlerts(item) || '-' }}</td>
      <td *ngIf="user.isGertranStaff"
          data-testid="td-gertran-only">{{ item.truck?.observations || '-' }}</td>
      <td>{{ item.positionInfo?.driverName || '-' }}</td>
      <td>{{ item.positionInfo?.wagonsPlates || '-' }}</td>
      <td *ngIf="user.isGertranStaff"
          data-testid="td-gertran-only">{{ getCommunicationChannel(item.positionInfo?.communicationChannel) }}</td>
      <td *ngIf="user.isGertranStaff" data-testid="td-gertran-only">
        <nz-badge *ngIf="item.positionInfo?.hasMacro" nzStatus="success"></nz-badge>
        <nz-badge *ngIf="!item.positionInfo?.hasMacro" nzStatus="error"></nz-badge>
      </td>
      <td *ngIf="user.isGertranStaff" data-testid="td-gertran-only">
        <nz-badge *ngIf="item.positionInfo?.hasEmbeddedIntelligence" nzStatus="success"></nz-badge>
        <nz-badge *ngIf="!item.positionInfo?.hasEmbeddedIntelligence" nzStatus="error"></nz-badge>
      </td>
      <td *ngIf="user.isGertranStaff" data-testid="td-gertran-only">
        <nz-badge *ngIf="item.positionInfo?.hasBaits" nzStatus="success"></nz-badge>
        <nz-badge *ngIf="!item.positionInfo?.hasBaits" nzStatus="error"></nz-badge>
      </td>
      <td>{{ item.temperature ? item.temperature + '°C' : 'N/a' }}</td>
      <nz-dropdown-menu #moreActionsRight="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="goToMonitoringRequest(item.monitoringRequest.id)">Solicitação de monitoramento</li>
          <li nz-menu-item (click)="openCommandsModal(item)">Comandos</li>
          <li nz-menu-item (click)="openIncidentsModal(item)">Ocorrências</li>
          <li nz-submenu nzTitle="Mudar status">
            <ul style="z-index: 999">
              <li
                *ngFor="let status of travelStatus"
                nz-menu-item
                (click)="changeStatus(item, status.value)"
              >
                {{ status.title }}
              </li>
            </ul>
          </li>
          <li nz-menu-item (click)="openMessagesModal(item)">Mensagens</li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="openUpdateObservationModal(item)">Observação</li>
        </ul>
      </nz-dropdown-menu>
    </tr>
    </tbody>
  </nz-table>
</ng-template>

<ng-template #selectLoading>
  <nz-spin *ngIf="selectableCustomerService.isLoadingMoreData"></nz-spin>
</ng-template>
