<div class="row m-b-30">
  <div class="col-lg-12 text-right">
    <button
      (click)="this.isCreatingBranchOffice = true"
      nz-button
      nzType="primary"
    >
      <i nz-icon nzType="plus" theme="outline"></i>
      <span>Adicionar Filial</span>
    </button>
  </div>
</div>

<app-branch-office-table
  [branchOffices]="branchOffices"
  (onEdit)="edit($event)"
  (onDelete)="delete($event)"
  (onPaginate)="loadBranchOffices($event)"
></app-branch-office-table>

<app-branch-office-form
  *ngIf="isCreatingBranchOffice"
  [branchOffice]="branchOffice"
  [isVisible]="isCreatingBranchOffice"
  (onClose)="this.isCreatingBranchOffice = false"
  (onSubmit)="save($event)"
></app-branch-office-form>
