<div class="row m-b-10">
  <div class="col-lg-8">
    <div class="d-md-flex">
      <div class="m-b-10 m-r-20">
        
      </div>
    </div>
  </div>
  <div class="col-lg-4 text-right">
    <button
      (click)="this.isCreatingBranchOffice = true"
      nz-button
      nzType="primary"
    >
      <i nz-icon nzType="plus" theme="outline"></i>
      <span>Adicionar Filial</span>
    </button>        
  </div>
</div>

<app-branch-office-table
  [branchOffices]="branchOffices"
  (onEdit)="edit($event)"
  (onDelete)="delete($event)"
  (onPaginate)="loadBranchOffices($event)"
></app-branch-office-table>

<app-branch-office-form
  *ngIf="isCreatingBranchOffice"
  [branchOffice]="branchOffice"
  [isVisible]="isCreatingBranchOffice"
  (onClose)="this.isCreatingBranchOffice = false"
  (onSubmit)="save($event)"
></app-branch-office-form>