#pkId {
    background-color: #f5f5f5; /* Cor de fundo para simular desabilitado */
    cursor: not-allowed; /* Cursor de não permitido */
    pointer-events: none; /* Impede interações do mouse */
    /*color: #a8a8a8;  Cor do texto para indicar que está desabilitado */
  }