<form nz-form nzLayout="vertical" [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="note">Nome</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="inválido!">
      <input id="brandName" type="text" nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="note">CPF</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="inválido!">
      <input id="companyName" type="text" nz-input formControlName="cpf" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="note">Celular</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="inválido!">
      <input id="cnpj" type="text" nz-input formControlName="cellphone" />
    </nz-form-control>
  </nz-form-item>
  <nz-divider></nz-divider>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="note">CNH</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="inválido!">
      <input id="cnpj" type="text" formControlName="cnh" nz-input />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="note">CNH Categoria</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="inválido!">
      <input id="cnpj" type="text" nz-input formControlName="cnhCategory" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="note">CNH Validade</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="inválido!">
      <input id="cnpj" type="text" nz-input formControlName="cnhExpiration" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button type="button" (click)="save()" nz-button nzType="primary">
        <i nz-icon nzType="save"></i>Salvar Motorista
      </button>
      <button type="button" (click)="listDrivers()" nz-button>
        <i nz-icon nzType="unordered-list"></i>Listar Motoristas
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
