<nz-tabset nzType="card">
  <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.label">
    <form nz-form nzLayout="vertical">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzRequired nzFor="start">Funcionamento de</nz-form-label>
            <nz-form-control [nzSpan]="null" nzErrorTip="inválido!">
              <input id="start" type="time" nz-input />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzRequired nzFor="end">Funcionamento até</nz-form-label>
            <nz-form-control [nzSpan]="null" nzErrorTip="inválido!">
              <input id="end" type="time" nz-input  />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <nz-form-item>
            <nz-form-label></nz-form-label>
            <nz-form-control [nzSpan]="null" nzErrorTip="inválido!">
              <label nz-checkbox >
                Funciona 24 horas?
              </label>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzRequired nzFor="expectedG2g">G2G Esperado</nz-form-label>
            <nz-form-control [nzSpan]="null" nzErrorTip="inválido!">
              <input id="expectedG2g" type="time" nz-input  />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <nz-form-item>
            <nz-form-label [nzSpan]="null" nzRequired nzFor="hiredG2g">G2G Contratado</nz-form-label>
            <nz-form-control [nzSpan]="null" nzErrorTip="inválido!">
              <input id="hiredG2g" type="time" nz-input  />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-tab>
</nz-tabset>
