<nz-tabset>
  <nz-tab nzTitle="Mapa">
    <nz-card [nzCover]="map">
    </nz-card>
  </nz-tab>

  <nz-tab nzTitle="Próxima viagem" nzDisabled>
  </nz-tab>

  <nz-tab nzTitle="Grade" nzDisabled>
    Nenhum registro encontrado
  </nz-tab>
</nz-tabset>

<ng-template #map>
  <mgl-map
    [style]="'mapbox://styles/mapbox/streets-v9'"
    [fitBounds]="directionsGeoJson && driverLocation && bounds"
    [fitBoundsOptions]="{ padding: 50 }"
    [center]="driverLocation"
    [zoom]="[10]"
  >
    <ng-container *ngIf="directionsGeoJson">
      <mgl-layer
        id="route"
        type="line"
        [source]="{ type: 'geojson', data: directionsGeoJson }"
        [paint]="{
          'line-color': '#5a83ff',
          'line-width': 5
        }"
        [layout]="{
          'line-join': 'round',
          'line-cap': 'round'
        }"
      ></mgl-layer>

      <mgl-marker
        *ngFor="let marker of markers"
        [lngLat]="marker"
      >
      <span
        nz-icon
        nzType="pushpin"
        nzTheme="fill"
        style="color: red; font-size: 24px"
      ></span>
      </mgl-marker>
    </ng-container>

    <mgl-marker [lngLat]="driverLocation">
      <span
        nz-icon
        nzType="car"
        nzTheme="fill"
        style="color: grey; font-size: 24px"
      ></span>
    </mgl-marker>
  </mgl-map>
</ng-template>
