<button
  nz-button
  class="m-b-25"
  nzType="primary"
  (click)="openCreateIncidentModal()"
>
  <i nz-icon nzType="plus"></i>
  <span>Criar ocorrência</span>
</button>

<nz-table
  #incidentsTable
  [nzData]="incidents?.results"
  [nzTotal]="incidents?.count"
  [nzPageSize]="incidents?.limit"
  [nzPageIndex]="page"
  [nzFrontPagination]="false"
  (nzQueryParams)="handleQueryParamsChange($event)"
  nzSize="small"
  [nzLoading]="isLoading"
>
  <thead>
  <tr>
    <th *ngFor="let column of incidentsColumns">
      {{ column.title }}
    </th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let incident of incidentsTable.data">
    <td>{{ incident.id | id }}</td>
    <td>{{ position.monitoringRequest.id | id }}</td>
    <td>{{ incident.datetime | date: 'dd/MM/yyyy HH:mm' }}</td>
    <td>{{ getCreatedBy(incident)}}</td>
    <td>{{ incident.incidentType.type }}</td>
    <td>{{ incident.incidentLocation + ' ' + incident.additionalInformation }}</td>
    <td>
      <button
        nz-button
        nzType="link"
        nzSize="small"
        (click)="openIncidentDetailsModal(incident)"
      >
        <i nz-icon nzType="eye"></i>
      </button>
    </td>
  </tr>
  </tbody>

</nz-table>
