.bg-alert {
  background: yellow;
  font-weight: bold;
}

.bg-waiting_for_start {
  background: green;
}

.bg-danger {
  background: red;
  font-weight: bold;
}

th.table-header {
  color: #2a2a2a;
  font-size: 0.75rem;
  font-weight: bold;
  background: #ededed;
  border: 1px solid #2a2a2a;
  border-collapse: collapse;
}


.max-width-cell {
  max-width: 200px; /* Set your desired maximum width */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.custom-table th,
.custom-table td {
  border: 1px solid black;
}

th, td {
  font-weight: bold;
  font-size: 16px;
}