<nz-table
  #branchOfficesTable
  [nzData]="branchOffices?.results"
  [nzTotal]="branchOffices?.count"
  [nzPageSize]="branchOffices?.limit"
  [nzPageIndex]="page"
  [nzFrontPagination]="false"
  (nzQueryParams)="handleQueryParamsChange($event)"
>
  <thead>
  <tr>
    <th *ngFor="let column of branchOfficesOrderColumn" [nzSortFn]="column.compare">{{ column.title }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of branchOfficesTable.data;  let i=index">
    <td>
      <div class="d-flex align-items-center">
        <h6 class="m-l-10 m-b-0">{{item.tradingName}}</h6>
      </div>
    </td>
    <td>{{item.corporateName}}</td>
    <td>{{item.cnpj}}</td>
    <td>{{item.domain}}</td>
    <td class="text-md-center">
      <a
        (click)="edit(item)"
        class="m-r-5"
        nz-button
        nzType="default"
        nzShape="circle"
        nz-tooltip
        nzTooltipTitle="Editar"
      >
        <i nz-icon nzType="edit" theme="outline"></i>
      </a>
      <a
        (click)="delete(item)"
        nz-button
        nzType="default"
        nzShape="circle"
        nz-tooltip
        nzTooltipTitle="Excluir"
      >
        <i nz-icon nzType="delete" theme="outline"></i>
      </a>
    </td>
  </tr>
  </tbody>
</nz-table>
