<nz-form-item class="m-b-0">
  <nz-form-control>
    <nz-select
      [ngModel]="selectedUserId"
      (ngModelChange)="onSelect($event)"
      nzAllowClear
      nzServerSearch
      nzShowSearch
      nzPlaceHolder="Selecione um usuário"
      (nzOnSearch)="onSearch($event)"
      (nzScrollToBottom)="onScrollToBottom()"
    >
      <nz-option
        *ngIf="filterByAll"
        nzLabel="Todos os usuários"
        nzValue="all"
      ></nz-option>

      <nz-option
        *ngFor="let user of userService.users"
        [nzLabel]="user.name"
        [nzValue]="user.id"
      ></nz-option>
    </nz-select>
  </nz-form-control>
</nz-form-item>
