<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <nz-card>

    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a><i nz-icon nzType="idcard"></i><span>Automações</span></a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="resource?.id">
        Editar automação ({{resource.name}})
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="!resource?.id">
        Adicionar automação
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-divider></nz-divider>

    <form nz-form nzLayout="horizontal" [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label nzFor="action" nzRequired>Nome</nz-form-label>
        <nz-form-control nzSpan="3" nzErrorTip="Preencha o campo!">
          <input nz-input formControlName="name" id="name" placeholder="Nome" />
        </nz-form-control>

        <nz-form-label nzOffset="1" nzFor="eventType" nzRequired>Evento</nz-form-label>
        <nz-form-control nzErrorTip="Preencha o campo!" nzSpan="3">
          <nz-select
            id="eventType"
            nzPlaceHolder="Selecione o tipo de evento"
            formControlName="event"
          >
            <nz-option
              *ngFor="let event of events"
              [nzLabel]="event.label"
              [nzValue]="event.value"
            ></nz-option>
          </nz-select>
        </nz-form-control>

        <nz-form-label nzOffset="1" nzFor="action" nzRequired>Ação</nz-form-label>
        <nz-form-control nzSpan="3" nzErrorTip="Preencha o campo">
          <nz-radio-group nzButtonStyle="solid" formControlName="action">
            <label *ngFor="let action of actions" nz-radio-button [nzValue]="action.value">
              {{action.label}}
            </label>
          </nz-radio-group>
        </nz-form-control>

        <nz-form-label nzOffset="1" nzFor="action" nzRequired>Está ativo?</nz-form-label>
        <nz-form-control nzSpan="3" nzErrorTip="Preencha o campo">
          <nz-radio-group nzButtonStyle="solid" formControlName="isActive">
            <label nz-radio-button [nzValue]="true">Sim</label>
            <label nz-radio-button [nzValue]="false">Não</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

      <nz-divider></nz-divider>

      <nz-form-item>
        <nz-form-label [nzSpan]="3" nzFor="action" nzRequired>SM - Viagem</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Preencha o campo">
          <nz-radio-group nzButtonStyle="solid" formControlName="hasTravelSm">
            <label nz-radio-button [nzValue]="true">Sim</label>
            <label nz-radio-button [nzValue]="false">Não</label>
          </nz-radio-group>
        </nz-form-control>

        <nz-form-label [nzSpan]="3" nzFor="action" nzRequired>Comando</nz-form-label>
        <nz-form-control [nzSpan]="3" nzErrorTip="Preencha o campo">
          <nz-radio-group nzButtonStyle="solid" formControlName="hasCommand">
            <label nz-radio-button [nzValue]="true">Sim</label>
            <label nz-radio-button [nzValue]="false">Não</label>
          </nz-radio-group>
        </nz-form-control>
        <nz-form-control [nzSpan]="5" nzErrorTip="Preencha o campo">
          <nz-select
            id="eventType"
            nzPlaceHolder="Selecione o comando"
            formControlName="command"
            [nzDisabled]="!validateForm.get('hasCommand').value"
          >
            <nz-option
              *ngFor="let command of commands"
              [nzLabel]="command.label"
              [nzValue]="command.value"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSpan]="3" nzFor="action" nzRequired>MSG - Veículo</nz-form-label>
        <nz-form-control [nzSpan]="3" nzErrorTip="Preencha o campo">
          <nz-radio-group nzButtonStyle="solid" formControlName="hasVehicleMessage">
            <label nz-radio-button [nzValue]="true">Sim</label>
            <label nz-radio-button [nzValue]="false">Não</label>
          </nz-radio-group>
        </nz-form-control>

        <nz-form-control [nzSpan]="5" nzErrorTip="Preencha o campo">
          <input nz-input formControlName="vehicleMessage" />
        </nz-form-control>

        <nz-form-label [nzSpan]="3" nzFor="action" nzRequired>MSG Envio</nz-form-label>
        <nz-form-control [nzSpan]="3" nzErrorTip="Preencha o campo">
          <nz-radio-group nzButtonStyle="solid" formControlName="hasSendMessage">
            <label nz-radio-button [nzValue]="true">Sim</label>
            <label nz-radio-button [nzValue]="false">Não</label>
          </nz-radio-group>
        </nz-form-control>

        <nz-form-control [nzSpan]="5" nzErrorTip="Preencha o campo">
          <input
            nz-input
            formControlName="sendMessage"
          >
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="3" nzFor="action" nzRequired>Tempo de Ação</nz-form-label>
        <nz-form-control [nzSpan]="3" nzErrorTip="Preencha o campo">
          <nz-radio-group nzButtonStyle="solid" formControlName="hasTimeAction">
            <label nz-radio-button [nzValue]="true">Sim</label>
            <label nz-radio-button [nzValue]="false">Não</label>
          </nz-radio-group>
        </nz-form-control>
        <nz-form-control [nzSpan]="5" nzErrorTip="Preencha o campo">
          <input type="text" nz-input placeholder="" formControlName="timeAction">
        </nz-form-control>

        <nz-form-label [nzSpan]="3" nzFor="action" nzRequired>Alerta Operador</nz-form-label>
        <nz-form-control [nzSpan]="3" nzErrorTip="Preencha o campo">
          <nz-radio-group nzButtonStyle="solid" formControlName="hasAlertOperator">
            <label nz-radio-button [nzValue]="true">Sim</label>
            <label nz-radio-button [nzValue]="false">Não</label>
          </nz-radio-group>
        </nz-form-control>
        <nz-form-control [nzSpan]="5" nzErrorTip="Preencha o campo">
          <input type="text" nz-input placeholder="" formControlName="alertOperatorMessage">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="3" nzFor="action" nzRequired>Velocidade</nz-form-label>
        <nz-form-control [nzSpan]="3" nzErrorTip="Preencha o campo">
          <nz-radio-group nzButtonStyle="solid"  formControlName="hasVelocity">
            <label nz-radio-button [nzValue]="true">Sim</label>
            <label nz-radio-button [nzValue]="false">Não</label>
          </nz-radio-group>
        </nz-form-control>
        <nz-form-control [nzSpan]="5" nzErrorTip="Preencha o campo">
          <input type="text" nz-input placeholder="" formControlName="velocity">
        </nz-form-control>

        <nz-form-label [nzSpan]="3" nzFor="action" nzRequired>Ocorrência</nz-form-label>
        <nz-form-control [nzSpan]="3" nzErrorTip="Preencha o campo">
          <nz-radio-group nzButtonStyle="solid" formControlName="hasOccurrence">
            <label nz-radio-button [nzValue]="true">Sim</label>
            <label nz-radio-button [nzValue]="false">Não</label>
          </nz-radio-group>
        </nz-form-control>
        <nz-form-control [nzSpan]="5" nzErrorTip="Preencha o campo">
          <input type="text" nz-input formControlName="occurrenceMessage">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="3" nzFor="action" nzRequired>Ignição</nz-form-label>
        <nz-form-control [nzSpan]="3" nzErrorTip="Preencha o campo">
          <nz-radio-group nzButtonStyle="solid" formControlName="hasIgnition">
            <label nz-radio-button [nzValue]="true">Sim</label>
            <label nz-radio-button [nzValue]="false">Não</label>
          </nz-radio-group>
        </nz-form-control>
        <nz-form-control [nzSpan]="5" nzErrorTip="Preencha o campo">
          <input type="text" nz-input formControlName="ignitionMessage">
        </nz-form-control>

        <nz-form-label [nzSpan]="3" nzFor="action" nzRequired>Todos os clientes?</nz-form-label>

        <nz-form-control [nzSpan]="3" nzErrorTip="Preencha o campo">
          <nz-radio-group
            nzButtonStyle="solid"
            (ngModelChange)="onAllCustomersChange()"
            formControlName="isForAllCustomers"
          >
            <label nz-radio-button [nzValue]="true">Sim</label>
            <label nz-radio-button [nzValue]="false">Não</label>
          </nz-radio-group>
        </nz-form-control>

        <nz-form-control [nzSpan]="5" nzErrorTip="Preencha o campo">
          <button
            nz-button
            nzType="primary"
            (click)="showCustomersModal()"
            [disabled]="this.validateForm.get('isForAllCustomers').value"
          >Selecionar Clientes</button>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <button type="button" (click)="save()" nz-button nzType="primary">
            <i nz-icon nzType="save"></i>Salvar Automação
          </button>
          <button type="button" (click)="list()" nz-button>
            <i nz-icon nzType="unordered-list"></i>Listar Automações
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</nz-spin>
>
