<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <nz-card>

    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a><i nz-icon nzType="idcard"></i><span>Requisições de monitoramento</span></a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="resource?.id">
        Editar Requisições de monitoramento ({{resource.name}})
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="!resource?.id">
        Adicionar Requisições de monitoramento
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-divider></nz-divider>

    <nz-tabset>
      <nz-tab nzTitle="Requisição de monitoramento">
        <app-monitoring-requests-form
          *ngIf="!isLoading"
        ></app-monitoring-requests-form>
      </nz-tab>
      <nz-tab nzTitle="Etapas da viagem" [nzDisabled]="!resource">
        <ng-template nz-tab>
          <app-points-tab
            *ngIf="!isLoading && resource?.id"
            [monitoringRequest]="resource"
            (updateRouteCoordinates)="updateRouteCoordinates($event)"
          ></app-points-tab>
        </ng-template>
      </nz-tab>
      <nz-tab nzTitle="Ordens de carregamento" [nzDisabled]="!resource">
        <ng-template nz-tab>
          <app-loading-order-tab
            *ngIf="!isLoading && resource?.id"
            [monitoringRequestId]="resource?.id"
          ></app-loading-order-tab>
        </ng-template>
      </nz-tab>
      <nz-tab nzTitle="Notas/minutas" [nzDisabled]="!resource">
        <ng-template nz-tab>
          <app-invoices-tab
            *ngIf="!isLoading && resource?.id"
            [monitoringRequestId]="resource?.id"
          ></app-invoices-tab>
        </ng-template>
      </nz-tab>
      <nz-tab nzTitle="Iscas" [nzDisabled]="!resource">
        <ng-template nz-tab>
          <app-baits-tab
            *ngIf="!isLoading && resource?.id"
            [monitoringRequestId]="resource?.id"
          ></app-baits-tab>
        </ng-template>
      </nz-tab>
      <nz-tab nzTitle="Escoltas" [nzDisabled]="!resource">
        <ng-template nz-tab>
          <app-armed-guard-tab
            *ngIf="!isLoading && resource?.id"
            [monitoringRequestId]="resource?.id"
          ></app-armed-guard-tab>
        </ng-template>
      </nz-tab>
    </nz-tabset>

  </nz-card>
</nz-spin>
