.dash-header {
  display: flex;
  align-items: center;
  background: #ededed;
  border-bottom: 1px solid #72849a;
  margin: 0px 0px 30px 0px;
  padding: 10px 10px 10px 130px;
}

.dash-header-title {
  background: #72849a;
  border-radius: 3px;
  padding: 8px 40px 3px;
  font-size: 17px;
  color: #fff;
  margin: 0 10px;
  height: 40px;
}

.dash-header .anticon {
  font-size: 24px;
}

.dash-header h3 {
  margin: 0;
  text-align: left;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content h3 {
  margin: 0;
  text-align: left;
}

.logo {
  background-color: #fff;
  width: auto;
  height: 70px;
  margin-left: 20px;
  border: 1px solid #72849a;
  border-top: 0px;
  border-radius: 0pxx;
  padding: 5px;
  box-shadow: 0px 0px 5px #72849a;
  position: absolute;
  top: 0px;
  left: -3px;
}

.logo img {
  height: 60px !important;
  width: auto !important;
}

.custom-table th,
.custom-table td {
  border: 1px solid black;
}

th, td {
  font-weight: bold;
  font-size: 18px;
}

.moldura {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* border: 5px solid #000;  */
  /* box-sizing: border-box;  */
  padding: 0; 
  height: 100%; 
  overflow: auto;
}
