<nz-modal
  [(nzVisible)]="visible"
  nzTitle="Novo rastreador"
  nzWidth="600px"
  (nzOnCancel)="cancel.emit()"
  (nzOnOk)="saveAndCloseModal()"
>
  <ng-container *nzModalContent>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired nzFor="technology">Tecnologia</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Tecnologia inválida!">
          <nz-select
            (ngModelChange)="loadTrackerTechnologiesModels($event)"
            id="technology"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Selecione uma tecnologia"
            formControlName="technology"
          >
            <nz-option *ngFor="let technology of trackerTechnologies" [nzLabel]="technology.name" [nzValue]="technology.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired nzFor="trackerModel">Modelo</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o modelo">
          <nz-select
            id="trackerModel"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Selecione uma tecnologia"
            formControlName="trackerModel"
            [nzDisabled]="!validateForm.get('technology').value"
          >
            <nz-option *ngFor="let trackerModel of trackerTechnologiesModels" [nzLabel]="trackerModel.name" [nzValue]="trackerModel.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired nzFor="trackerId">Serial Number</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Campo obrigatório">
          <input id="trackerId" type="text" nz-input formControlName="trackerId" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o campo">
          <div nz-col [nzSpan]="12">
            <label nz-checkbox formControlName="isMain">
              <span>É o principal?</span>
            </label>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>

