h1.header-small {
  font-size: 2.0em;
}

h3.header-small {
  font-size: 1.2em;
  margin-bottom: 10px !important;
}


.square {
  height: 16px;
  width: 16px;
  display: inline-block;
  border: 1px solid black;
}

.logo {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 20px;
  right: 20px;
}

th.table-header {
  background: #187bff;
  color: #fff;
  font-weight: bold;
}


.bg-alert {
  background: yellow;
  margin-left: 10px;
  font-weight: bold;
}

.bg-default {
  background: white;
  margin-left: 10px;
}

.bg-danger {
  background: red;
  font-weight: bold;
  color: #fff;
  /* color: black; */
}

.custom-table th,
.custom-table td {
  border: 1px solid black;
  max-width: '95%';
}

th, td {
  font-weight: bold;
  font-size: 16px;
}


.max-width-cell {
  max-width: 50px; /* Set your desired maximum width */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}