<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <!--
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a><i nz-icon nzType="user"></i><span>Usuários</span></a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="resource?.id">
        Editar Usuário ({{resource?.email}})
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="!resource?.id">
        Adicionar Usuário
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  -->
    <div class="pages-header m-b-25">
      <div class="row m-b-10">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="d-md-flex">
            <div class="m-r-20">
              <h2 *ngIf="resource?.id">Editar Usuário - {{resource?.email}}</h2>
              <h2 *ngIf="!resource?.id"> Adicionar Usuário</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nz-card>

    <nz-tabset>
      <nz-tab nzTitle="Dados Principais">
        <app-users-form
          *ngIf="resource"
          [user]="resource"
          [formGroup]="validateForm"
          (save)="save()"
          (list)="list()"
          (changePassword)="changePassword($event)"
          (updateResource)="updateResource($event)"
        ></app-users-form>
      </nz-tab>

      <!-- <nz-tab nzTitle="Permissões de Acesso" [nzDisabled]="!resource" *ngIf="this.authService.user.isGertranStaff">
        <app-permissions-tab
          *ngIf="resource"
          [targetKeys]="numbersToStrings(resource.permissions)"
          (save)="updateField('permissions', $event)"
        ></app-permissions-tab>
      </nz-tab> -->

      <nz-tab nzTitle="Grupos" [nzDisabled]="!resource" *ngIf="this.authService.user.isGertranStaff">
        <app-groups-tab
          *ngIf="resource"
          [targetKeys]="numbersToStringsGroup(resource.groups)"
          (save)="updateField('groups', $event)"
        ></app-groups-tab>
      </nz-tab>

      <!-- <nz-tab nzTitle="Filiais" [nzDisabled]="!resource" *ngIf="this.authService.user.isGertranStaff">
        <app-user-customer-branch-office-tab

        ></app-user-customer-branch-office-tab>
      </nz-tab> -->

    </nz-tabset>
  </nz-card>
</nz-spin>
