<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <nz-card>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a><i nz-icon nzType="user"></i><span>Usuários</span></a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="resource?.id">
        Editar Usuário ({{resource?.email}})
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="!resource?.id">
        Adicionar Usuário
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-divider></nz-divider>

    <nz-tabset>
      <nz-tab nzTitle="Dados Principais">
        <app-users-form
          [user]="resource"
          [formGroup]="validateForm"
          (save)="save()"
          (list)="list()"
          (changePassword)="changePassword($event)"
        ></app-users-form>
      </nz-tab>

      <nz-tab nzTitle="Permissões de Acesso">
        <app-users-permissions
          *ngIf="resource"
          [targetKeys]="numbersToStrings(resource.permissions)"
          (save)="updateField('permissions', $event)"
        ></app-users-permissions>
      </nz-tab>

      <nz-tab nzTitle="Grupos">
        <app-groups-tab
          *ngIf="resource"
          [targetKeys]="numbersToStrings(resource.groups)"
          (save)="updateField('groups', $event)"
        ></app-groups-tab>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</nz-spin>
