<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <nz-card>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Usuários
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-divider></nz-divider>

    <div class="row m-b-30">
      <div class="col-lg-8">
        <div class="d-md-flex">
          <div class="m-b-10 m-r-20">
            <nz-input-group [nzPrefix]="prefixTemplate" class="w-100">
              <input
                type="text"
                nz-input
                placeholder="Buscar Usuário"
                [(ngModel)]="searchInput"
                (ngModelChange)="search()"
                class="w-100"
              >
            </nz-input-group>
            <ng-template #prefixTemplate>
              <i nz-icon nzType="search" class="opacity-05"></i>
            </ng-template>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 text-right"
        *ngIf="authService.user.hasPermission('baseuser.add_baseuser')"
      >
        <button
          (click)="create()"
          nz-button
          nzType="primary"
        >
          <i nz-icon nzType="plus" theme="outline"></i>
          <span>Adicionar Usuário</span>
        </button>
      </div>
    </div>
    <nz-table
      #usersListTable
      [nzData]="resources?.results"
      [nzTotal]="resources?.count"
      [nzPageSize]="resources?.limit"
      [nzPageIndex]="page"
      [nzFrontPagination]="false"
      (nzQueryParams)="handleQueryParamsChange($event)"
    >
      <thead>
      <tr>
        <th *ngFor="let column of userColumn" [nzSortFn]="column.compare">{{ column.title }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of usersListTable.data;  let i=index">
        <td>{{item.id | id}}</td>
        <td>
          <div class="d-flex align-items-center">
            <h6 class="m-l-10 m-b-0">{{item.name}}</h6>
          </div>
        </td>
        <td>{{item.email}}</td>
        <td>{{item.legacyLogin}}</td>
        <td>{{(item.lastLogin | date: 'dd/MM/yyyy') || '-'}}</td>
        <td>
          <nz-badge *ngIf="item.isAdmin" nzStatus="success"></nz-badge>
          <nz-badge *ngIf="!item.isAdmin" nzStatus="error"></nz-badge>
        </td>
        <td>
          <nz-badge *ngIf="item.isActive" nzStatus="success"></nz-badge>
          <nz-badge *ngIf="!item.isActive" nzStatus="error"></nz-badge>
        </td>
        <td class="text-md-center">
          <a
            (click)="edit(item)"
            class="m-r-5"
            nz-button
            nzType="default"
            nzShape="circle"
            nz-tooltip
            nzTooltipTitle="Editar"
            *ngIf="authService.user.hasPermission('baseuser.change_baseuser')"
          >
            <i nz-icon nzType="edit" theme="outline"></i>
          </a>
          <a
            (click)="delete(item)"
            nz-button
            nzType="default"
            nzShape="circle"
            nz-tooltip
            nzTooltipTitle="Excluir"
            *ngIf="authService.user.hasPermission('baseuser.delete_baseuser')"
          >
            <i nz-icon nzType="delete" theme="outline"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
</nz-spin>

<ng-template #selectLoading>
  <nz-spin *ngIf="selectableCustomersService.isLoadingMoreData"></nz-spin>
</ng-template>
