<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
    <form nz-form nzLayout="vertical" [formGroup]="validateForm">
      <nz-form-item>
        <div nz-row nzGutter="6">
          <div nz-col nzSpan="12">
            <nz-form-label [nzSpan]="null" nzRequired nzFor="shipper">Embarcador</nz-form-label>
            <nz-form-control [nzSpan]="null" nzErrorTip="Empresa inválida!">
              <nz-select
                id="shipper"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Selecione uma empresa"
                formControlName="shipper"
                nzServerSearch
                (nzOnSearch)="selectableCustomerService.searchByName($event)"
                (nzScrollToBottom)="selectableCustomerService.loadMoreCustomers()"
                (ngModelChange)="saveDraft('shipper')"
                [disabled]="disabled"
                [nzDropdownRender]="selectLoading"
              >
                <nz-option *ngFor="let customer of selectableCustomerService.customers" [nzLabel]="customer.tradingName" [nzValue]="customer.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-label [nzSpan]="null" nzRequired nzFor="transporter" *ngIf="!isGertranStaff">Transportador</nz-form-label>
            <nz-form-control [nzSpan]="null" nzErrorTip="Empresa inválida!">
              <nz-select
                id="transporter"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Selecione uma empresa"
                formControlName="transporter"
                nzServerSearch
                (nzOnSearch)="selectableCustomerService.searchByName($event)"
                (nzScrollToBottom)="selectableCustomerService.loadMoreCustomers()"
                (ngModelChange)="saveDraft('transporter')"
                [disabled]="disabled || !resource.customer?.canSelectShipper"
                [nzDropdownRender]="selectLoading"
              >
                <nz-option *ngFor="let customer of selectableCustomerService.customers" [nzLabel]="customer.tradingName" [nzValue]="customer.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <nz-form-item>
        <div nz-row nzGutter="6">
          <div nz-col nzSpan="12">
            <nz-form-label [nzSpan]="null" nzRequired nzFor="driver">Motorista</nz-form-label>
            <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o campo">
              <nz-select
                id="driver"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Selecione um motorista"
                formControlName="driver"
                (nzScrollToBottom)="loadMoreDrivers()"
                (ngModelChange)="saveDraft('driver')"
                [disabled]="disabled"
                [nzDropdownRender]="selectLoading"
              >
                <nz-option *ngFor="let driver of drivers" [nzLabel]="driver.name" [nzValue]="driver.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-label [nzSpan]="null" nzRequired nzFor="auxiliaryDriver">Motorista Auxiliar</nz-form-label>
            <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o campo">
              <nz-select
                id="auxiliaryDriver"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Selecione um motorista"
                formControlName="auxiliaryDriver"
                (ngModelChange)="saveDraft('auxiliaryDriver')"
                [disabled]="disabled"
              >
                <nz-option *ngFor="let driver of drivers" [nzLabel]="driver.name" [nzValue]="driver.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <nz-form-item>
        <div nz-row nzGutter="6">
          <div nz-col nzSpan="12">
            <nz-form-label [nzSpan]="null" nzRequired nzFor="truck">Cavalo</nz-form-label>
            <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o campo">
              <nz-select
                id="truck"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Selecione um cavalo"
                formControlName="truck"
                (nzScrollToBottom)="loadMoreTrucks()"
                (ngModelChange)="saveDraft('truck')"
                [disabled]="disabled"
                [nzDropdownRender]="selectLoading"
              >
                <nz-option *ngFor="let truck of trucks" [nzLabel]="truck.vehicle.plate" [nzValue]="truck.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-label [nzSpan]="null" nzRequired nzFor="wagons">Carretas</nz-form-label>
            <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o campo">
              <nz-select
                id="wagons"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Selecione uma carreta"
                formControlName="wagons"
                nzMode="multiple"
                nzMaxMultipleCount="2"
                (nzScrollToBottom)="loadMoreWagons()"
                (ngModelChange)="saveDraft('wagons')"
                [disabled]="disabled"
                [nzDropdownRender]="selectLoading"
              >
                <nz-option *ngFor="let wagon of wagons" [nzLabel]="wagon.vehicle.plate" [nzValue]="wagon.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <nz-form-item>
        <div nz-row nzGutter="6">
          <div nz-col nzSpan="12">
            <nz-form-label [nzSpan]="null" nzRequired nzFor="operation">Operação</nz-form-label>
            <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o campo">
              <nz-select
                id="operation"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Selecione uma operação"
                formControlName="operation"
                (ngModelChange)="saveDraft('operation')"
                (nzScrollToBottom)="loadMoreWagons()"
                [disabled]="disabled"
                [nzDropdownRender]="selectLoading"
              >
                <nz-option *ngFor="let operation of operations" [nzLabel]="operation.name" [nzValue]="operation.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-label [nzSpan]="null" nzRequired nzFor="loadDescription">Ordem de carregamento / OCR</nz-form-label>
            <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o campo">
              <input
                id="loadDescription"
                nz-input
                formControlName="loadDescription"
                (blur)="saveDraft('loadDescription')"
                [disabled]="disabled"
              />
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <nz-form-item>
        <div nz-row nzGutter="12">
          <div nz-col nzSpan="12">
            <nz-form-label nzFor="surveyConductedBy">Pesquisa cadastral realizada por</nz-form-label>
            <nz-form-control [nzSpan]="null" [nzOffset]="null">
              <nz-select
                id="surveyConductedBy"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Selecione uma operação"
                formControlName="surveyConductedBy"
                (ngModelChange)="saveDraft('surveyConductedBy')"
                [disabled]="disabled"
              >
                <nz-option *ngFor="let surveyConductor of surveyConductors" [nzLabel]="surveyConductor.label" [nzValue]="surveyConductor.value"></nz-option>
              </nz-select>
            </nz-form-control>
          </div>

          <div nz-col nzSpan="4">
            <nz-form-label></nz-form-label>
            <nz-form-control [nzSpan]="null" [nzOffset]="null">
              <label
                nz-checkbox
                formControlName="hasMacro"
                (nzCheckedChange)="saveDraft('hasMacro')"
              >Macro</label>
            </nz-form-control>
          </div>

          <div nz-col nzSpan="4">
            <nz-form-label></nz-form-label>
            <nz-form-control [nzSpan]="null" [nzOffset]="null">
              <label
                nz-checkbox
                formControlName="hasEmbeddedIntelligence"
                (nzCheckedChange)="saveDraft('hasEmbeddedIntelligence')"
              >Inteligência embarcada</label>
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>

      <nz-divider></nz-divider>

      <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <button type="button" (click)="save()" nz-button nzDanger nzType="primary">
            <i nz-icon nzType="send"></i>Enviar solicitação de monitoramento
          </button>
          <button type="button" (click)="list()" nz-button>
            <i nz-icon nzType="unordered-list"></i>Listar Requisições de monitoramento
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
</nz-spin>

<ng-template #selectLoading>
  <nz-spin *ngIf="isLoadingMoreData"></nz-spin>
</ng-template>
