<nz-table
  #table
  nzSize="small"
  [nzData]="automations?.results"
  [nzTotal]="automations?.count"
  [nzPageSize]="automations?.limit"
  [nzPageIndex]="page"
  [nzFrontPagination]="false"
  (nzQueryParams)="handleQueryParamsChange($event)"
  [nzLoading]="isLoading"
>
  <thead>
    <tr>
      <th>Data</th>
      <th>Descrição</th>
      <th>Placa</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of table.data">
      <td>{{ item.sentAt | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.plate }}</td>
    </tr>
  </tbody>
</nz-table>
