<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <!--
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Terminais
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  -->
  <div class="pages-header">  
    <div class="row m-b-10">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="d-md-flex">
          <div class="m-r-20">
            <h2>Terminais</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 pages-header-button">
        <button (click)="openTerminalGroupForm()" nz-button nzType="primary" class="m-r-10">
          <i nz-icon nzType="plus" theme="outline"></i>
          <span>Novo grupo</span>
        </button>
        <button (click)="create()" nz-button nzType="primary">
          <i nz-icon nzType="plus" theme="outline"></i>
          <span>Novo terminal</span>
        </button>
      </div>
    </div>
  </div>
  <nz-card>
  
    <nz-collapse *ngIf="resources">
      <nz-collapse-panel
        *ngFor="let terminalGroup of terminalGroups"
        [nzHeader]="collapsePanelHeader"
        [nzExtra]="terminalGroup.terminalGroup && collapsePanelExtra"
      >
        <nz-list nzGrid>
          <div  class="row">
            <div  class="col-lg-4 col-md-6 col-sm-12 m-b-20" *ngFor="let terminal of terminalGroup.terminals">
              <nz-card [nzTitle]="terminal.name" [nzExtra]="extraTemplate" class="terminal-card">
                <ng-template #extraTemplate>
                  <button class="m-r-10" nz-button nzType="default" (click)="edit(terminal)">Editar</button>
                  <button (click)="delete(terminal)" nz-button nzDanger nzType="default">Deletar</button>
                </ng-template>
                <p>{{terminal.description}}</p>
              </nz-card>
            </div>
          </div>
        </nz-list>

        <ng-template #collapsePanelHeader>
          <span class="m-r-10">{{terminalGroup.terminalGroup?.name || 'Sem grupo'}}</span>
          <nz-badge [nzCount]="terminalGroup.terminals.length"></nz-badge>
        </ng-template>

        <ng-template #collapsePanelExtra>
          <span
            class="m-r-10"
            nz-icon
            nzType="edit"
            (click)="openTerminalGroupForm(terminalGroup.terminalGroup)"
          ></span>
          <span
            nz-icon
            nzType="delete"
            (click)="deleteTerminalGroup(terminalGroup)"
          ></span>
        </ng-template>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-card>
</nz-spin>
