<div class="row m-b-10">
  <div class="col-lg-8">
    <div class="d-md-flex">
      <div class="m-b-10 m-r-20">
        
      </div>
    </div>
  </div>
  <div class="col-lg-4 text-right">
    <button
      (click)="this.isCreatingSharedOperation = true"
      nz-button
      nzType="primary"
    >
      <i nz-icon nzType="plus" theme="outline"></i>
      <span>Operação</span>
    </button>      
  </div>
</div>

<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <app-shared-operations-table
    [sharedOperations]="sharedOperationsDisplayData"
    (onEdit)="edit($event)"
    (onDelete)="delete($event)"
    (onPaginate)="loadSharedOperations($event)"
  ></app-shared-operations-table>

  <app-shared-operations-form
    *ngIf="isCreatingSharedOperation"
    [sharedOperation]="sharedOperation"
    [isVisible]="isCreatingSharedOperation"
    (onClose)="this.isCreatingSharedOperation = false"
    (onSubmit)="save($event)"
  ></app-shared-operations-form>
</nz-spin>