<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <!--
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Seguradoras
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  -->  
  <div class="pages-header">
    <div class="row m-b-10">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="d-md-flex">
          <div class="m-r-20">
            <h2>Seguradoras</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 pages-header-button">
        <button
          (click)="create()"
          nz-button
          nzType="primary"
        >
          <i nz-icon nzType="plus" theme="outline"></i>
          <span>Adicionar Seguradora</span>
        </button>
      </div>
    </div>
  </div>
  <nz-card>

    
    <nz-table #insuranceCompaniesListTable [nzData]="insuranceCompanies" >
      <thead>
      <tr>
        <th *ngFor="let column of insuranceCompaniesColumns" [nzSortFn]="column.compare">{{ column.title }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of insuranceCompaniesListTable.data;  let i=index">
        <td>
          <div class="d-flex align-items-center">
            <h6 class="m-l-10 m-b-0">{{item.name}}</h6>
          </div>
        </td>
        <td>{{item.phone || '-'}}</td>
        <td>{{item.email || '-'}}</td>
        <td>{{item.website || '-'}}</td>
        <td class="text-md-center">
          <button
            (click)="edit(item)"
            nz-button
            nzType="default"
          >
            <i nz-icon nzType="edit" theme="outline"></i> Editar
          </button>
          <button
            nz-button
            nzType="default"
            nzDanger
            (click)="delete(item)"
            class="m-l-10"
          >
            <i nz-icon nzType="delete" theme="outline"></i> Excluir
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>

</nz-spin>