<form nz-form nzLayout="vertical" [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="name">Nome</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="inválido!">
      <input id="name" type="text" nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <app-permissions-tab
      [targetKeys]="[]"
      [hideSubmit]="true"
      (change)="setPermissions($event)"
    ></app-permissions-tab>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button type="button" (click)="save()" nz-button nzType="primary">
        <i nz-icon nzType="save"></i>Salvar Grupo
      </button>
      <button type="button" (click)="list()" nz-button>
        <i nz-icon nzType="unordered-list"></i>Listar Grupos
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
