<div class="row m-b-10">
  <div class="col-lg-8">
    <div class="d-md-flex">
      <div class="m-b-10 m-r-20">
        
      </div>
    </div>
  </div>
  <div class="col-lg-4 text-right">
    <button
      (click)="this.isCreatingAutomation = true"
      nz-button
      nzType="primary"
    >
      <i nz-icon nzType="plus" theme="outline"></i>
      <span> Ações por macro</span>
    </button>      
  </div>
</div>

<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <app-workday-automations-table
    [customerId]="customer.id"
    [refreshWorkdayAutomations]="refreshWorkdayAutomations"
    (editWorkdayAutomation)="edit($event)"
  ></app-workday-automations-table>

  <app-workday-automations-form
    *ngIf="isCreatingAutomation"
    [isVisible]="isCreatingAutomation"
    [customerId]="customer.id"
    [workdayAutomation]="resource"
    [refreshWorkdayAutomations]="refreshWorkdayAutomations"
    (closeModal)="this.isCreatingAutomation = false"
    (success)="success()"
  ></app-workday-automations-form>
</nz-spin>