.scrollable-card {
  height: 500px;
  overflow-y: scroll;
}

.square {
  height: 16px;
  width: 16px;
  display: inline-block;
  border: 1px solid black;
}

.square:not(:first-of-type) {
  margin-left: 10px;
}

.bg-alert {
  background: yellow;
}

.bg-default {
  background: white;
}

.bg-danger {
  background: red;
}

.logo {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 10px;
  right: 20px;
}

h3.header-small {
  font-size: 1.5em;
}

h4.header-small {
  font-size: 1.2em;
  margin-bottom: 10px !important;
}
