.scrollable-card {
  height: 500px;
  overflow-y: scroll;
}

.square {
  height: 16px;
  width: 16px;
  display: inline-block;
}

.bg-under-review {
  background: yellow;
}

.bg-approved {
  background: green;
}

.bg-reproved {
  background: red;
}
