.dash-header {
  display: flex;
  align-items: center;
  background: #ededed;
  border-bottom: 1px solid #72849a;
  margin-top: -25px;
  margin-bottom: 30px;
  padding: 10px 10px 10px 130px;
}

.dash-header h3 {
  margin: 0;
  text-align: left;
}

.dash-header .logo {
  background-color: #fff;
  width: auto;
  height: 70px;
  margin-left: 20px;
  border: 1px solid #72849a;
  border-top: 0px;
  border-radius: 0pxx;
  padding: 5px;
  box-shadow: 0px 0px 5px #72849a;
  position: absolute;
  top: 0px;
  left: -3px;
}

.dash-header .logo img {
  height: 60px !important;
  width: auto !important;
}


.content h4 {
  margin: 0;
  text-align: left;
}


.scrollable-card {
  height: 500px;
  overflow-y: scroll;
}

.square {
  height: 16px;
  width: 16px;
  display: inline-block;
  border: 1px solid black;
}

.square:not(:first-of-type) {
  margin-left: 10px;
}

.bg-alert {
  background: yellow;
}

.bg-default {
  background: white;
}

.bg-danger {
  background: red;
}

h3.header-small {
  font-size: 1.5em;
}

h4.header-small {
  font-size: 1.2em;
  margin-bottom: 10px !important;
}