<nz-spin [nzSpinning]="isLoading">
  <form nz-form nzLayout="vertical" [formGroup]="validateForm">
    <div nz-row nzGutter="16">
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="null" nzRequired nzFor="maximumWorkdayPeriod">Horas máximas da jornada total</nz-form-label>
          <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o nome fantasia!">
            <input
              id="maximumWorkdayPeriod"
              type="text"
              nz-input
              formControlName="maximumWorkdayPeriod"
              [textMask]="{ mask: hoursMask, guide: false }"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="null" nzRequired nzFor="maximumHoursContinuousDriving">Horas máximas de direção por dia</nz-form-label>
          <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o nome fantasia!">
            <input
              id="maximumHoursContinuousDriving"
              type="text"
              nz-input
              formControlName="maximumHoursContinuousDriving"
              [textMask]="{ mask: hoursMask, guide: false }"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="null" nzRequired nzFor="maximumHoursPerWeek">Horas máximas de jornada semanal</nz-form-label>
          <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o nome fantasia!">
            <input
              id="maximumHoursPerWeek"
              type="text"
              nz-input
              formControlName="maximumHoursPerWeek"
              [textMask]="{ mask: hoursMask, guide: false }"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzGutter="16">
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="null" nzRequired nzFor="minimumContinuousRestPeriod">Horas mínimas de descanso continuo</nz-form-label>
          <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o nome fantasia!">
            <input
              id="minimumContinuousRestPeriod"
              type="text"
              nz-input
              formControlName="minimumContinuousRestPeriod"
              [textMask]="{ mask: hoursMask, guide: false }"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="null" nzRequired nzFor="maximumContinuousRestPeriod">Horas máximas de descanso continuo</nz-form-label>
          <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o nome fantasia!">
            <input
              id="maximumContinuousRestPeriod"
              type="text"
              nz-input
              formControlName="maximumContinuousRestPeriod"
              [textMask]="{ mask: hoursMask, guide: false }"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="null" nzRequired nzFor="maximumHoursDailyDriving">Horas máximas de direção continua</nz-form-label>
          <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o nome fantasia!">
            <input
              id="maximumHoursDailyDriving"
              type="text"
              nz-input
              formControlName="maximumHoursDailyDriving"
              [textMask]="{ mask: hoursMask, guide: false }"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzGutter="16">
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="null" nzRequired nzFor="restPeriodToBreakContinuousDriving">Descanso para quebra de direção contínua</nz-form-label>
          <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o nome fantasia!">
            <input
              id="restPeriodToBreakContinuousDriving"
              type="text"
              nz-input
              formControlName="restPeriodToBreakContinuousDriving"
              [textMask]="{ mask: hoursMask, guide: false }"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="null" nzRequired nzFor="minimumLunchRestPeriod">Horas mínimas de refeição</nz-form-label>
          <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o nome fantasia!">
            <input
              id="minimumLunchRestPeriod"
              type="text"
              nz-input
              formControlName="minimumLunchRestPeriod"
              [textMask]="{ mask: hoursMask, guide: false }"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="null" nzRequired nzFor="restPeriodBetweenWorkingDays">Horas de descanso entre jornadas</nz-form-label>
          <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o nome fantasia!">
            <input
              id="restPeriodBetweenWorkingDays"
              type="text"
              nz-input
              formControlName="restPeriodBetweenWorkingDays"
              [textMask]="{ mask: hoursMask, guide: false }"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-form-item>
      <nz-form-control>
        <button type="button" (click)="save()" nz-button nzType="primary">
          <i nz-icon nzType="save"></i>Salvar
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>
