.dash-header {
  display: flex;
  align-items: center;
  background: #ededed;
  border-bottom: 1px solid #72849a;
  margin: -25px -15px 33px -15px;
  padding: 10px 10px 10px 130px;
}

.dash-header h3 {
  margin: 0;
  text-align: left;
}

.dash-header .logo {
  background-color: #fff;
  width: auto;
  height: 70px;
  margin-left: 20px;
  border: 1px solid #72849a;
  border-top: 0px;
  border-radius: 0pxx;
  padding: 5px;
  box-shadow: 0px 0px 5px #72849a;
  position: absolute;
  top: 0px;
  left: -3px;
}

.dash-header .logo img {
  height: 60px !important;
  width: auto !important;
}

.content {
  display: flex;
  flex-direction: column;
}

.content h4 {
  margin: 0;
  text-align: left;
}

.custom-table th,
.custom-table td {
  border: 1px solid black;
}

th, td {
  font-weight: bold;
  font-size: 18px;
}

.moldura {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid #000; /* Espessura da moldura */
  box-sizing: border-box; /* Garante que a largura/altura da moldura inclua a espessura da borda */
  padding: 0; /* Removido o padding para que a moldura alcance as bordas */
  height: 100%; /* Altura igual à altura da página */
  overflow: auto; /* Permite rolagem dentro da moldura quando necessário */
}



.fixed-buttons {
  position: fixed;
  bottom: 10px; /* Altere conforme necessário para ajustar a posição vertical */
  left: 50%; /* Posiciona no centro horizontal */
  transform: translateX(-50%); /* Centraliza horizontalmente */
  display: flex;
  justify-content: space-around;
  width: 90%; /* Largura dos botões */
  background-color: white; /* Cor de fundo dos botões */
  padding: 10px; /* Espaçamento interno dos botões */
  border-radius: 5px; /* Borda arredondada */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}