<form nz-form nzLayout="vertical" [formGroup]="formGroup" *ngIf="formGroup">
  <nz-form-item *ngIf="authService.user.isGertranStaff">
    <nz-form-label [nzSpan]="null" nzFor="customer">Empresa</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="Empresa inválida!">
      <nz-select
        id="customer"
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Selecione as empresas deste usuário"
        formControlName="customer"
        nzServerSearch
        nzMode="multiple"
        (nzOnSearch)="selectableCustomerService.searchByName($event)"
        (nzScrollToBottom)="selectableCustomerService.loadMoreCustomers()"
        [nzDropdownRender]="selectLoading"
      >
        <nz-option *ngFor="let customer of selectableCustomerService.customers" [nzLabel]="customer.tradingName" [nzValue]="customer.id"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <div nz-row nzGutter="16" nzAlign="middle">
    <div nz-col nzSpan="16">
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired nzFor="cpf">Cpf</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o cpf corretamente">
          <input
            id="cpf"
            type="text"
            nz-input
            formControlName="cpf"
            [textMask]="{ mask: cpfMask, guide: false }"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="8">
      <button
        nz-button
        nzType="primary"
        (click)="getUserByCpf()"
      >Buscar</button>
    </div>

  </div>

  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="name">Nome</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o nome">
      <input id="name" type="text" nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="email">Email</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o email corretamente">
      <input id="email" type="email" nz-input formControlName="email" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="!user?.id">
    <nz-form-label [nzSpan]="null" nzRequired nzFor="password">Senha</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="Insira uma senha com no minimo 6 caracteres">
      <input id="password" type="password" nz-input formControlName="password" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="authService.user.isGertranStaff">
    <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o campo">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="isActive">
          <span>Usuário Ativo</span>
        </label>
      </div>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="authService.user.isGertranStaff">
    <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o campo">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="isGertranStaff">
          <span>Usuário Gertran</span>
        </label>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-divider></nz-divider>

  <a
    nz-button
    nzType="link"
    class="m-b-50"
    (click)="isChangePasswordModalVisible = true"
    *ngIf="user?.id"
  >Trocar senha</a>

  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button type="button" (click)="save.emit()" nz-button nzType="primary">
        <i nz-icon nzType="save"></i>Salvar Usuário
      </button>
      <button type="button" (click)="backToCustomerList()" nz-button>
        <i class="fas fa-arrow-left"></i> Voltar ao Cadastro
      </button>
    </nz-form-control>
  </nz-form-item>
</form>

<nz-modal
  [(nzVisible)]="isChangePasswordModalVisible"
  nzTitle="Trocar senha"
  (nzOnCancel)="isChangePasswordModalVisible = false"
>
  <div *nzModalContent>
    <form nzLayout="vertical" nz-form [formGroup]="validatePasswordForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="null" nzRequired nzFor="password">Senha</nz-form-label>
        <nz-form-control [nzSpan]="null" nzErrorTip="Preencha o campo com no mínimo 6 caracteres">
          <input id="password" type="password" nz-input formControlName="password" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>

  <div *nzModalFooter>
    <button
      nz-button
      nzType="default"
      (click)="isChangePasswordModalVisible = false"
    >Fechar</button>
    <button
      nz-button
      nzType="primary"
      (click)="submitPassword()"
    >Enviar</button>
  </div>
</nz-modal>

<ng-template #selectLoading>
  <nz-spin *ngIf="selectableCustomerService.isLoadingMoreData"></nz-spin>
</ng-template>
