<form nz-form nzLayout="vertical" [formGroup]="validateForm" *ngIf="validateForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="note">Nome</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="inválido!">
      <input id="brandName" type="text" nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="note">CPF</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="inválido!">
      <input id="companyName" type="text" nz-input formControlName="cpf" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="note">E-mail</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="inválido!">
      <input id="cnpj" type="text" nz-input formControlName="email" />
    </nz-form-control>
  </nz-form-item>
  <nz-divider></nz-divider>
  <nz-form-item>
    <nz-form-label [nzSpan]="null" nzRequired nzFor="note">Celular</nz-form-label>
    <nz-form-control [nzSpan]="null" nzErrorTip="inválido!">
      <input id="cnpj" type="text" nz-input formControlName="cellphone" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button type="button" (click)="save()" nz-button nzType="primary">
        <i nz-icon nzType="save"></i>Salvar Usuário
      </button>
      <button type="button" (click)="listUsers()" nz-button>
        <i nz-icon nzType="unordered-list"></i>Listar Usuários
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
