<div class="row m-b-10">
  <div class="col-lg-8">
    <div class="d-md-flex">
      <div class="m-b-10 m-r-20">
        
      </div>
    </div>
  </div>
  <div class="col-lg-4 text-right">
    <button
    (click)="this.isCreatingEmail = true"
    nz-button
    nzType="primary"
  >
    <i nz-icon nzType="plus" theme="outline"></i>
    <span> EMAIL</span>
  </button>       
  </div>
</div>

<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <app-emails-table
    [emails]="emailsDisplayData"
    (onEdit)="edit($event)"
    (onDelete)="delete($event)"
    (onPaginate)="loadEmails($event)"
  ></app-emails-table>

  <app-emails-form
    *ngIf="isCreatingEmail"
    [email]="email"
    [isVisible]="isCreatingEmail"
    (onClose)="this.isCreatingEmail = false"
    (onSubmit)="save($event)"
  ></app-emails-form>
</nz-spin>