<div style="display: flex; align-items: center; width: 100%;">
  <div style="flex: 1;">
    <h1 style="text-align: center; text-transform: uppercase;">
      &nbsp;
    </h1>
    <br>
  </div>
  <div style="flex-shrink: 0; margin-left: auto;">
    <img height="100px" src="https://web3.gertran.com.br/assets/images/logo/logogertran.png" alt="Logo" class="logo" />
  </div>
</div>


<hr style="border-top: 3px double #000000">


<h2 style="text-align: center;margin-top: 12px; font-weight: bolder;">
  Solicitação de Monitoramento
</h2>

<table class="custom-bordered-table">
  <tr>
    <th class="first-column">Código Solicitação</th>
    <td colspan="3">{{monitoringRequest?.data?.id ?? ' ' }}</td>
  </tr>
  <tr>
    <th class="first-column">Embarcador</th>
    <td>{{monitoringRequest?.data?.customer?.tradingName ?? '-' }}</td>
    <th class="first-column">Transportador</th>
    <td>{{monitoringRequest?.data?.customer?.tradingName ?? '-' }}</td>
  </tr>
</table>



<h2 style="text-align: center;margin-top: 12px; font-weight: bolder;">
  Motoristas
</h2>

<table class="custom-bordered-table">
  <tr>
    <th class="first-column">Nome</th>
    <td colspan="3">{{monitoringRequest?.data?.driver?.name}}</td>
  </tr>
  <tr>
    <th class="first-column">CPF</th>
    <td>{{monitoringRequest?.data?.driver?.cpf}}</td>
    <th class="first-column">CNH</th>
    <td>{{monitoringRequest?.data?.driver?.cnhNumber}}</td>
  </tr>
  <tr>
    <th class="first-column">Telefone</th>
    <td colspan="3">{{monitoringRequest?.data?.driver?.phoneNumber || 'N/a'}}</td>
  </tr>
  <tr>
    <th class="first-column">Tipo Motorista</th>
    <td colspan="3">{{monitoringRequest?.driverWorkingSituation}}</td>
  </tr>
</table>


<table class="custom-bordered-table" *ngIf="monitoringRequest?.data?.auxiliaryDriver">
  <tr>
    <th class="first-column">Nome motorista auxiliar</th>
    <td colspan="3">{{monitoringRequest?.data?.auxiliaryDriver?.name}}</td>
  </tr>
  <tr>
    <th class="first-column">CPF motorista auxiliar</th>
    <td>{{monitoringRequest?.data?.auxiliaryDriver?.cpf}}</td>
    <th class="first-column">CNH motorista auxiliar</th>
    <td>{{monitoringRequest?.data?.auxiliaryDriver?.cnhNumber}}</td>
  </tr>
  <tr>
    <th class="first-column">Telefone motorista auxiliar</th>
    <td colspan="3">{{monitoringRequest?.data?.auxiliaryDriver?.phoneNumber || 'N/a'}}</td>
  </tr>
  <tr>
    <th class="first-column">Tipo Motorista</th>
    <td colspan="3">{{monitoringRequest?.driverWorkingSituation}}</td>
  </tr>
</table>



<h2 style="text-align: center;margin-top: 12px; font-weight: bolder;">
  Veículo
</h2>

<table class="custom-bordered-table">
  <tr>
    <th class="first-column">Placa</th>
    <td>{{monitoringRequest?.data?.truck?.vehicle?.plate}}</td>
    <th class="first-column">Marca</th>
    <td>{{monitoringRequest?.data?.vehicleManufacturer ||
      monitoringRequest?.data?.truck?.vehicle?.vehicleModel?.manufacturer?.name || '-'}}</td>
  </tr>
  <tr>
    <th class="first-column">Modelo</th>
    <td>{{monitoringRequest?.data?.truck?.vehicle?.vehicleModel?.name}}</td>
    <th class="first-column">Tipo</th>
    <td>{{monitoringRequest?.data?.truck?.vehicle?.vehicleModelType?.name}}</td>
  </tr>
  <tr>
    <th class="first-column">Cor</th>
    <td>{{monitoringRequest?.data?.truck?.vehicle?.color}}</td>
    <th class="first-column">Ano Fab./Modelo</th>
    <td>{{monitoringRequest?.data?.truck?.vehicle?.modelYear}}</td>
  </tr>
  <tr>
    <th class="first-column">Carretas</th>
    <td colspan="3">{{monitoringRequest?.wagonPlates}}</td>
  </tr>
</table>



<h2 style="text-align: center;margin-top: 12px; font-weight: bolder;">
  Rastreadores
</h2>



<table class="custom-bordered-table">
  <tr>
    <th class="first-column">Tecnologia</th>
    <th class="first-column">Num de serie</th>
  </tr>
  <tr *ngFor="let tracker of monitoringRequest?.data.truck.vehicle.trackers ?? []">
    <td>{{tracker?.trackerModel?.trackerTechnology?.name}}</td>
    <td>{{tracker?.trackerId}}</td>
  </tr>

</table>

<h2 style="text-align: center;margin-top: 12px; font-weight: bolder;">
  Viagem
</h2>



<table class="custom-bordered-table">
  <tr>
    <th>Operação</th>
    <td>{{monitoringRequest?.data?.operation?.name}}</td>
    <th>Operação Compartilhada</th>
    <td>{{monitoringRequest?.data?.sharedOperation?.name}} {{monitoringRequest?.data?.sharedOperation?.email}}</td>
  </tr>
  <tr>
    <th>Ordem de carregamento / OCR</th>
    <td>{{monitoringRequest?.ocrNumber}}</td>
    <th>Pesquisa Cadastral Realizada por</th>
    <td>
      {{ monitoringRequest?.data?.surveyConductedBy === 'others'
      ? '(Outros) ' + monitoringRequest?.data?.surveyConductedByOthers
      : monitoringRequest?.data?.surveyConductedBy }}
    </td>
  </tr>
  <tr>
    <th>Produto</th>
    <td>{{monitoringRequest?.data?.loadDescription}}</td>
    <th>Tipo de Carga</th>
    <td>{{monitoringRequest?.loadType}}</td>
  </tr>
  <tr>
    <th>Preço da Carga</th>
    <td>{{monitoringRequest?.data?.loadValue | reais}}</td>
    <th>Tipo de operação</th>
    <td>{{ translateOperationType(monitoringRequest?.data?.operationType) }}</td>
  </tr>
  <tr>
    <th>Observações</th>
    <td colspan="3">{{monitoringRequest?.data?.observations}}</td>
  </tr>
</table>





<!-- <small style="color: #a3a3a3" class="text-bold">* Escolta e isca irão aparecer caso a SM tenha configurado</small> -->



<div *ngIf="monitoringRequest?.data?.armedGuards.length > 0">


  <h2 style="text-align: center;margin-top: 12px; font-weight: bolder;">
    Escolta
  </h2>

  <table class="custom-bordered-table">
    <tr>
      <th>Tecnologia </th>
      <th>N Serie</th>
      <th>Placa</th>
      <th>Contato</th>
      <th>Agente 1</th>
      <th>Agente 2</th>
    </tr>
    <tr *ngFor="let armedGuard of monitoringRequest?.data?.armedGuards ?? []">
      <td>{{armedGuard.technology}}</td>
      <td>{{armedGuard.serialNumber}}</td>
      <td>{{armedGuard.plate}}</td>
      <td>{{armedGuard.contact}}</td>
      <td>{{armedGuard.firstAgent}}</td>
      <td>{{armedGuard.secondAgent}}</td>
    </tr>

  </table>
</div>

<div *ngIf="monitoringRequest?.data?.baits.length > 0">

  <h2 style="text-align: center;margin-top: 12px; font-weight: bolder;">
    Iscas
  </h2>



  <table class="custom-bordered-table">
    <tr>
      <th>N Serie</th>
      <th>Local de instalação</th>
      <th>Tecnologia</th>
    </tr>
    <tr *ngFor="let bait of monitoringRequest?.data?.baits ?? []">
      <td> {{bait.serialNumber}}</td>
      <td>{{getLocalInstalaition(bait.installationLocation)}}</td>
      <td>{{bait.technology?.name}}</td>
    </tr>

  </table>

</div>


<h2 style="text-align: center;margin-top: 12px; font-weight: bolder;">
  Pontos
</h2>


<table class="custom-bordered-table">
  <tr>
    <th>
      Endereço
    </th>
    <th>
      Cidade
    </th>
    <th>
      Estado
    </th>
    <th>Data/Hora</th>
  </tr>
  <tr *ngFor="let travelStep of monitoringRequest?.data?.travelSteps">
    <td>{{travelStep.address}}</td>
    <td>{{travelStep.city}}</td>
    <td>{{travelStep.state}}</td>
    <td>{{ travelStep.date + 'T' + travelStep.time | date: 'dd/MM/yyyy HH:mm' }}</td>
  </tr>
</table>




<!-- <div style="display: flex; justify-content: center;">
  <div style="flex-grow: 10"></div>
  <div style="flex-grow: 1">
    <img height="100px" src="https://web3.gertran.com.br/assets/images/logo/logogertran.png" />
  </div>
</div>

<span class="text-center metadata-text">
  ID: {{monitoringRequest?.data?.id}} - {{currentDate}}
</span>


<nz-descriptions nzTitle="Cliente" nzBordered nzSize="small">
  <nz-descriptions-item nzTitle="Embarcador">
    {{monitoringRequest?.data?.customer?.tradingName ?? '-' }}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Transportador">
    {{monitoringRequest?.data?.transporter?.tradingName ?? '-' }}
  </nz-descriptions-item>
</nz-descriptions>

<nz-descriptions nzTitle="Motoristas" nzBordered nzSize="small" class="m-t-15">
  <nz-descriptions-item nzTitle="Nome">
    {{monitoringRequest?.data?.driver?.name}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="CPF">
    {{monitoringRequest?.data?.driver?.cpf}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="CNH">
    {{monitoringRequest?.data?.driver?.cnhNumber}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Telefone">
    {{monitoringRequest?.data?.driver?.phoneNumber || 'N/a'}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Tipo Motorista" nzSpan="3">
    {{monitoringRequest?.localizedWorkingSituations}}
  </nz-descriptions-item>

  <ng-container *ngIf="monitoringRequest?.data?.auxiliaryDriver">
    <nz-descriptions-item nzTitle="Nome motorista auxiliar">
      {{monitoringRequest?.data?.auxiliaryDriver?.['name']}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="CPF motorista auxiliar">
      {{monitoringRequest?.data?.auxiliaryDriver?.['cpf']}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="CNH motorista auxiliar">
      {{monitoringRequest?.data?.auxiliaryDriver?.['cnhNumber']}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Telefone motorista auxiliar">
      {{monitoringRequest?.data?.auxiliaryDriver?.['cellphone'] || 'N/a'}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Tipo Motorista auxiliar" nzSpan="3">
      {{monitoringRequest?.auxiliaryDriverWorkingSituation}}
    </nz-descriptions-item>
  </ng-container>
</nz-descriptions>

<nz-descriptions nzTitle="Veiculo" nzBordered nzSize="small" class="m-t-15">
  <nz-descriptions-item nzTitle="Placa">
    {{monitoringRequest?.data?.truck?.vehicle?.['plate']}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Carretas">
    {{monitoringRequest?.wagonPlates}}
  </nz-descriptions-item>
</nz-descriptions>

<nz-descriptions nzTitle="Viagem" nzBordered nzSize="small" class="m-t-15">
  <nz-descriptions-item nzTitle="Operação">
    {{monitoringRequest?.data?.operation?.['name']}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Ordem de carregamento / OCR">
    {{monitoringRequest?.ocrNumber}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Pesquisa Cadastral Realizada por">
    {{monitoringRequest?.data?.surveyConductedBy}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Produto">
    {{monitoringRequest?.data?.loadDescription}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Tipo de Carga">
    {{monitoringRequest?.loadType}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Preço da Carga">
    {{monitoringRequest?.data?.loadValue | currency: 'R$ '}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Origem">
    {{monitoringRequest?.firstTravelStep?.address || 'N/a' }}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Data previsão inicio" [nzSpan]="6">
    {{monitoringRequest?.firstTravelStepDate | date: 'dd/MM/yyyy HH:mm'}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Destino">
    {{monitoringRequest?.lastTravelStep?.address || 'N/a' }}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Data previsão chegada" [nzSpan]="6">
    {{monitoringRequest?.lastTravelStepDate | date: 'dd/MM/yyyy HH:mm'}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Observações" nzSpan="24">
    {{monitoringRequest?.data?.observations}}
  </nz-descriptions-item>
</nz-descriptions>

<small style="color: #a3a3a3">* Escolta e isca irão aparecer caso a SM tenha configurado</small>

<nz-descriptions nzTitle="Escolta" *ngFor="let armedGuard of monitoringRequest?.data?.armedGuards ?? []" class="m-t-15">
  <nz-descriptions-item nzTitle="Tecnologia">
    {{armedGuard.technology}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="N Serie">
    {{armedGuard.serialNumber}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Placa">
    {{armedGuard.plate}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Contato">
    {{armedGuard.contact}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Agente 1">
    {{armedGuard.firstAgent}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Agente 2">
    {{armedGuard.secondAgent}}
  </nz-descriptions-item>
</nz-descriptions>

<nz-descriptions nzTitle="Iscas" *ngFor="let bait of monitoringRequest?.data?.baits ?? []" class="m-t-15">
  <nz-descriptions-item nzTitle="N Serie">
    {{bait.serialNumber}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Local de instalação">
    {{bait.installationLocation}}
  </nz-descriptions-item>
</nz-descriptions>

<div>
  <div nz-col nzSpan="24" class="ant-descriptions-title m-t-15 m-b-15">
    Pontos
  </div>

  <nz-table
    #travelStepsTable
    nzSize="small"
    [nzData]="monitoringRequest?.data.travelSteps ?? []"
    [nzShowPagination]="false"
  >
    <thead>
    <tr>
      <th class="text-left">Endereço</th>
      <th class="text-right">Data/hora</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let travelStep of travelStepsTable.data">
      <td class="text-left">{{travelStep.address}}</td>
      <td class="text-right">
        {{travelStep.date | date: 'dd/MM/yyyy'}}
        &nbsp;
        {{travelStep.time}}
      </td>
    </tr>
    </tbody>
  </nz-table>
</div> -->