<span class="text-center metadata-text">
  ID: {{monitoringRequest?.data?.id}} - {{currentDate}}
</span>

<nz-descriptions nzTitle="Cliente" nzBordered nzSize="small">
  <nz-descriptions-item nzTitle="Embarcador">
    {{monitoringRequest?.data?.customer?.tradingName}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Transportador">
    {{monitoringRequest?.data?.transporter?.tradingName}}
  </nz-descriptions-item>
</nz-descriptions>

<nz-descriptions nzTitle="Motoristas" nzBordered nzSize="small" class="m-t-15">
  <nz-descriptions-item nzTitle="Nome">
    {{monitoringRequest?.data?.driver?.name}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="CPF">
    {{monitoringRequest?.data?.driver?.cpf}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="CNH">
    {{monitoringRequest?.data?.driver?.cnhNumber}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Telefone">
    {{monitoringRequest?.data?.driver?.phoneNumber || 'N/a'}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Tipo Motorista" nzSpan="3">
    {{monitoringRequest?.localizedWorkingSituations}}
  </nz-descriptions-item>

  <div *ngIf="monitoringRequest?.data?.auxiliaryDriver">
    <nz-descriptions-item nzTitle="Nome motorista auxiliar">
      {{monitoringRequest?.data?.auxiliaryDriver?.['name']}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="CPF motorista auxiliar">
      {{monitoringRequest?.data?.auxiliaryDriver?.['cpf']}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="CNH motorista auxiliar">
      {{monitoringRequest?.data?.auxiliaryDriver?.['cnhNumber']}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Telefone motorista auxiliar">
      {{monitoringRequest?.data?.auxiliaryDriver?.['cellphone'] || 'N/a'}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Tipo Motorista auxiliar" nzSpan="3">
      {{monitoringRequest?.auxiliaryDriverWorkingSituation}}
    </nz-descriptions-item>
  </div>
</nz-descriptions>

<nz-descriptions nzTitle="Veiculo" nzBordered nzSize="small" class="m-t-15">
  <nz-descriptions-item nzTitle="Placa">
    {{monitoringRequest?.data?.truck?.vehicle?.['plate']}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Carretas">
    {{monitoringRequest?.wagonPlates}}
  </nz-descriptions-item>
</nz-descriptions>

<nz-descriptions nzTitle="Viagem" nzBordered nzSize="small" class="m-t-15">
  <nz-descriptions-item nzTitle="Operação">
    {{monitoringRequest?.data?.operation?.['name']}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Ordem de carregamento / OCR">
    {{monitoringRequest?.ocrNumber}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Pesquisa Cadastral Realizada por">
    {{monitoringRequest?.data?.surveyConductedBy}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Produto">
    {{monitoringRequest?.data?.loadDescription}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Tipo de Carga">
    {{monitoringRequest?.loadType}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Preço da Carga">
    {{monitoringRequest?.data?.loadValue | currency: 'R$ '}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Origem">
    {{monitoringRequest?.firstTravelStep?.address || 'N/a' }}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Data previsão inicio" [nzSpan]="6">
    {{monitoringRequest?.firstTravelStepDate | date: 'dd/MM/yyyy HH:mm'}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Destino">
    {{monitoringRequest?.lastTravelStep?.address || 'N/a' }}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Data previsão chegada" [nzSpan]="6">
    {{monitoringRequest?.lastTravelStepDate | date: 'dd/MM/yyyy HH:mm'}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Observações" nzSpan="24">
    {{monitoringRequest?.data?.observations}}
  </nz-descriptions-item>
</nz-descriptions>

<small style="color: #a3a3a3">* Escolta e isca irão aparecer caso a SM tenha configurado</small>

<nz-descriptions nzTitle="Escolta" *ngFor="let armedGuard of monitoringRequest?.data?.armedGuards ?? []" class="m-t-15">
  <nz-descriptions-item nzTitle="Tecnologia">
    {{armedGuard.technology}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="N Serie">
    {{armedGuard.serialNumber}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Placa">
    {{armedGuard.plate}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Contato">
    {{armedGuard.contact}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Agente 1">
    {{armedGuard.firstAgent}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Agente 2">
    {{armedGuard.secondAgent}}
  </nz-descriptions-item>
</nz-descriptions>

<nz-descriptions nzTitle="Iscas" *ngFor="let bait of monitoringRequest?.data?.baits ?? []" class="m-t-15">
  <nz-descriptions-item nzTitle="N Serie">
    {{bait.serialNumber}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Local de instalação">
    {{bait.installationLocation}}
  </nz-descriptions-item>
</nz-descriptions>

<div>
  <div nz-col nzSpan="24" class="ant-descriptions-title m-t-15 m-b-15">
    Pontos
  </div>

  <nz-table
    #travelStepsTable
    nzSize="small"
    [nzData]="monitoringRequest?.data.travelSteps ?? []"
    [nzShowPagination]="false"
  >
    <thead>
    <tr>
      <th class="text-left">Endereço</th>
      <th class="text-right">Data/hora</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let travelStep of travelStepsTable.data">
      <td class="text-left">{{travelStep.address}}</td>
      <td class="text-right">
        {{travelStep.date | date: 'dd/MM/yyyy'}}
        &nbsp;
        {{travelStep.time}}
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>

<form nz-form nzLayout="vertical">
  <div nz-col nzSpan="24" class="ant-descriptions-title m-t-15">
    Checklist
  </div>

  <div nz-row>
    <div nz-col nzSpan="18">
      <div nz-row>
        <div nz-col [nzSpan]="6" *ngFor="let item of checklistItems">
          <nz-form-item>
            <nz-form-label></nz-form-label>
            <nz-form-control [nzSpan]="null" [nzOffset]="null">
              <label
                nz-checkbox
                [nzValue]="item.value"
                [nzChecked]="monitoringRequest?.data?.checklist?.[item.value]"
              >{{ item.label }}</label>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>

    <div nz-col nzSpan="6" class="approval-container">
      <nz-form-item>
        <nz-form-label></nz-form-label>
        <nz-radio-group
          [(ngModel)]="monitoringRequest.data.checklist.status"
          [ngModelOptions]="{standalone: true}"
        >
          <label nz-radio nzValue="approved">Aprovado</label>
          <label nz-radio nzValue="reproved">Reprovado</label>
        </nz-radio-group>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Motivo</nz-form-label>
        <nz-form-control [nzSpan]="null" [nzOffset]="null">
          <input nz-input [defaultValue]="monitoringRequest.data?.checklist.justification"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-control [nzSpan]="null" [nzOffset]="null">
          <label
            nz-checkbox
            [nzChecked]="monitoringRequest.data?.hasMacro"
          >Macro</label>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-control [nzSpan]="null" [nzOffset]="null">
          <label
            nz-checkbox
            [nzChecked]="monitoringRequest.data?.hasEmbeddedIntelligence"
          >Inteligência Embarcada</label>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-control [nzSpan]="null" [nzOffset]="null">
          <label
            nz-checkbox
            [nzChecked]="monitoringRequest.data?.checklist.allowedTravel"
          >Viagem Autorizada</label>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>

<form nz-form nzLayout="vertical">
  <div nz-col nzSpan="24" class="ant-descriptions-title m-t-15 m-b-30">
    Checklist Iscas
  </div>

  <div nz-row>
    <div nz-col nzSpan="18">
      <div nz-row>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-control [nzSpan]="null" [nzOffset]="null">
              <label
                nz-checkbox
                [nzChecked]="monitoringRequest.data?.checklistBait.positionChecked"
              >Posição</label>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-control [nzSpan]="null" [nzOffset]="null">
              <label
                nz-checkbox
                [nzChecked]="monitoringRequest.data?.checklistBait.decouplingChecked"
              >Desacoplamento</label>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-control [nzSpan]="null" [nzOffset]="null">
              <label
                nz-checkbox
                [nzChecked]="monitoringRequest.data?.checklistBait.positionFrequencyChecked"
              >Freq. de posição</label>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-control [nzSpan]="6" [nzOffset]="null">
              <label
                nz-checkbox
                [nzChecked]="monitoringRequest.data?.checklistBait.batteriesChecked"
              >Bateria</label>
            </nz-form-control>
            <nz-form-control [nzSpan]="6" [nzOffset]="null">
              <input nz-input [value]="monitoringRequest.data?.checklistBait.batteryLevel"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-control [nzSpan]="6" [nzOffset]="null">
              <label
                nz-checkbox
                [nzChecked]="monitoringRequest.data?.checklistBait.timerChecked"
              >Temporizador</label>
            </nz-form-control>
            <nz-form-control [nzSpan]="6" [nzOffset]="null">
              <input nz-input [value]="monitoringRequest.data?.checklistBait.timerIntervalInMinutes"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-control [nzSpan]="null" [nzOffset]="null">
              <label
                nz-checkbox
                [nzChecked]="monitoringRequest.data?.checklistBait.jammingChecked"
              >Operação Jamming</label>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>

    <div nz-col nzSpan="6" class="approval-container">
      <nz-form-item>
        <nz-form-label></nz-form-label>
        <nz-radio-group
          [(ngModel)]="monitoringRequest.data?.checklistBait.approved"
          [ngModelOptions]="{standalone: true}"
        >
          <label nz-radio [nzValue]="true">Aprovado</label>
          <label nz-radio [nzValue]="false">Reprovado</label>
        </nz-radio-group>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Motivo</nz-form-label>
        <nz-form-control [nzSpan]="null" [nzOffset]="null">
          <input nz-input [value]="monitoringRequest.data?.checklistBait.justification"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>

