<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Novo contato"
  nzWidth="600px"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label>Razão Social</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input placeholder="Informe o nome do contato" formControlName="companyName">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Nome Fantasia</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input placeholder="" formControlName="brandName">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>CNPJ</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input placeholder="" formControlName="cnpj">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Contato</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input placeholder="" formControlName="contactName">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Email</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input placeholder="" formControlName="contactEmail">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>CEP</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input placeholder="" formControlName="cep">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Logradouro</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input placeholder="" formControlName="publicPlace">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Número</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input placeholder="" formControlName="number">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Complemento</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input placeholder="" formControlName="complement">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Bairro</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input placeholder="" formControlName="neighborhood">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Cidade</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input placeholder="" formControlName="city">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Estado</nz-form-label>
        <nz-form-control>
          <input type="text" nz-input placeholder="" formControlName="state">
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
