<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">

  <!--
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <i nz-icon nzType="dashboard"></i>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      Clientes
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  -->
<div class="pages-header">
  <div class="row m-b-10">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="d-md-flex">
        <div class="m-r-20">
          <h2>Clientes</h2>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 pages-header-button">
      <button
        (click)="create()"
        nz-button
        nzType="primary"
      >
        <i nz-icon nzType="plus" theme="outline"></i>
        <span>Adicionar Cliente</span>
      </button>
    </div>
  </div>
</div>  
<nz-card>  
  <div class="row m-b-10">
    <div class="col-lg-12">
      <div class="d-md-flex">
        <div class="m-b-10 m-r-20">
          <nz-input-group [nzPrefix]="prefixTemplate">
            <input
              type="text"
              nz-input
              placeholder="Buscar Cliente"
              [(ngModel)]="searchInput"
              (ngModelChange)="search()"
            >
          </nz-input-group>
          <ng-template #prefixTemplate>
            <i nz-icon nzType="search" class="opacity-05"></i>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <nz-table
    #customersListTable
    [nzData]="resources?.results"
    [nzTotal]="resources?.count"
    [nzPageSize]="resources?.limit"
    [nzPageIndex]="page"
    [nzFrontPagination]="false"
    (nzQueryParams)="handleQueryParamsChange($event)"
    nzSize="small"
  >
    <thead>
      <tr>
        <th *ngFor="let column of customerColumn" [nzSortFn]="column.compare">{{ column.title }}</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of customersListTable.data"
        [class.innactive]="!item.isActive"
      >
        <td>{{item.id | id}}</td>
        <td>
          <div class="d-flex align-items-center">
            <h6 class="m-l-10 m-b-0">{{item.tradingName}}</h6>
          </div>
        </td>
        <td>{{item.corporateName}}</td>
        <td>{{item.cnpj}}</td>
        <td>{{item.email}}</td>
        <td class="text-md-center d-flex" style="white-space: nowrap;">
          <button
            (click)="edit(item)"
            nz-button
            nzType="default"
          >
            <i nz-icon nzType="edit" theme="outline"></i> Editar
          </button>
          <button
            (click)="delete(item)"
            nz-button
            nzDanger
            nzType="default"
            class="m-l-10"
          >
            <i nz-icon nzType="delete" theme="outline"></i> Deletar
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

</nz-spin>