<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <nz-card>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Solicitações de monitoramento
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-divider></nz-divider>

    <div class="row m-b-30">
      <div class="col-lg-8">
        <div class="d-md-flex">
        </div>
      </div>
      <div class="col-lg-4 text-right">
        <button
          (click)="create()"
          nz-button
          nzType="primary"
        >
          <i nz-icon nzType="plus" theme="outline"></i>
          <span>Adicionar Solicitações de monitoramento</span>
        </button>
      </div>
    </div>

    <app-monitoring-requests-filter
      (filterData)="filterData($event)"
    ></app-monitoring-requests-filter>
  </nz-card>

  <nz-card nzTitle="Rascunho" *ngIf="!user.isGertranStaff">
    <app-monitoring-requests-table
      [monitoringRequests]="draftResponse"
      [rowColor]="'#f7faff'"
      (view)="view($event)"
      (edit)="edit($event)"
      (delete)="delete($event)"
      (handleQueryParamsChange)="handleQueryParamsChangeDraft($event)"
    ></app-monitoring-requests-table>
  </nz-card>

  <nz-card nzTitle="Em análise">
    <app-monitoring-requests-table
      [monitoringRequests]="underReviewResponse"
      [rowColor]="'#DFFFEDFF'"
      (view)="view($event)"
      (edit)="edit($event)"
      (delete)="delete($event)"
      (handleQueryParamsChange)="handleQueryParamsChangeUnderReview($event)"
    ></app-monitoring-requests-table>
  </nz-card>

  <nz-card nzTitle="Aguardando inicio">
    <app-monitoring-requests-table
      [monitoringRequests]="waitingForStartResponse"
      [rowColor]="'#EAFDF2FF'"
      (view)="view($event)"
      (edit)="edit($event)"
      (delete)="delete($event)"
      (handleQueryParamsChange)="handleQueryParamsChangeWaitingForStart($event)"
    ></app-monitoring-requests-table>
  </nz-card>

  <nz-card nzTitle="Reprovado">
    <app-monitoring-requests-table
      [monitoringRequests]="resources"
      [rowColor]="'#fff7f9'"
      (view)="view($event)"
      (edit)="edit($event)"
      (delete)="delete($event)"
      (handleQueryParamsChange)="handleQueryParamsChange($event)"
    ></app-monitoring-requests-table>
  </nz-card>

  <nz-card nzTitle="Em viagem">
    <app-monitoring-requests-table
      [monitoringRequests]="inProgressResponse"
      [rowColor]="'#EAFDF2FF'"
      (view)="view($event)"
      (edit)="edit($event)"
      (delete)="delete($event)"
      (handleQueryParamsChange)="handleQueryParamsChangeInProgress($event)"
    ></app-monitoring-requests-table>
  </nz-card>
</nz-spin>
