<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
    <!--
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a><i nz-icon nzType="star"></i><span>Pontos</span></a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="stop?.id">
        Editar Ponto ({{stop?.name}})
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="!stop?.id">
        Adicionar Ponto
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    -->
    <div class="pages-header">  
      <div class="row m-b-10">
        <div class="col-lg-8 col-md-8 col-sm-12">
          <div class="d-md-flex">
            <div class="m-r-20">
              <h2 *ngIf="stop?.id">Editar Ponto - {{stop?.name}}</h2>
              <h2 *ngIf="!stop?.id">Adicionar Ponto</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nz-card>

    <nz-tabset>
      <nz-tab nzTitle="Ponto">
        <app-stops-form [stop]="stop" *ngIf="!isLoading"></app-stops-form>
      </nz-tab>

      <nz-tab nzTitle="Mapa" [nzDisabled]="!stop?.id">
        <ng-template nz-tab>
          <app-stops-map [stop]="stop" *ngIf="!isLoading"></app-stops-map>
        </ng-template>
      </nz-tab>

      <nz-tab nzTitle="Funcionamento" [nzDisabled]="!stop?.id">
        <app-stops-working-hours></app-stops-working-hours>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</nz-spin>
