<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <nz-card>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i nz-icon nzType="dashboard"></i>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a><i nz-icon nzType="star"></i><span>Pontos</span></a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="stop?.id">
        Editar Ponto ({{stop?.name}})
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="!stop?.id">
        Adicionar Ponto
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-divider></nz-divider>

    <nz-tabset>
      <nz-tab nzTitle="Ponto">
        <app-stops-form [stop]="stop" *ngIf="!isLoading"></app-stops-form>
      </nz-tab>

      <nz-tab nzTitle="Funcionamento" [nzDisabled]="!stop?.id">
        <app-stops-working-hours></app-stops-working-hours>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</nz-spin>
