<nz-spin nzTip="Aguarde..." [nzSpinning]="isLoading">
  <!--
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <i nz-icon nzType="dashboard"></i>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a><i nz-icon nzType="idcard"></i><span>Motoristas</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item *ngIf="driver?.id">
      Editar Motorista ({{driver.name}})
    </nz-breadcrumb-item>
    <nz-breadcrumb-item *ngIf="!driver?.id">
      Adicionar Motorista
    </nz-breadcrumb-item>
  </nz-breadcrumb>
-->
<div class="pages-header">  
  <div class="row m-b-10">
    <div class="col-lg-12 col-md-8 col-sm-12">
      <div class="d-md-flex">
        <div class="m-r-20">
          <h2 *ngIf="driver?.id">Editar Motorista - {{driver.name}}</h2>
          <h2 *ngIf="!driver?.id">Adicionar Motorista</h2>
        </div>
      </div>
    </div>
  </div>
</div>  
<nz-card>  
<nz-tabset>
    <nz-tab nzTitle="Dados principais">
      <app-drivers-form
        [driver]="driver"
        (submitForm)="submitForm($event)"
        (changePassword)="changePassword($event)"
        (driverChange)="changeDriver($event)"
        *ngIf="driver"
      ></app-drivers-form>
    </nz-tab>

    <nz-tab nzTitle="Documentos" [nzDisabled]="!driver?.id">
      <app-documents-tab
        *ngIf="driver?.id"
        resource="drivers"
        [resourceId]="driver?.id"
      ></app-documents-tab>
    </nz-tab>

    <nz-tab nzTitle="Foto do Motorista" nzDisabled>
      <app-drivers-profile-picture
        [driver]="driver"
        (onSubmit)="submitForm($event)"
        *ngIf="driver"
      ></app-drivers-profile-picture>
    </nz-tab>
  </nz-tabset>
</nz-card>
</nz-spin>