.charts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.chart-card {
  background: #fff;
  padding: 0 5px 0px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.chart-card h3 {
  color: white;
  padding: 8px 12px;
  border-radius: 4px 4px 0 0;
  margin: 0 -5px 10px -15px;
  font-weight: bold;
}


.chart-card.card_tela {
  flex: 1 1 30%;
  max-width: 30%;
}

.chart-card.card_tela canvas {
  height: 330px !important;
  width: 100% !important;
}

.chart-card.card_tela ul {
  height: 280px;
  overflow-y: auto;
}

/* ---------- Estilos por categoria ---------- */
.sm h3 {
  background-color: #007bff;
}

.nc h3 {
  background-color: #8b002e;
}

.pes h3 {
  background-color: #1f7904;
}

/* ---------- Impressão ---------- */
@media print {



  /* @page:first {
    background: url('fundo-capa.png') no-repeat center center;
    background-size: cover;
  }

  @page:left {
    background: url('fundo-esquerda.png') no-repeat center center;
    background-size: cover;
  }

  @page:right {
    background: url('fundo-direita.png') no-repeat center center;
    background-size: cover;
  } */



  body {
    background: #855151 !important;
    /* cor de fundo */
    -webkit-print-color-adjust: exact;
    /* Chrome/Safari */
    print-color-adjust: exact;
    /* Firefox */
  }

  /* força quebra sempre depois do elemento com a classe */
  .page-break {
    page-break-before: always;
    /* força ir pra próxima página */
    break-before: page;
    /* padrão moderno */
  }

  .charts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

  }

  .chart-card {
    flex: 0 1 45%;
    max-width: 45%;
    margin: 10px auto;
    page-break-inside: avoid;

    /* força a borda aparecer na impressão */
    border: 1px solid #72849a !important;

    /* alguns navegadores ignoram sombras na impressão, 
       então o melhor é trocar por uma borda */
    box-shadow: none !important;

    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .chart-card h3 {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    color: white !important;
    border-bottom: 1px solid #72849a;
    /* dá destaque no título também */
  }

  /* garante cor de fundo no print */
  .sm h3 {
    background-color: #007bff !important;
  }

  .nc h3 {
    background-color: #8b002e !important;
  }

  .pes h3 {
    background-color: #1f7904 !important;
  }

  /* Remove itens desnecessários */
  body,
  .charts-section {
    margin: 0;
    padding: 0;
  }

  h2,
  select {
    display: none !important;
  }

  canvas {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

/* ---------- Header com logo ---------- */
.dash-header {
  position: relative;
  height: 70px;
}

.dash-header h3 {
  margin: 0;
  text-align: center;
  line-height: 70px;
}

.dash-header .logo {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 100px;
  height: auto;
  padding: 5px;
  border: 1px solid #72849a;
  box-shadow: 0px 0px 5px #72849a;
  background-color: #fff;
  z-index: 9;
}

.dash-header .logo img {
  width: 100%;
  height: auto;
}