<nz-table
  #contactsTable
  [nzData]="contacts?.results"
  [nzTotal]="contacts?.count"
  [nzPageSize]="contacts?.limit"
  [nzPageIndex]="page"
  [nzFrontPagination]="false"
  (nzQueryParams)="handleQueryParamsChange($event)"
>
  <thead>
  <tr>
    <th *ngFor="let column of contactsOrderColumn" [nzSortFn]="column.compare">{{ column.title }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of contactsTable.data;  let i=index">
    <td>{{item.id | id}}</td>
    <td>
      <div class="d-flex align-items-center">
        <h6 class="m-l-10 m-b-0">{{item.name}}</h6>
      </div>
    </td>
    <td>{{item.email}}</td>
    <td>{{item.phone}}</td>
    <td>{{item.cellPhone}}</td>
    <td class="text-md-center">
      <nz-badge *ngIf="item.main" nzStatus="success"></nz-badge>
      <nz-badge *ngIf="!item.main" nzStatus="error"></nz-badge>
    </td>
    <td class="text-md-center">
      <a
        *ngIf="!item.main"
        (click)="edit(item)"
        class="m-r-5"
        nz-button
        nzType="default"
        nzShape="circle"
        nz-tooltip
        nzTooltipTitle="Tornar contato principal"
      >
        <i
          nz-icon
          nzType="star"
          theme="outline"
        ></i>
      </a>
      <a
        (click)="edit(item)"
        class="m-r-5"
        nz-button
        nzType="default"
        nzShape="circle"
        nz-tooltip
        nzTooltipTitle="Editar"
      >
        <i nz-icon nzType="edit" theme="outline"></i>
      </a><a
      (click)="delete(item)"
      nz-button
      nzType="default"
      nzShape="circle"
      nz-tooltip
      nzTooltipTitle="Excluir"
    >
      <i nz-icon nzType="delete" theme="outline"></i>
    </a>
    </td>
  </tr>
  </tbody>
</nz-table>
