.scrollable-card {
  height: 500px;
  overflow-y: scroll;
}

.square {
  height: 16px;
  width: 16px;
  display: inline-block;
  border: 1px solid black;
}

.square:not(:first-of-type) {
  margin-left: 10px;
}

/*.bg-alert {*/
/*  background: yellow;*/
/*}*/

/*.bg-default {*/
/*  background: green;*/
/*}*/

/*.bg-danger {*/
/*  background: red;*/
/*}*/

.logo {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.bg-alert {
  background: yellow;
  font-weight: bold;
}

.bg-waiting_for_start {
  background: green;
}

.bg-danger {
  background: red;
  color: #fff;
  font-weight: bold;
}

th.table-header {
  background: #187bff;
  color: #fff;
  font-weight: bold;
}


.max-width-cell {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-table th,
.custom-table td {
  border: 1px solid black;
}

th, td {
  font-weight: bold;
  font-size: 18px;
}