<nz-table
  #emailsTable
  [nzData]="emails?.results"
  [nzTotal]="emails?.count"
  [nzPageSize]="emails?.limit"
  [nzPageIndex]="page"
  [nzFrontPagination]="false"
  (nzQueryParams)="handleQueryParamsChange($event)"
>
  <thead>
  <tr>
    <th *ngFor="let column of emailsOrderColumn" [nzSortFn]="column.compare">{{ column.title }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of emailsTable.data;  let i=index">
    <td>{{item.id | id}}</td>
    <td>
      <div class="d-flex align-items-center">
        <h6 class="m-l-10 m-b-0">{{item.name}}</h6>
      </div>
    </td>
    <td>{{item.email}}</td>
    <!-- <td class="text-md-center">
      <a
        (click)="edit(item)"
        class="m-r-5"
        nz-button
        nzType="default"
        nzShape="circle"
        nz-tooltip
        nzTooltipTitle="Editar"
      >
        <i nz-icon nzType="edit" theme="outline"></i>
      </a><a
      (click)="delete(item)"
      nz-button
      nzType="default"
      nzShape="circle"
      nz-tooltip
      nzTooltipTitle="Excluir"
    >
      <i nz-icon nzType="delete" theme="outline"></i>
    </a>
    </td> -->
  </tr>
  </tbody>
</nz-table>
